<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>0001圣哉三一</string>
    <string>0002神是我拯救</string>
    <string>0003亚伯拉罕之神</string>
    <string>0004永世之光</string>
    <string>0005称谢耶和华</string>
    <string>0006名何其美</string>
    <string>0007若不藉着主耶稣</string>
    <string>0008奇妙的创造</string>
    <string>0009赞美救主</string>
    <string>0010颂主歌</string>
    <string>0011唱哈利路亚</string>
    <string>0012耶稣是配</string>
    <string>0013圣灵降临</string>
    <string>0014主为我预备的</string>
    <string>0015全地当向神欢呼</string>
    <string>0016敬拜赞美耶和华</string>
    <string>0017全能的主耶稣</string>
    <string>0018万民哪都当拍掌</string>
    <string>0019神啊！我要赞美你</string>
    <string>0020唱哈利路亚</string>
    <string>0021哈利路亚</string>
    <string>0022如果世上没有你</string>
    <string>0023一生献于主</string>
    <string>0024颂赞基督</string>
    <string>0025他名是耶和华</string>
    <string>0026主先爱我</string>
    <string>0027全地敬神</string>
    <string>0028甘泉歌</string>
    <string>0029敬拜的时候</string>
    <string>0030我只仰望于主</string>
    <string>0031歌颂神的慈爱</string>
    <string>0032何等救主</string>
    <string>0033来到祈祷山</string>
    <string>0034我的神我要敬拜你</string>
    <string>0035神创造的大能</string>
    <string>0036我要举起我手</string>
    <string>0037颂赞父神</string>
    <string>0038凡敬畏惦的无论大小</string>
    <string>0039奇妙之神</string>
    <string>0040来吧，让我们</string>
    <string>0041我们的神本为大</string>
    <string>0042你们要赞美耶和华</string>
    <string>0043我们所信的神</string>
    <string>0044我要赞美歌颂主</string>
    <string>0045父爱何等深厚</string>
    <string>0046神在作事</string>
    <string>0047清晨起来赞美主</string>
    <string>0048来穿赞美衣裳</string>
    <string>0048b我的生命我的主</string>
    <string>0049敬拜耶和华</string>
    <string>0050称颂主名</string>
    <string>0051快乐崇拜</string>
    <string>0052神已经立他</string>
    <string>0053这个奇迹</string>
    <string>0054耶稣全得胜</string>
    <string>0055伟大奇妙神</string>
    <string>0056每当我瞻仰你</string>
    <string>0057我要歌颂我要赞美</string>
    <string>0058想一想</string>
    <string>0059我们敬拜赞美</string>
    <string>0060颂赞三一</string>
    <string>0061赞美主耶稣</string>
    <string>0062哈利路亚</string>
    <string>0063齐来歌唱</string>
    <string>0064赎罪的羔羊</string>
    <string>0065我要来欢呼</string>
    <string>0066哈拿的祷颂</string>
    <string>0067用灵歌唱</string>
    <string>0068你是荣耀君王</string>
    <string>0069颂赞主名</string>
    <string>0070活水泉</string>
    <string>0071以诗歌赞美主的名</string>
    <string>0072神这样眷顾我</string>
    <string>0073颂赞全能上帝</string>
    <string>0074地的四极都想念耶和华</string>
    <string>0075都来赞美主</string>
    <string>0076当圣灵在我心</string>
    <string>0077向耶和华唱新歌</string>
    <string>0078圣灵运行在这里</string>
    <string>0079万福泉源</string>
    <string>0080满受圣灵</string>
    <string>0081神啊！你的宝座</string>
    <string>0082我们要赞美耶和华</string>
    <string>0083全然可爱</string>
    <string>0084你是什么</string>
    <string>0085向主高唱</string>
    <string>0086自然美景</string>
    <string>0087赞美的诗歌唱不完</string>
    <string>0088来啊！向神歌唱</string>
    <string>0089和散那</string>
    <string>0090主的灵在膏抹</string>
    <string>0091一群大能的子民</string>
    <string>0092荣耀真神</string>
    <string>0093基督耶稣拯救我们</string>
    <string>0094哦来向耶和华拍掌</string>
    <string>0095超乎万有</string>
    <string>0096有一位神</string>
    <string>0097耶和华用大能的手</string>
    <string>0098我在这里赞美</string>
    <string>0099神的旨意</string>
    <string>0100神作事到如今</string>
    <string>0101我要颂扬</string>
    <string>0102主有谁能与你相比</string>
    <string>0103心灵的诗歌</string>
    <string>0104荣耀归神</string>
    <string>0105你真伟大</string>
    <string>0106磐石，耶稣基督</string>
    <string>0107神是爱你的神</string>
    <string>0108同声赞美耶和华</string>
    <string>0109主啊！我要赞美你</string>
    <string>0110我要尽情的赞美歌颂你</string>
    <string>0111荣耀归主</string>
    <string>0112今到主殿</string>
    <string>0113大哉圣名</string>
    <string>0114主是我的诗歌</string>
    <string>0115千万声音</string>
    <string>0116主啊！我要赞美你</string>
    <string>0117圣灵充满</string>
    <string>0118人的生命只有一次</string>
    <string>0119点燃复兴的火焰</string>
    <string>0120生命之颂</string>
    <string>0121崇拜圣名</string>
    <string>0122当称谢进入他的门</string>
    <string>0123圣灵的能力</string>
    <string>0124向耶和华欢呼</string>
    <string>0125一起赞美主</string>
    <string>0126神是爱</string>
    <string>0127神的国</string>
    <string>0128歌颂赞美归主</string>
    <string>0129要颂赞主圣名</string>
    <string>0130慈爱上帝歌</string>
    <string>0131神登宝座</string>
    <string>0132以马内利</string>
    <string>0133荣耀的君王</string>
    <string>0134我们要称谢</string>
    <string>0135新生命王</string>
    <string>0136我要向山举目</string>
    <string>0137耶和华是战士</string>
    <string>0138用灵歌唱</string>
    <string>0139走进新的一天</string>
    <string>0140金和银</string>
    <string>0141天是耶和华的天</string>
    <string>0142奇妙救主</string>
    <string>0143默想主恩</string>
    <string>0144我们的心中多快乐</string>
    <string>0145教会颂赞</string>
    <string>0146我们满有荣光的大喜乐</string>
    <string>0147敬拜喜乐赞美</string>
    <string>0148敬拜主</string>
    <string>0149耶和华是神</string>
    <string>0150奇妙之神</string>
    <string>0151救主颂</string>
    <string>0152欢乐佳音</string>
    <string>0153圣诞之夜</string>
    <string>0154天使报信</string>
    <string>0155荣耀归真神</string>
    <string>0156谁慰主心</string>
    <string>0157耶稣明亮晨星</string>
    <string>0158普天同庆</string>
    <string>0159歌颂吧！真光来到</string>
    <string>0160众扬声赞美主</string>
    <string>0161马槽圣婴</string>
    <string>0162庆祝圣诞</string>
    <string>0163半夜歌声</string>
    <string>0164普世欢腾</string>
    <string>0165大喜信息</string>
    <string>0166明星灿烂</string>
    <string>0167荣耀真神</string>
    <string>0168耶稣降生</string>
    <string>0169主啊你真伟大</string>
    <string>0169b举起双手来赞美</string>
    <string>0170弥赛亚之歌</string>
    <string>0171主舍宝座</string>
    <string>0172圣诞佳音</string>
    <string>0173齐来崇拜</string>
    <string>0174圣诞快乐</string>
    <string>0175耶稣降生伯利恒</string>
    <string>0176平安之夜</string>
    <string>0177耶稣降生</string>
    <string>0178得神永远的产业</string>
    <string>0179以马内利来临</string>
    <string>0180东方明星</string>
    <string>0181在伯利恒旷野之乡</string>
    <string>0182敬虔的奥秘</string>
    <string>0183普天同庆</string>
    <string>0184牧人迎主</string>
    <string>0185大喜信息</string>
    <string>0186圣夜静</string>
    <string>0187十架下我低头静默思想</string>
    <string>0188救主舍命</string>
    <string>0189十架道路</string>
    <string>0190惦背着十字架</string>
    <string>0191奇妙十架</string>
    <string>0192主的身体为我们擘开</string>
    <string>0193在各各他</string>
    <string>0194爱筵我尝</string>
    <string>0195爱的道路</string>
    <string>0196各各他的十字架</string>
    <string>0197赞美救主</string>
    <string>0198各各他的路</string>
    <string>0199我跪在主面前</string>
    <string>0200想念主恩</string>
    <string>0201十字架</string>
    <string>0202主十字架</string>
    <string>0203与主同忧</string>
    <string>0204到加略山</string>
    <string>0205十架永存</string>
    <string>0206看主钉眼</string>
    <string>0207耶稣为我</string>
    <string>0208沐主恩光</string>
    <string>0209耶稣一生</string>
    <string>0210主钉十架</string>
    <string>0211我心爱主</string>
    <string>0212救主复活</string>
    <string>0213耶稣复生</string>
    <string>0214他是耶稣基督</string>
    <string>0215复活良晨</string>
    <string>0216复活在我</string>
    <string>0217天堂歌声</string>
    <string>0218凯旋曲</string>
    <string>0219救主复活</string>
    <string>0220看哪！新郎来到</string>
    <string>0221主在门口</string>
    <string>0222我王必来</string>
    <string>0223震憾</string>
    <string>0224黑夜已深</string>
    <string>0225审判日要来</string>
    <string>0226末日点来</string>
    <string>0227再来奖赏</string>
    <string>0228主必快来</string>
    <string>0229何等大的慈爱</string>
    <string>0230除你以外在天上我还能有谁</string>
    <string>0231回想耶稣在世上</string>
    <string>0232大救恩</string>
    <string>0233耶稣宝贝</string>
    <string>0234他能赦免</string>
    <string>0235神是应当称颂的</string>
    <string>0236举起救恩的杯</string>
    <string>0237走过的路</string>
    <string>0238以爱为旗在我以上</string>
    <string>0239曙光</string>
    <string>0240我只要主耶稣</string>
    <string>0241十字架的爱</string>
    <string>0242耶稣永爱我</string>
    <string>0243守约施慈爱</string>
    <string>0244忠心传扬主的名</string>
    <string>0245主大慈爱</string>
    <string>0246心曲</string>
    <string>0247主我心说爱你</string>
    <string>0248每当我想起主钉十架</string>
    <string>0249若</string>
    <string>0250当趁着年轻</string>
    <string>0251奇妙恩典</string>
    <string>0252认识了主</string>
    <string>0253当我踏上这条路</string>
    <string>0254教会根基</string>
    <string>0255谁能使我们</string>
    <string>0256主总是这样爱我</string>
    <string>0257当我将死在狼的口</string>
    <string>0258在谷中我遇你</string>
    <string>0259牺牲的爱</string>
    <string>0260主啊我赞美你</string>
    <string>0261用我们的热情</string>
    <string>0262神啊求蚜仰脸</string>
    <string>0263耶和华拉法</string>
    <string>0264奇妙的双手</string>
    <string>0264b神羔羊</string>
    <string>0265生命路</string>
    <string>0266主是我密友良伴</string>
    <string>0267算计恩典</string>
    <string>0268主爱无量</string>
    <string>0269万古磐石</string>
    <string>0270惟有耶稣基督的救恩</string>
    <string>0271彰显主爱</string>
    <string>0272是爱</string>
    <string>0273主我回想你</string>
    <string>0274大海中的波浪啊</string>
    <string>0275主爱有多少</string>
    <string>0276无声的赞美</string>
    <string>0277我一生最大的事</string>
    <string>0278你爱有多深</string>
    <string>0279主爱催人泪下</string>
    <string>0280新的一天</string>
    <string>0281在我很小的时候</string>
    <string>0282主你救我的灵魂</string>
    <string>0283耶稣我激动的对你说</string>
    <string>0284主的慈爱讲不完</string>
    <string>0285苍天大地作证</string>
    <string>0286欢呼主耶稣</string>
    <string>0287主你若究查罪孽</string>
    <string>0288荣耀归主</string>
    <string>0289主爱最长久</string>
    <string>0290以色列人在旷野</string>
    <string>0291每当我想起你</string>
    <string>0292主爱我的爱</string>
    <string>0293除你以外</string>
    <string>0294最大的财富</string>
    <string>0295同一个地球</string>
    <string>0296听我心声</string>
    <string>0297喝你乐河的水</string>
    <string>0298我的神请你记住今天</string>
    <string>0299思慕主爱</string>
    <string>0300荒漠甘泉</string>
    <string>0301神的爱</string>
    <string>0302奇异恩典</string>
    <string>0303到神的殿谨慎脚步</string>
    <string>0304这是耶和华所定的日子</string>
    <string>0305擘生命饼</string>
    <string>0306乐守圣日</string>
    <string>0307唱诗我颂神</string>
    <string>0308带着你的欢笑</string>
    <string>0309生命的粮</string>
    <string>0310生命的源头</string>
    <string>0311相聚在圣山</string>
    <string>0312圣经的话</string>
    <string>0313主啊</string>
    <string>0314复兴教会</string>
    <string>0315这里有神的同在</string>
    <string>0316神的教会</string>
    <string>0317聚会大意</string>
    <string>0318复兴你工作主</string>
    <string>0319聚会大意</string>
    <string>0320纪念主</string>
    <string>0321再度聚首圣山</string>
    <string>0322歌唱吧！同声来歌唱</string>
    <string>0323黑门的甘露</string>
    <string>0324今来就主</string>
    <string>0325救赎</string>
    <string>0326领我归回群羊</string>
    <string>0327主蚜儿女的命运在蚜手里</string>
    <string>0328谦卑随主</string>
    <string>0329这百姓干渴并非无水</string>
    <string>0330再给我一个机会</string>
    <string>0331主爱化我心</string>
    <string>0332专一爱主</string>
    <string>0333悔改的心</string>
    <string>0334我是浪子离开家乡</string>
    <string>0335信耶稣才拥有</string>
    <string>0336浪子回头</string>
    <string>0337信主才能救我</string>
    <string>0338主求你怜悯我</string>
    <string>0339圣洁仁爱</string>
    <string>0340灵风吹我心</string>
    <string>0341失迷的羊</string>
    <string>0342劝</string>
    <string>0343我的意念不洁</string>
    <string>0344求主怜恤</string>
    <string>0345小小舌头真可怕</string>
    <string>0346我的罪何等重大</string>
    <string>0347你说过</string>
    <string>0348何等平安喜乐</string>
    <string>0349在神前省察</string>
    <string>0350为什么不走出那城</string>
    <string>0351洗罪之泉</string>
    <string>0352不要等到明天再说</string>
    <string>0353主 是我否</string>
    <string>0354起来到父亲那里去</string>
    <string>0355再去寻起初的心</string>
    <string>0356十个童女</string>
    <string>0357仔细想想</string>
    <string>0358主恩更多</string>
    <string>0359苏醒</string>
    <string>0360心灵改变</string>
    <string>0361我的歌</string>
    <string>0362现在要听从我</string>
    <string>0363进入迦南</string>
    <string>0364还要远行</string>
    <string>0365我最爱听耶稣的故事</string>
    <string>0366他是我一生的追求</string>
    <string>0367耶稣是我的希望</string>
    <string>0368永远跟着异象</string>
    <string>0369要回家</string>
    <string>0370历史的长河送走昨天</string>
    <string>0371共同兴旺福音</string>
    <string>0372中华要兴起</string>
    <string>0373人的生命何等短暂</string>
    <string>0374青年兴起</string>
    <string>0375我们要走一条宣教的路</string>
    <string>0376个人布道</string>
    <string>0377宣教的心连起来</string>
    <string>0378想</string>
    <string>0379有一句话我们永远要说</string>
    <string>0380我们要世界宣教</string>
    <string>0381耶稣爱你</string>
    <string>0382主等你来</string>
    <string>0383盼望好消息</string>
    <string>0384真神爱世人</string>
    <string>0385爱的呼召爱的托付</string>
    <string>0386日光之上</string>
    <string>0387生命的内容</string>
    <string>0388因为我们</string>
    <string>0389让你去到那边</string>
    <string>0390一件礼物</string>
    <string>0391为什么拒绝</string>
    <string>0392末日迫近了</string>
    <string>0393宝血洗净</string>
    <string>0394仰望主得生</string>
    <string>0395朋友请听</string>
    <string>0396鸽子，飞吧</string>
    <string>0397复兴在今天</string>
    <string>0398福音宣召</string>
    <string>0399点亮你希望的灯</string>
    <string>0400求救歌</string>
    <string>0401接神至心</string>
    <string>0402生死线上</string>
    <string>0403田地里的庄稼</string>
    <string>0404慈悲救主</string>
    <string>0405今生不比永恒长</string>
    <string>0406快来信耶稣</string>
    <string>0407赶紧传道</string>
    <string>0408无名的传道人</string>
    <string>0409燃烧吧！福音的火</string>
    <string>0410风和爱</string>
    <string>0411一次次风吹雨打</string>
    <string>0412中华就是第四等的田</string>
    <string>0413耶稣愿意救罪人</string>
    <string>0414快去传扬</string>
    <string>0415不知道哪一天是人生的终点</string>
    <string>0416行进之歌</string>
    <string>0417好消息</string>
    <string>0418人生之舟</string>
    <string>0419快送光</string>
    <string>0420求你不要耽延</string>
    <string>0421永恒的答问</string>
    <string>0422寻找</string>
    <string>0423在人生茫茫的旷野</string>
    <string>0424我们跟着异象走</string>
    <string>0425福音的勇士们</string>
    <string>0426爱之歌</string>
    <string>0427耶稣真爱你</string>
    <string>0428远行</string>
    <string>0429人生的福</string>
    <string>0430传福音吧</string>
    <string>0431在母腹中</string>
    <string>0432耶稣的脚走遍</string>
    <string>0433宇宙万物从哪里来</string>
    <string>0434荣耀归他</string>
    <string>0435一生还是要传福音</string>
    <string>0436一人不能完成大使命</string>
    <string>0437马可楼祷告歌</string>
    <string>0438我们要捷足先登</string>
    <string>0439广传福音</string>
    <string>0440使我今天救灵魂</string>
    <string>0441快还福音债</string>
    <string>0442主的恩召</string>
    <string>0443你在哪里</string>
    <string>0444传福音给万民听</string>
    <string>0445奉献</string>
    <string>0446当岁月和人群正召唤我们</string>
    <string>0447曾有很多的时候</string>
    <string>0448主所爱的人在哪里</string>
    <string>0449不要问我</string>
    <string>0450走出去</string>
    <string>0451圣灵来了</string>
    <string>0452智慧的人</string>
    <string>0453怎能</string>
    <string>0454身心奉献主</string>
    <string>0455再燃宣教的火</string>
    <string>0456主啊我愿一生献于你</string>
    <string>0457献身为活祭</string>
    <string>0458我们的身份</string>
    <string>0459我们是神手中的工作</string>
    <string>0460一代天娇</string>
    <string>0461羊啊羊！那么多的羊</string>
    <string>0462主日传道</string>
    <string>0463爱火燃烧少年心</string>
    <string>0464奉献</string>
    <string>0465要把福音传</string>
    <string>0466我心爱慕</string>
    <string>0467还是走十字架的路</string>
    <string>0468走上不归路</string>
    <string>0469主你要我的是什么</string>
    <string>0470愿有耶稣</string>
    <string>0471速速兴起</string>
    <string>0472为主流浪</string>
    <string>0473完全献上</string>
    <string>0474人生还有几个春秋</string>
    <string>0475人生好虚空</string>
    <string>0476愿像基督</string>
    <string>0477走吧我们走吧</string>
    <string>0478都归耶稣</string>
    <string>0479你拿什么报答耶和华</string>
    <string>0480请听主柔声对你说</string>
    <string>0481天空的行云</string>
    <string>0482愿献所有</string>
    <string>0483关心神家</string>
    <string>0484我真怕有一天</string>
    <string>0485为福音一生无悔</string>
    <string>0486涛声依旧</string>
    <string>0487乐做主仆</string>
    <string>0488快速兴起</string>
    <string>0489作一粒种子奉献自己</string>
    <string>0490一根蜡烛</string>
    <string>0491这条路你要去走</string>
    <string>0492愿作一粒种子</string>
    <string>0493爱的呼唤</string>
    <string>0494我们都愿意献上一生</string>
    <string>0495愿被主用</string>
    <string>0496曾经</string>
    <string>0497既然跟从了主啊</string>
    <string>0498人生的改变</string>
    <string>0499人是中国人</string>
    <string>0500在普世传福音的工作上</string>
    <string>0501主差遣两个两个的出去</string>
    <string>0502在外的日子</string>
    <string>0503耶稣走过来</string>
    <string>0504求主怜悯</string>
    <string>0505曾经</string>
    <string>0506我告诉你</string>
    <string>0507耶稣我们唯一的盼望</string>
    <string>0508耶和华的膀臂并非缩短</string>
    <string>0509仰望神的人</string>
    <string>0510在我身边有一个篱笆</string>
    <string>0511世间有不尽的烦恼</string>
    <string>0512苦难中的恩典</string>
    <string>0513我不会忘记</string>
    <string>0514主是我们的避难所</string>
    <string>0515安稳在主手中</string>
    <string>0516天父看顾</string>
    <string>0517惟主是亲人</string>
    <string>0518你看今是何时</string>
    <string>0519主怀念我</string>
    <string>0520风雨的岁月</string>
    <string>0521道路追求</string>
    <string>0522有耶稣真美好</string>
    <string>0523因着耶稣爱的缘故</string>
    <string>0524十架不会重于主恩典</string>
    <string>0525主啊！我需要你的话语</string>
    <string>0526夜里虽有哭泣早晨便必欢呼</string>
    <string>0527你当告诉耶稣</string>
    <string>0528主如明亮晨星</string>
    <string>0529主是避难所</string>
    <string>0530耶和华我们的依靠</string>
    <string>0531人生的道路</string>
    <string>0532神未曾应许</string>
    <string>0533无困难的事</string>
    <string>0534在主里有真平安</string>
    <string>0535不知道哪一天</string>
    <string>0536因救我的神喜乐</string>
    <string>0537主作我友</string>
    <string>0538属灵的道路</string>
    <string>0539主是我们保障</string>
    <string>0540哭过笑过唱过沉默过</string>
    <string>0541与主同行</string>
    <string>0542去经历神的同在</string>
    <string>0543听主说</string>
    <string>0544神的话是我生命的保障</string>
    <string>0545主在我们的中间</string>
    <string>0546耶稣为友</string>
    <string>0547古老的穹苍</string>
    <string>0548约瑟的故事</string>
    <string>0549主眷顾你我</string>
    <string>0550他能帮你</string>
    <string>0551小路</string>
    <string>0552我好象一只受伤的小鸟</string>
    <string>0553主曾向我显现</string>
    <string>0554主是磐石</string>
    <string>0555神必帮助</string>
    <string>0556别怕路艰难</string>
    <string>0557我们的名字不再叫雅各</string>
    <string>0558我们欢笑着继续</string>
    <string>0559握手</string>
    <string>0560他都知道</string>
    <string>0561这条路上最苦</string>
    <string>0562耶稣给你平安</string>
    <string>0563我的力量我的山寨</string>
    <string>0564主虽然以艰难给你</string>
    <string>0565不要轻易就说放弃</string>
    <string>0566他已作成了</string>
    <string>0567信靠耶和华</string>
    <string>0568献给无名的传道者</string>
    <string>0569我的救赎者活着</string>
    <string>0570不管有什么环境</string>
    <string>0571回忆当初蒙召的时候</string>
    <string>0572求主帮助</string>
    <string>0573亚伯拉罕的故事</string>
    <string>0574人生</string>
    <string>0575他不误事</string>
    <string>0576跟随耶稣走</string>
    <string>0577赶路</string>
    <string>0578虽是四面楚歌</string>
    <string>0579看不见的时候</string>
    <string>0580他不失信</string>
    <string>0581要倚靠主</string>
    <string>0582耶稣与我同在</string>
    <string>0583同工守则</string>
    <string>0584生命江河</string>
    <string>0585赏赐</string>
    <string>0586归应许地</string>
    <string>0587希望之星</string>
    <string>0588神必给你成就</string>
    <string>0589我向神仰望交托的时候</string>
    <string>0590不要惧怕</string>
    <string>0591你不会错</string>
    <string>0592不为明天忧虑</string>
    <string>0593主我心依靠你</string>
    <string>0594你所信的是谁</string>
    <string>0595信心之歌</string>
    <string>0596信心的赞美</string>
    <string>0597从新得力</string>
    <string>0598不知道前方的路还有多远</string>
    <string>0599我知道我的救主活着</string>
    <string>0600千万不要象那风中的墙头草</string>
    <string>0601主恩典够我用</string>
    <string>0602信心更坚强</string>
    <string>0603主意尽美</string>
    <string>0604走向光明</string>
    <string>0605主再来我该怎么办</string>
    <string>0606你当默默无声</string>
    <string>0607道路顺服</string>
    <string>0608信心生活</string>
    <string>0609不要问</string>
    <string>0610唱诗就有力量</string>
    <string>0611拉着你的手</string>
    <string>0612主内喜乐</string>
    <string>0613主永活在我心</string>
    <string>0614耶稣不改变</string>
    <string>0615耶稣同在就是天堂</string>
    <string>0616主说复活在惦</string>
    <string>0617金钱不是万能</string>
    <string>0618旷野开道路</string>
    <string>0619靠主今天活的潇洒</string>
    <string>0620靠主引导</string>
    <string>0621主是我牧人</string>
    <string>0622亲爱的主你今召我回来</string>
    <string>0623大海中的船</string>
    <string>0624尊主喜乐</string>
    <string>0625耶稣领我</string>
    <string>0626耶稣！现代人的希望</string>
    <string>0627亲爱主牵我手</string>
    <string>0628主爱滋润我心</string>
    <string>0629主常看顾</string>
    <string>0630除了耶和华，谁是神呢？</string>
    <string>0631耶稣给你指出方向</string>
    <string>0632不要彷徨勿要惆怅</string>
    <string>0633圣灵带着你我走</string>
    <string>0634良伴的引导</string>
    <string>0635我的脚踏定了你的路</string>
    <string>0636主爱的搀扶</string>
    <string>0637你是我脚前的灯</string>
    <string>0638生命的小路</string>
    <string>0639主啊我算什么</string>
    <string>0640主你是我知心朋友</string>
    <string>0641跟随救主</string>
    <string>0642行路的人</string>
    <string>0643我不知明天的道路</string>
    <string>0644当依靠主</string>
    <string>0645有一条路</string>
    <string>0646主的羊听主的声音</string>
    <string>0647耶和华是我牧者</string>
    <string>0648心中的光</string>
    <string>0649灵程路上</string>
    <string>0650耶稣！全人类的希望</string>
    <string>0651也许</string>
    <string>0652努力向前走</string>
    <string>0653起来</string>
    <string>0654活出生命的色彩</string>
    <string>0655大能勇士</string>
    <string>0656神国是努力进入的</string>
    <string>0657你要知道</string>
    <string>0658放下一切重担</string>
    <string>0659至死顺服像羔羊</string>
    <string>0660十字架是苦难恩典荣耀</string>
    <string>0661谁是牧羊人</string>
    <string>0662工作回忆</string>
    <string>0663信徒如同精兵</string>
    <string>0664昨日的忠心丢在哪儿</string>
    <string>0665我们不后悔</string>
    <string>0666向主尽忠</string>
    <string>0667小事上忠心</string>
    <string>0668那美好的仗</string>
    <string>0669往前走</string>
    <string>0670重逢</string>
    <string>0671不可丢弃勇敢的心</string>
    <string>0672我前热心</string>
    <string>0673苦海的漩涡</string>
    <string>0674神显作为</string>
    <string>0675宝贝放在瓦器里</string>
    <string>0676谁与主同心</string>
    <string>0677有谁在闲站</string>
    <string>0678在耶和华殿里看门的人</string>
    <string>0679末世必有危险的日子</string>
    <string>0680羔羊血洗净</string>
    <string>0681他们走路的时候</string>
    <string>0682更进一步</string>
    <string>0683是谁为主</string>
    <string>0684求主带领</string>
    <string>0685永生的路</string>
    <string>0686踏上天国征途</string>
    <string>0687来吧！我们要来跟随主</string>
    <string>0688忘记背后</string>
    <string>0689为主殉道</string>
    <string>0690我心爱主</string>
    <string>0691忍耐歌</string>
    <string>0692凄风苦雨</string>
    <string>0693炼我愈精</string>
    <string>0694时代的火焰</string>
    <string>0695我灵渴慕你</string>
    <string>0696我怎能不爱主</string>
    <string>0697我的心愿</string>
    <string>0698与主同活</string>
    <string>0699我的灵真渴慕</string>
    <string>0700你孤单么</string>
    <string>0701中国心</string>
    <string>0702如何见主</string>
    <string>0703主看顾</string>
    <string>0704主啊！我要更爱你</string>
    <string>0705留一颗心填满耶稣</string>
    <string>0706为主而活</string>
    <string>0707愿将我的心给你</string>
    <string>0708恩典中的恩典</string>
    <string>0709你耳边是否有</string>
    <string>0710主给我的太多</string>
    <string>0711把你的人生交给主掌管</string>
    <string>0712用信心与蚜面对面</string>
    <string>0713我宁愿失去</string>
    <string>0714有谁像你</string>
    <string>0715主，我们需要你</string>
    <string>0716求你垂听我呼求</string>
    <string>0717主当我心完全归你</string>
    <string>0718有主当知足</string>
    <string>0719告别童年的梦</string>
    <string>0720活的更加潇洒</string>
    <string>0721我们在等待</string>
    <string>0722需要耶稣</string>
    <string>0723我之愿</string>
    <string>0724主为寻浪子</string>
    <string>0725复兴不再是空话</string>
    <string>0726感恩的泪水</string>
    <string>0727亲爱的阿爸父</string>
    <string>0728儆醒等候</string>
    <string>0729主啊！我亲近你</string>
    <string>0730与主结伴行</string>
    <string>0731我别无所求</string>
    <string>0732属灵之乐</string>
    <string>0733从今天开始</string>
    <string>0734主，求蚜</string>
    <string>0735展开清晨的翅膀</string>
    <string>0735b掌管我心</string>
    <string>0736感恩</string>
    <string>0737只要能得到你</string>
    <string>0738我不求别的</string>
    <string>0739义人的经历</string>
    <string>0740起来作事</string>
    <string>0741描写主爱</string>
    <string>0742你遇见主了吗</string>
    <string>0743切切的呼求</string>
    <string>0744进入你的内室</string>
    <string>0745我是一只笼中小鸟</string>
    <string>0746有时候</string>
    <string>0747你为何要跟主走</string>
    <string>0748生命的渴望</string>
    <string>0749主当我跪下的时候</string>
    <string>0750向主倾诉</string>
    <string>0751拥有主快乐无比</string>
    <string>0752投进主的怀抱</string>
    <string>0753主前问心</string>
    <string>0754这是我的心声</string>
    <string>0755尽管他</string>
    <string>0756要主自己</string>
    <string>0757加倍的灵</string>
    <string>0758主爱最甜蜜</string>
    <string>0759与主更亲</string>
    <string>0760以马内利</string>
    <string>0761主最需要我们有怜悯的心</string>
    <string>0762抛开属地的追求</string>
    <string>0763我已经懂得怎样去选择</string>
    <string>0764救主领我出</string>
    <string>0765求你一件事</string>
    <string>0766为我生命而预备</string>
    <string>0767圣徒生活</string>
    <string>0768神的殿荒凉</string>
    <string>0769求主开我眼睛</string>
    <string>0770我们不会忘记</string>
    <string>0771阿爸在家中等着我</string>
    <string>0772主使我满足</string>
    <string>0773主你最知道</string>
    <string>0774神让我们都知道</string>
    <string>0775求主给我一颗心</string>
    <string>0776为了生存</string>
    <string>0777黎明前必定有黑暗</string>
    <string>0778若不是圣灵的引导</string>
    <string>0779求主长在我心</string>
    <string>0780主啊，唤醒我的心</string>
    <string>0781求主动工</string>
    <string>0782这是我的心愿</string>
    <string>0783回首再回首</string>
    <string>0784不要留恋</string>
    <string>0785常常喜乐</string>
    <string>0786爱主更深</string>
    <string>0787主我们深深的知道</string>
    <string>0788主爱无法表白</string>
    <string>0789我得了秘诀</string>
    <string>0790在基督耶稣里</string>
    <string>0791圣灵来到</string>
    <string>0792让我们来祷告吧</string>
    <string>0793末后的光景</string>
    <string>0794因我知道你是谁</string>
    <string>0795求主快复兴我</string>
    <string>0796基督的旗舰</string>
    <string>0797我已找到盼望</string>
    <string>0798倾听主的声音</string>
    <string>0799我以你的律例为诗歌</string>
    <string>0800歌唱主爱</string>
    <string>0801在我心灵的深处</string>
    <string>0802在这些仅存的年间</string>
    <string>0803当仰望神</string>
    <string>0804祝愿歌</string>
    <string>0805愿那灵火复兴我</string>
    <string>0806进深进深</string>
    <string>0807务要圣洁</string>
    <string>0808神不变的爱</string>
    <string>0809兴起吧我的心</string>
    <string>0810我的心只属于你</string>
    <string>0811点燃的蜡烛</string>
    <string>0812热心吧！弟兄姊妹</string>
    <string>0813有谁能与主儆醒到天亮</string>
    <string>0814不要贪财</string>
    <string>0815主我想问一问你</string>
    <string>0816你是我的神</string>
    <string>0817拥有主我心满足</string>
    <string>0818万物结局近了</string>
    <string>0819主若是</string>
    <string>0820撒网的人</string>
    <string>0821你接我否</string>
    <string>0822走出软弱</string>
    <string>0823主我的灵呼唤你</string>
    <string>0824主我愿单属你</string>
    <string>0825不可忘恩</string>
    <string>0826有一位好朋友</string>
    <string>0827愿将我的心归你</string>
    <string>0828你当诚心祷告主</string>
    <string>0829你我同行</string>
    <string>0830上山下山</string>
    <string>0831再相会</string>
    <string>0832同胞哪有灵胞亲</string>
    <string>0833何时相见</string>
    <string>0834欢迎欢迎</string>
    <string>0835主爱永偕</string>
    <string>0836今天的相聚难忘怀</string>
    <string>0837走过秋天</string>
    <string>0838我们团聚在这里</string>
    <string>0839独木不成林</string>
    <string>0840和好</string>
    <string>0841在基督里我们是</string>
    <string>0842愿神的仆人都平平安安</string>
    <string>0843一同跟主走天涯</string>
    <string>0844合一相爱</string>
    <string>0845跟着圣灵走</string>
    <string>0846遥祝亲人</string>
    <string>0847我们都是神的儿女</string>
    <string>0848和睦同居</string>
    <string>0849在主里祝福你</string>
    <string>0850青春和昨天来不及回顾</string>
    <string>0851相约在主里</string>
    <string>0852同路人</string>
    <string>0853一位耶稣牵动着万国人的心</string>
    <string>0854不要再犯错</string>
    <string>0855有分离就有相聚</string>
    <string>0856总有一条路把我们相连</string>
    <string>0857主爱把我们紧相连</string>
    <string>0858我们携手走向明天</string>
    <string>0859再相逢</string>
    <string>0860我祝愿神的仆人</string>
    <string>0861永住神的殿</string>
    <string>0862举手</string>
    <string>0863主啊你若不为我们祝福</string>
    <string>0864祝福我的家</string>
    <string>0865中国的夜晚</string>
    <string>0866今夜难眠</string>
    <string>0867多方祷告</string>
    <string>0868宣教的中国</string>
    <string>0869我们祈祷</string>
    <string>0870怜悯我中华</string>
    <string>0871主啊！求你兴起我</string>
    <string>0872为我与我的父家献上赎罪祭</string>
    <string>0873献上你虔诚的祈祷</string>
    <string>0874祈祷和平</string>
    <string>0875愿我同胞全归耶稣</string>
    <string>0876我们要祷告</string>
    <string>0877我以祷告来到你面前</string>
    <string>0878送给你远方亲人</string>
    <string>0879求主拯救我们的家</string>
    <string>0880主我一跪下</string>
    <string>0881中华就是第四等的田</string>
    <string>0882为和平祈祷</string>
    <string>0883中国大有希望</string>
    <string>0884中国的早晨五点钟</string>
    <string>0885天父啊！我现在向蚜跪下</string>
    <string>0886盼望永恒的国度</string>
    <string>0887我家在天</string>
    <string>0888赞慕美地</string>
    <string>0889问客何往</string>
    <string>0890我必识主</string>
    <string>0891我多想飞</string>
    <string>0892啊！家乡</string>
    <string>0893天堂真快乐</string>
    <string>0894美好的天堂为我们预备</string>
    <string>0895甘美天家</string>
    <string>0896天家</string>
    <string>0897世界是旅行地方</string>
    <string>0898天城美景</string>
    <string>0899荣美家乡</string>
    <string>0900啊！多美的家</string>
    <string>0901我家在天</string>
    <string>0902有一地方</string>
    <string>0903主就是从天降临</string>
    <string>0904生命河岸</string>
    <string>0905去不去</string>
    <string>0906基督化家庭</string>
    <string>0907基督之家</string>
    <string>0908恭逢婚礼</string>
    <string>0909教会婚礼</string>
    <string>0910公行婚礼</string>
    <string>0911人生的虚空</string>
    <string>0912何为人生</string>
    <string>0913门徒去世</string>
    <string>0914门徒去世</string>
    <string>0915主里安息</string>
    <string>0916世福无常</string>
    <string>0917信徒归回</string>
    <string>0918走向新时代</string>
    <string>0919明天歌</string>
    <string>0920新年赞美</string>
    <string>0921日子一天天的过去</string>
    <string>0922新年祝福</string>
    <string>0923新年贺歌</string>
    <string>0924主恩奇妙</string>
    <string>0925新年歌</string>
    <string>0926新年赞歌</string>
    <string>0927我有明天</string>
    <string>0928青春献于神</string>
    <string>0929好时光</string>
    <string>0930晨更赞美</string>
    <string>0931问问自己站在哪里</string>
    <string>0932教会灵战</string>
    <string>0933全能名</string>
    <string>0934精兵前进</string>
    <string>0935救恩丰满</string>
    <string>0936耶稣得胜</string>
    <string>0937属灵的争战</string>
    <string>0938耶稣的名大有权柄</string>
    <string>0939权能是在血</string>
    <string>0940靠着耶稣圣名</string>
    <string>0941耶稣元帅</string>
    <string>0942稍微不儆醒</string>
    <string>0943我们乃主精兵</string>
    <string>0944平安夜里真平安</string>
    <string>0945我要唱那最美的歌</string>
    <string>0946我的心中快乐</string>
    <string>0947主在我船上</string>
    <string>0948教养孩童</string>
    <string>0949耶稣救主爱小孩</string>
    <string>0950天国天国真美丽</string>
    <string>0951小朋友快来</string>
    <string>0952主找迷羊</string>
    <string>0953我是天上小国民</string>
    <string>0954我们小孩</string>
    <string>0955天父世界</string>
    <string>0956神啊！你曾试验我们</string>
    <string>0957往耶和华殿去</string>
    <string>0958主为我们预备地方</string>
    <string>0959仍靠耶和华</string>
    <string>0960因神先爱我们</string>
    <string>0961神所要的是什么呢</string>
    <string>0962爱的真谛</string>
    <string>0963不从恶人的计谋</string>
    <string>0964主祷文</string>
    <string>0965耶和华啊</string>
    <string>0966都要敬畏耶和华</string>
    <string>0967真爱要等待</string>
    <string>0968教会真意</string>
    <string>0969乐善歌</string>
    <string>0970想起主的恩典</string>
    <string>0971主，我爱你</string>
    <string>0972看哪！神的帐幕在人间</string>
    <string>0973感谢主耶稣</string>
    <string>0974充满信心充满盼望</string>
    <string>0975圣灵的果子</string>
    <string>0976这么大的救恩怎能忽略</string>
    <string>0977他在全地被尊崇</string>
    <string>0978等候耶和华</string>
    <string>0979不可爱世界</string>
    <string>0980你当倚靠耶和华</string>
    <string>0981凯歌</string>
    <string>0982你要称颂耶和华</string>
    <string>0983人心比万物都诡诈</string>
    <string>0984仍得救恩之乐</string>
    <string>0985凡接待主的</string>
    <string>0986当弟兄软弱的时候</string>
    <string>0987主是葡萄树</string>
    <string>0988神已将他高举</string>
    <string>0989不可叫人小看你年轻</string>
    <string>0990你们要谨慎</string>
    <string>0991回家</string>
    <string>0992感恩歌</string>
    <string>0993主独自引导</string>
    <string>0994称颂耶和华</string>
    <string>0995开你心门</string>
    <string>0996主到世上来</string>
    <string>0997赞美歌声</string>
    <string>0998他作王直到永远</string>
    <string>0999新旧约目录歌</string>
    <string>1000你的眼睛若了亮</string>
    <string>1001新天新地</string>
    <string>1002神要开道路</string>
    <string>1003开启双眼</string>
    <string>1004我心快乐</string>
    <string>1005主爱永不改变</string>
    <string>1006全家要同心</string>
    <string>1007主！我今背十架</string>
    <string>1008加略山的爱</string>
    <string>1009尊贵荣耀丰富归主</string>
    <string>1010放下你的旗帜</string>
    <string>1011离别歌</string>
    <string>1012平安的日子</string>
    <string>1013离了主我就不能做什么</string>
    <string>1014奉你名得胜利</string>
    <string>1015假冒伪善</string>
    <string>1016在你的爱中真美好</string>
    <string>1017我赤身出于母胎</string>
    <string>1018感谢感谢耶稣</string>
    <string>1019清心祷告主</string>
    <string>1020主凡事恩待我们</string>
    <string>1021世人哪</string>
    <string>1022再活一次</string>
    <string>1023从天降下来</string>
    <string>1024主啊！你配受赞美</string>
    <string>1025知道向你欢呼</string>
    <string>1026唱哈利路亚</string>
    <string>1027主的恩典</string>
    <string>1028基督精兵</string>
    <string>1029要祷告</string>
    <string>1030耶稣在你家</string>
    <string>1031打胜仗</string>
    <string>1032必须倒空</string>
    <string>1033十架大权能</string>
    <string>1034做无愧的工人</string>
    <string>1035他的怒气</string>
    <string>1036神爱的人</string>
    <string>1037我赐给你们一条新命令</string>
    <string>1038主爱不变</string>
    <string>1039我已经与基督同钉</string>
    <string>1040如香陈列</string>
    <string>1041当放下各样重担</string>
    <string>1042好处不在你以外</string>
    <string>1043爱心信心</string>
    <string>1044直等到主来</string>
    <string>1045基督降世</string>
    <string>1046受洗</string>
    <string>1047相聚在爱里</string>
    <string>1048妇人焉能忘记</string>
    <string>1049求主用我</string>
    <string>1050盼望被提</string>
    <string>1051兄弟姐妹手牵手</string>
    <string>1052定事有耶和华</string>
    <string>1053主给这个地方</string>
    <string>1054我们团结起来力量大</string>
    <string>1055自以为有智慧</string>
    <string>1056你的头发已被神数算</string>
    <string>1057主，我邀请你</string>
    <string>1058各按其时何等美好</string>
    <string>1059主顾念贫穷人</string>
    <string>1060我的主宰</string>
    <string>1061主快来</string>
    <string>1062我荒漠的甘泉</string>
    <string>1063耶和华啊！求你兴起</string>
    <string>1064主必眷顾</string>
    <string>1065主里合一</string>
    <string>1066主爱无可比</string>
    <string>1067得胜得胜哈利路亚</string>
    <string>1068爱也好信也好</string>
    <string>1069复兴的时代</string>
    <string>1070忙来变歌</string>
    <string>1071为JSCT完成这使命</string>
    <string>1072求主看顾</string>
    <string>1073最好的老师</string>
    <string>1074耶稣至宝</string>
    <string>1075因信大有盼望</string>
    <string>1076你的亲人在哪里</string>
    <string>1077认罪悔改</string>
    <string>1078来真心懊悔</string>
    <string>1079主爱我必爱到底</string>
    <string>1080主啊听说你快回来了</string>
    <string>1081宝血洁净我</string>
    <string>1082祈求天上的神</string>
    <string>1083主的丰盛</string>
    <string>1084中国人要起来</string>
    <string>1085颂赞耶和华</string>
    <string>1086压伤的芦苇</string>
    <string>1087耶和华靠近</string>
    <string>1088神爱世人</string>
    <string>1089你当刚强壮胆</string>
    <string>1090求主鉴察</string>
    <string>1091自从我认识耶稣</string>
    <string>1092主你的爱永在我心里</string>
    <string>1093太阳月亮</string>
    <string>1094主当我遇见你的时候</string>
    <string>1095主的慈爱没有改变</string>
    <string>1096主我要尊崇你</string>
    <string>1097我的神啊！求蚜起来帮助我</string>
    <string>1098我今天为你祝福</string>
    <string>1099我们要休息</string>
    <string>1100宝血中的释放</string>
    <string>1101向耶和华唱诗</string>
    <string>1102只有干渴的人才知道泉水的甘甜</string>
    <string>1103神所要的祭</string>
    <string>1104认识你真好</string>
    <string>1105因神大欢喜</string>
    <string>1106一样的感动为中国鼓掌</string>
    <string>1107他来关乎万民万国</string>
    <string>1108我切慕你的同在</string>
    <string>1109万国的大使命</string>
    <string>1110世界非我家</string>
    <string>1111我今来</string>
    <string>1112爱，我愿意</string>
    <string>1113祷告</string>
    <string>1114犹大支派</string>
    <string>1115主在你心外叩门</string>
    <string>1116心中两个王</string>
    <string>1117献己于主</string>
    <string>1118瞎子得看见</string>
    <string>1119背道的儿女啊，回来吧</string>
    <string>1120永生门</string>
    <string>1121主啊我愿作个基督徒</string>
    <string>1122时刻赞美主</string>
    <string>1123献上自己为祭</string>
    <string>1124寻找</string>
    <string>1125倾听我的心</string>
    <string>1126用我一生</string>
    <string>1127同心走天涯</string>
    <string>1128鼓舞</string>
    <string>1129很多人爱心冷淡</string>
    <string>1130站在主殿中</string>
    <string>1131黑暗中的光芒</string>
    <string>1132赞美祭</string>
    <string>1133来吧！归向耶和华</string>
    <string>1134弹琴歌唱赞美你</string>
    <string>1135人子耶稣寻亡羊</string>
    <string>1136全地最美名</string>
    <string>1137向神仰望</string>
    <string>1138爱却长存</string>
    <string>1139新天新地</string>
    <string>1140耶和华的心</string>
    <string>1141他必应允</string>
    <string>1142年岁的冠冕</string>
    <string>1143仰望主</string>
    <string>1144呼唤</string>
    <string>1145神的宝血</string>
    <string>1146他是独一真神</string>
    <string>1147我的上帝我的王</string>
    <string>1148我的平安</string>
    <string>1149我和我的家</string>
    <string>1150来赞美主</string>
    <string>1151万王之王万主之主</string>
    <string>1152耶和华你是我的神</string>
    <string>1153永活全能神</string>
    <string>1154耶稣，超乎万名之名</string>
    <string>1155落叶归根</string>
    <string>1156我尊崇主圣名</string>
    <string>1157生命属于你</string>
    <string>1158头一次的爱</string>
    <string>1159一年如一日</string>
    <string>1160从今天起</string>
    <string>1161云上的爱</string>
    <string>1162主赐福如春雨</string>
    <string>1163光明之子</string>
    <string>1164爱 喜 乐 生 命</string>
    <string>1165除你以外</string>
    <string>1166快乐颂</string>
    <string>1167谁能像你</string>
    <string>1168谁来爱我</string>
    <string>1169用我们满腔的爱</string>
    <string>1170神儿女要有信心的眼</string>
    <string>1171生命的执着</string>
    <string>1172耶和华是爱</string>
    <string>1173我的神，我要赞美你</string>
    <string>1174赞美从心而出</string>
    <string>1175主啊我要跟随蚜</string>
    <string>1176我们是光明之子</string>
    <string>1177耶稣和平之王</string>
    <string>1178让我们彼此相爱</string>
    <string>1179用我一生</string>
    <string>1180圣灵我们真欢迎你</string>
    <string>1181昂首无惧</string>
    <string>1182耶和华是我的力量</string>
    <string>1183阿爸父</string>
    <string>1184赞美之泉</string>
    <string>1185主啊我多想</string>
    <string>1186全新的你</string>
    <string>1187我奉耶稣名宣告</string>
    <string>1188耶稣爱你</string>
    <string>1189天堂在我心</string>
    <string>1190神必与你同在</string>
    <string>1191主我敬拜你</string>
    <string>1192我要呼求主耶稣</string>
    <string>1192b耶和华祝福满满</string>
    <string>1193真正好</string>
    <string>1194耶稣的宝血</string>
    <string>1195轻轻听</string>
    <string>1196主耶稣真好</string>
    <string>1197是这份爱</string>
    <string>1198全然向你</string>
    <string>1199常常喜乐</string>
    <string>1200是你</string>
    <string>1201圣洁羔羊</string>
    <string>1202相约在主里</string>
    <string>1203不再是我乃是基督</string>
    <string>1204凡事谦虚温柔</string>
    <string>1204b云上太阳</string>
    <string>1205我只仰望你</string>
    <string>1206只有宝血</string>
    <string>1207我要颂扬</string>
    <string>1208心连心</string>
    <string>1209让赞美飞扬</string>
    <string>1210求赐复兴之火</string>
    <string>1211恩友歌</string>
    <string>1212唱一首天上的歌</string>
    <string>1213让赞美传扬福音</string>
    <string>1214领受主的言语</string>
    <string>1215主啊！求你拉紧我的手</string>
    <string>1216神同在赞美主</string>
    <string>1217爱的真谛</string>
    <string>1218赞美的诗歌唱不完</string>
</array>
</plist>
