<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>001赞美耶和华</string>
    <string>002至高尊名</string>
    <string>003哀哭变为跳舞</string>
    <string>004我敬拜你</string>
    <string>005永远尊贵</string>
    <string>006赞美主</string>
    <string>007你真配得赞美</string>
    <string>008起来赞美</string>
    <string>009当感谢进入他的门</string>
    <string>010举目仰望</string>
    <string>011你配得至圣尊荣</string>
    <string>012来 高声唱</string>
    <string>013沙漠中的赞美</string>
    <string>014荣耀能力归耶和华</string>
    <string>015世界之光</string>
    <string>016哈利路亚生命之主</string>
    <string>017哈利路亚同唱一首歌</string>
    <string>018你是配得</string>
    <string>019喜乐泉源</string>
    <string>020阿拉法俄梅戛</string>
    <string>021我要歌唱你爱到永远</string>
    <string>022你是复活的救主</string>
    <string>023你永远活着</string>
    <string>024来欢呼赞美</string>
    <string>025大能的手</string>
    <string>026你使我生命美丽</string>
    <string>027赞美满满</string>
    <string>028我全心荣耀你</string>
    <string>029称颂你圣名</string>
    <string>030耶稣掌权</string>
    <string>031荣美的救主</string>
    <string>032大卫之舞</string>
    <string>033火火火哦！又是新的一天</string>
    <string>034开启双眼</string>
    <string>035所有的目光</string>
    <string>036一首心中的歌</string>
    <string>037我要歌唱</string>
    <string>038我要开口称颂我的主</string>
    <string>039我赞美我上帝</string>
    <string>040当我来敬拜你</string>
    <string>041直到主耶稣再来时候</string>
    <string>042惟有主爱充满在我心</string>
    <string>043一生属于你</string>
    <string>044赞美直到永远</string>
    <string>045称颂主耶稣的圣名</string>
    <string>046尽情的敬拜</string>
    <string>047你作王到永远敬拜你全能神</string>
    <string>048你是阿拉法你是俄梅戛</string>
    <string>049神是我们的避难所</string>
    <string>050主你本为大</string>
    <string>051有谁像你</string>
    <string>052尊崇你名</string>
    <string>053感恩赞美</string>
    <string>054尊贵君王</string>
    <string>055每一天我要赞美你</string>
    <string>056谁能像你</string>
    <string>057圣洁的敬拜</string>
    <string>058犹大的狮子</string>
    <string>059来唱这支歌</string>
    <string>060颂赞耶和华</string>
    <string>061让爱充满全地</string>
    <string>062你是何等荣美</string>
    <string>063赞美创造主宰</string>
    <string>064我一心称谢主</string>
    <string>065感谢耶稣</string>
    <string>066我愿全心来称颂</string>
    <string>067god is great</string>
    <string>068赞美中遇见你</string>
    <string>069我献上感谢</string>
    <string>070我在这里敬拜</string>
    <string>071永远的赞美</string>
    <string>072耶稣尊贵圣洁救主</string>
    <string>073赞美飞扬</string>
    <string>074普天敬拜</string>
    <string>075耶稣是王</string>
    <string>076飘雪的圣诞节</string>
    <string>077圣诞</string>
    <string>078美丽的圣诞夜</string>
    <string>079耶稣</string>
    <string>080黄色圣诞节</string>
    <string>081快来 请快来</string>
    <string>082每个人心中都有个圣诞节</string>
    <string>083神羔羊是万王之王</string>
    <string>084谁会差派一个婴孩</string>
    <string>085台北的圣诞节</string>
    <string>086来到马槽边</string>
    <string>087圣诞颂</string>
    <string>088新生王</string>
    <string>089白色的圣诞</string>
    <string>090来颂赞主生辰</string>
    <string>091这位奇妙婴孩是谁</string>
    <string>092圣诞home</string>
    <string>093圣诞平安</string>
    <string>094十字架的路</string>
    <string>095因着十架爱</string>
    <string>096圣哉</string>
    <string>097最痛的时候</string>
    <string>098十架的救赎</string>
    <string>099神羔羊</string>
    <string>100那一夜</string>
    <string>101如羔羊</string>
    <string>102神羔羊</string>
    <string>103钉痕手</string>
    <string>104爱</string>
    <string>105无他唯耶稣的宝血</string>
    <string>106赎罪羔羊</string>
    <string>107救赎</string>
    <string>108十字架上</string>
    <string>109十字架的荣耀</string>
    <string>110因着十架</string>
    <string>111在你爱里</string>
    <string>112为了爱</string>
    <string>113不能隔绝的爱</string>
    <string>114舍己的爱</string>
    <string>115来高举爱的旌旗</string>
    <string>116他是光</string>
    <string>117敬拜赞美你</string>
    <string>118十字架上的爱</string>
    <string>119撒播主爱</string>
    <string>120耶稣的爱</string>
    <string>121以爱为翅膀</string>
    <string>122千古不变的爱</string>
    <string>123唯一的祈祷</string>
    <string>124最美丽的路</string>
    <string>125爱永不止息</string>
    <string>126我只想要</string>
    <string>127永生的路</string>
    <string>128永恒的爱</string>
    <string>129你的最爱</string>
    <string>130我不在乎</string>
    <string>131恩爱</string>
    <string>132你爱充满我</string>
    <string>133主的爱永不改变</string>
    <string>134我是谁</string>
    <string>135看主十字架</string>
    <string>136爱之歌</string>
    <string>137主在等着我回头</string>
    <string>138当我懂得你的爱</string>
    <string>139哦 主耶稣你深长的爱</string>
    <string>140主独自行走的道路</string>
    <string>141我要向高山举目</string>
    <string>142唯一救法</string>
    <string>143不一样的爱</string>
    <string>144为爱干杯</string>
    <string>145主爱系两地情</string>
    <string>146爱之歌</string>
    <string>147专注于你</string>
    <string>148剔透我心</string>
    <string>149爱的光</string>
    <string>150是你</string>
    <string>151爱的诉说</string>
    <string>152你的爱</string>
    <string>153来赞美主</string>
    <string>154爱就在你身边</string>
    <string>155爱</string>
    <string>156主我愿</string>
    <string>157我是谁</string>
    <string>158是因着爱</string>
    <string>159主你最爱我</string>
    <string>160爱到底</string>
    <string>161别无他名</string>
    <string>162不能拒绝的爱</string>
    <string>163我全心颂赞</string>
    <string>164这就是你的爱</string>
    <string>165一生赞美不完的歌</string>
    <string>166只因有爱</string>
    <string>167神是爱</string>
    <string>168他永远爱你</string>
    <string>169爱在基督里</string>
    <string>170留住这爱</string>
    <string>171何苦为我</string>
    <string>172把心给你</string>
    <string>173我爱耶稣</string>
    <string>174爱与家</string>
    <string>175神爱这地方</string>
    <string>176愿意爱你</string>
    <string>177永远爱你</string>
    <string>178主是我高台</string>
    <string>179真爱的代价</string>
    <string>180爱把恨打败</string>
    <string>181我心的最爱</string>
    <string>182我相信</string>
    <string>183主我爱你</string>
    <string>184相约</string>
    <string>185耶稣你是我的主</string>
    <string>186相系在爱里</string>
    <string>187我爱你上帝也爱你</string>
    <string>188同心同行</string>
    <string>189爱的誓约</string>
    <string>190耶稣我爱你</string>
    <string>191不变的爱</string>
    <string>192爱从这一刻起</string>
    <string>193专爱</string>
    <string>194爱</string>
    <string>195我愿</string>
    <string>196耶稣我爱你</string>
    <string>197爱因你而精彩</string>
    <string>198默默的爱</string>
    <string>199耶稣我爱你</string>
    <string>200让我爱直到成伤</string>
    <string>201因为爱</string>
    <string>202把爱留下</string>
    <string>203祷告</string>
    <string>204我们一起祷告吧</string>
    <string>205我们来祷告</string>
    <string>206天父，阿爸天父</string>
    <string>207我们呼求</string>
    <string>208愿万民都归向你</string>
    <string>209我心祈求</string>
    <string>210垂听我祷告</string>
    <string>211阿爸天父</string>
    <string>212保守我的心</string>
    <string>213有人在为你祷告</string>
    <string>214那日</string>
    <string>215屈膝在他座前</string>
    <string>216主 你是</string>
    <string>217呼求主</string>
    <string>218一生一世伴随你</string>
    <string>219为我骨肉之亲</string>
    <string>220恳求</string>
    <string>221心灵的祈祷</string>
    <string>222神啊我对你说</string>
    <string>223我的祷告</string>
    <string>224为你而活</string>
    <string>225祈求</string>
    <string>226耶和华靠近伤心的人</string>
    <string>227是谁</string>
    <string>228唯独有耶稣</string>
    <string>229每一天</string>
    <string>230他认得我</string>
    <string>231感恩之歌</string>
    <string>232像天父完全</string>
    <string>233足印</string>
    <string>234安定在天</string>
    <string>235清晨到夜晚</string>
    <string>236有你同行</string>
    <string>237你神迹如此真实</string>
    <string>238来到主前</string>
    <string>239鸽子飞回来</string>
    <string>240adonai 我等候你</string>
    <string>241让我进入你的国</string>
    <string>242耶稣吸引我</string>
    <string>243天上来的歌</string>
    <string>244蜕变</string>
    <string>245天堂</string>
    <string>246线与圆</string>
    <string>247不要忧虑</string>
    <string>248福音</string>
    <string>249你的手永远比我大</string>
    <string>250永恒</string>
    <string>251恩典再现</string>
    <string>252可喜悦的祭</string>
    <string>253我愿跟随你</string>
    <string>254我的心切慕你</string>
    <string>255独特</string>
    <string>256生命小溪</string>
    <string>257耶和华为我们行了大事</string>
    <string>258开你心门</string>
    <string>259一起走过</string>
    <string>260恩满旷野</string>
    <string>261恩典够用</string>
    <string>262希望</string>
    <string>263归回</string>
    <string>264圣灵我渴慕</string>
    <string>265如果我还有明天</string>
    <string>266我们爱让世界不一样</string>
    <string>267主 我相信</string>
    <string>268清泉般的安宁</string>
    <string>269如果</string>
    <string>270脚步</string>
    <string>271灯台</string>
    <string>272鸽之歌</string>
    <string>273耶和华的军队</string>
    <string>274心之歌</string>
    <string>275只为你</string>
    <string>276星之歌</string>
    <string>277风雨兼程</string>
    <string>278在主里</string>
    <string>279你是窑匠我是泥土</string>
    <string>280夜诗</string>
    <string>281众弟兄姐妹都当起来</string>
    <string>282神是我们避难所</string>
    <string>283与主同行</string>
    <string>284想你</string>
    <string>285真理</string>
    <string>286在你身边</string>
    <string>287乐河的水</string>
    <string>288他是主</string>
    <string>289一生年日跟随你</string>
    <string>290耶路撒冷，愿你平安</string>
    <string>291主我渴慕你</string>
    <string>292新的一天</string>
    <string>293永不放手</string>
    <string>294是你</string>
    <string>295阳光依然灿烂</string>
    <string>296慈爱应许</string>
    <string>297等待天亮</string>
    <string>298生命的话语</string>
    <string>299献己所有</string>
    <string>300好牧人</string>
    <string>301主掌管我</string>
    <string>302主，你是我一切</string>
    <string>303有一道光</string>
    <string>304谢谢神</string>
    <string>305高举十架旌旗</string>
    <string>306主的名奇妙</string>
    <string>307心碎之后</string>
    <string>308真是快乐日</string>
    <string>309耶和华拉法</string>
    <string>310天父花园</string>
    <string>311光芒</string>
    <string>312渴望</string>
    <string>313生命活水充满我</string>
    <string>314选择相信</string>
    <string>315最珍贵的角落</string>
    <string>316勇敢走出去</string>
    <string>317我要常常喜乐</string>
    <string>318只因你</string>
    <string>319风雨同行</string>
    <string>320你恩典不离开</string>
    <string>321我相信</string>
    <string>322恩典之歌</string>
    <string>323真爱家园</string>
    <string>324简单的歌</string>
    <string>325天国披上嫁衣裳</string>
    <string>326宁静谷</string>
    <string>327葡萄园之歌</string>
    <string>328你是我的一切</string>
    <string>329我们都是他的宝贝</string>
    <string>330主啊我愿服侍你</string>
    <string>331主我想为你唱首歌</string>
    <string>332举目仰望</string>
    <string>333思念</string>
    <string>334为了神的应许</string>
    <string>335似乎在天堂</string>
    <string>336凡敬畏神的人你们都来听</string>
    <string>337突破</string>
    <string>338安抚</string>
    <string>339上帝的儿女何等有福</string>
    <string>340那双看不见的手</string>
    <string>341医治</string>
    <string>342再活一次</string>
    <string>343我愿一生都跟随你</string>
    <string>344你是藏身处</string>
    <string>345流泪谷</string>
    <string>346脱离狂风暴雨</string>
    <string>347上帝超过风雨和大海</string>
    <string>348生命因你而传奇</string>
    <string>349生命的乐章</string>
    <string>350我不为明天忧虑</string>
    <string>351渴慕</string>
    <string>352向主呼叫</string>
    <string>353领悟</string>
    <string>354泪海</string>
    <string>355我心单单属你</string>
    <string>356风之歌</string>
    <string>357曙光</string>
    <string>358在这里</string>
    <string>359也许</string>
    <string>360鉴察我</string>
    <string>361主是我的力量</string>
    <string>362不要忧虑歌</string>
    <string>363遇见你</string>
    <string>364回心转意</string>
    <string>365全能医治者</string>
    <string>366主，我相信</string>
    <string>367你是祝福的管道</string>
    <string>368你知道我的名字</string>
    <string>369等你愿意</string>
    <string>370我们爱 因为神先爱我们</string>
    <string>371献上祝福</string>
    <string>372才德的妇人</string>
    <string>373生日祝福歌</string>
    <string>374总有一件事</string>
    <string>375似是而非</string>
    <string>376应当单单仰望主</string>
    <string>377掌上明珠</string>
    <string>378看哪 你的神</string>
    <string>379感谢亲爱的主</string>
    <string>380守望你</string>
    <string>381这一条路</string>
    <string>382不只如此</string>
    <string>383生命剧场</string>
    <string>384你要等候</string>
    <string>385智慧进行曲</string>
    <string>386他使我在夜里歌唱</string>
    <string>387喜乐欢呼</string>
    <string>388超自然恩雨</string>
    <string>389我的心哪你最喜欢出声</string>
    <string>390有主就有真喜乐</string>
    <string>391来主座前</string>
    <string>392与你同走过</string>
    <string>393圣洁的赞美</string>
    <string>394人生的智慧</string>
    <string>395耶和华作王</string>
    <string>396有这一天</string>
    <string>397何等尊贵</string>
    <string>398倾听</string>
    <string>399我要欢唱</string>
    <string>400你的爱在我心里面</string>
    <string>401中秋月圆之夜</string>
    <string>402表达</string>
    <string>403慈爱的创造主</string>
    <string>404与你牵手</string>
    <string>405平安</string>
    <string>406晨星天韵</string>
    <string>407生命的方向</string>
    <string>408陶造我</string>
    <string>409我的天堂</string>
    <string>410释放属天的能力</string>
    <string>411我神真伟大</string>
    <string>412锡安的民当来歌唱</string>
    <string>413全然为你</string>
    <string>414进入丰盛</string>
    <string>415对话</string>
    <string>416我有一个好朋友</string>
    <string>417早知道</string>
    <string>418相亲相爱一家人</string>
    <string>419赐福与你</string>
    <string>420我家是天堂</string>
    <string>421一生的依靠</string>
    <string>422神同在</string>
    <string>423古韵雅歌</string>
    <string>424高声唱哈利路亚</string>
    <string>425让我们欢乐拍掌</string>
    <string>426八福</string>
    <string>427我何等赞美主</string>
    <string>428you are my world</string>
    <string>429敞开我的心向阿爸父仰望</string>
    <string>430迈向新的生命</string>
    <string>431什么是爱</string>
    <string>432你是春风</string>
    <string>433突遭变故</string>
    <string>434复活颂</string>
    <string>435单单称颂你 荣耀啊</string>
    <string>436我要告诉你</string>
    <string>437翻转地球</string>
    <string>438耶稣我愿意</string>
    <string>439是谁在叩门</string>
    <string>440拥有耶稣</string>
    <string>441最伟大的事</string>
    <string>442主所喜悦的人</string>
    <string>443赐生命的主</string>
    <string>444给我一个新的生命</string>
    <string>445感恩的歌</string>
    <string>446主啊指给我们出路</string>
    <string>447恩典涌流</string>
    <string>448你相信了吗</string>
    <string>449偶然遇到的惊喜</string>
    <string>450风雨中的承诺</string>
    <string>451天父我苦了</string>
    <string>452耶和华我的磐石</string>
    <string>453你是我的自由</string>
    <string>454月光之歌</string>
    <string>455水之歌</string>
    <string>456主我们需要你</string>
    <string>457我不懂</string>
    <string>458求你赐我一双翅膀</string>
    <string>459我心渴慕亲近你</string>
    <string>460欢乐小羊</string>
    <string>461敞开你的心</string>
    <string>462立定心志</string>
    <string>463今日</string>
    <string>464和平的梦</string>
    <string>465蝴蝶</string>
    <string>466单程机票</string>
    <string>467感恩的心</string>
    <string>468愿与主相似</string>
    <string>469在基督里有平安</string>
    <string>470欢乐的清水江</string>
    <string>471发光如星</string>
    <string>472鲁滨逊之歌</string>
    <string>473幸福的小羊</string>
    <string>474主给我希望</string>
    <string>475不再回头看</string>
    <string>476心中的雅歌</string>
    <string>477心曲</string>
    <string>478彩虹属于你</string>
    <string>479为主燃烧</string>
    <string>480如鹰展翅</string>
    <string>481感恩满我心</string>
    <string>482苦难中的赞美</string>
    <string>483圣灵啊来充满我的心</string>
    <string>484顺服你的旨意</string>
    <string>485怜悯已降临</string>
    <string>486主耶稣永远陪伴我</string>
    <string>487在耶稣里我们是一家人</string>
    <string>488宽恕</string>
    <string>489甘甜</string>
    <string>490以利亚的旷野</string>
    <string>491回家</string>
    <string>492诗歌第一三九篇</string>
    <string>493风儿轻轻吹</string>
    <string>494活着为主</string>
    <string>495永远的小孩</string>
    <string>496忧伤痛悔的心，你必不轻看</string>
    <string>497他竟顾念我</string>
    <string>498属天的喜乐</string>
    <string>499我不再惧怕</string>
    <string>500本分歌</string>
    <string>501都为耶稣</string>
    <string>502神的宝座</string>
    <string>503你何眷顾</string>
    <string>504是你</string>
    <string>505回来吧孩子</string>
    <string>506生命河</string>
    <string>507活水江河从上流下</string>
    <string>508走出自己</string>
    <string>509我要赞美你</string>
    <string>510佳美脚踪</string>
    <string>511牵手走天路</string>
    <string>512爱在乌蒙山岗</string>
    <string>513一起来赞美</string>
    <string>514相聚耶稣的家</string>
    <string>515谦卑是福</string>
    <string>516别孤单上路</string>
    <string>517全然爱你的神</string>
    <string>518小安魂曲</string>
    <string>519要因你的神快乐</string>
    <string>520流泪撒种</string>
    <string>521喜乐的灵降下来</string>
    <string>522永远的光</string>
    <string>523何其伟大</string>
    <string>524生命的十架</string>
    <string>525中国属于上帝</string>
    <string>526平安的七月夜</string>
    <string>527耶稣基督是我的盾牌</string>
    <string>528麦种</string>
    <string>529让我们同心吹起时代的号角</string>
    <string>530若是有主在我生命中</string>
    <string>531不可挪移古时的地界</string>
    <string>532最美的花</string>
    <string>533要学习神的话语</string>
    <string>534生命的真谛</string>
    <string>535一切为了爱</string>
    <string>536相连在更美的明天</string>
    <string>537相约伊甸</string>
    <string>538跟随主</string>
    <string>539要胜过仇敌的诡计</string>
    <string>540今生与主共相伴</string>
    <string>541因为有你</string>
    <string>542若不藉着主耶稣</string>
    <string>543神的美意伴随你</string>
    <string>544耶稣永为冠</string>
    <string>545主啊我爱你</string>
    <string>546美哉主耶稣</string>
    <string>547哈利路亚共唱和</string>
    <string>548我心爱你</string>
    <string>549你的手</string>
    <string>550主 我要跟随你</string>
    <string>551传道人</string>
    <string>552荒漠绿洲</string>
    <string>553希望</string>
    <string>554你是我的新娘</string>
    <string>555诸天宣扬</string>
    <string>556爱的约定</string>
    <string>557我没有灰心过</string>
    <string>558心系神家的人在哪里</string>
    <string>559主恩共鸣</string>
    <string>560回忆当初</string>
    <string>561不再悲伤</string>
    <string>562主的恩典长宽高深</string>
    <string>563何等信实主 我神</string>
    <string>564路是主所铺</string>
    <string>565拥抱新的每一天</string>
    <string>566复活在我</string>
    <string>567奉献——成为耶稣见证</string>
    <string>568亲爱的圣灵</string>
    <string>569扣我心弦</string>
    <string>570我献上感恩</string>
    <string>571我需要有你</string>
    <string>572寄居人</string>
    <string>573生死相依</string>
    <string>574我将生命全然献给你</string>
    <string>575耶稣 万国的盼望</string>
    <string>576唯一的依靠</string>
    <string>577我要安静</string>
    <string>578昨日的忠心丢在哪儿</string>
    <string>579主你离我并不远</string>
    <string>580服侍弟兄中最小的一个</string>
    <string>581因你有我</string>
    <string>582主啊 可听见我声声呼唤你</string>
    <string>583祝福母亲</string>
    <string>584坚强在你心中</string>
    <string>585禧年的生活</string>
    <string>586美好心灵聚在一起赞美主</string>
    <string>587天父之爱</string>
    <string>588万人中你是最好</string>
    <string>589彩虹约定</string>
    <string>590洋溢</string>
    <string>591青青草原上</string>
    <string>592阿们</string>
    <string>593神曾与人同行伊甸</string>
    <string>594我蒙赦免</string>
    <string>595美好的圣殿</string>
    <string>596圣城之光</string>
    <string>597耶稣——谦和之子</string>
    <string>598一起走</string>
    <string>599灵程路上放声歌唱</string>
    <string>600平安王</string>
    <string>601跟主不迷航</string>
    <string>602别了世界</string>
    <string>603小草</string>
    <string>604愿你平安</string>
    <string>605在外的日子</string>
    <string>606主恩典</string>
    <string>607主内平安</string>
    <string>608好久不见了</string>
    <string>609主啊 有谁能像你</string>
    <string>610他必带领我明天的路</string>
    <string>611新年快乐</string>
    <string>612微笑</string>
    <string>613心的发现</string>
    <string>614感恩世界</string>
    <string>615天起凉风时</string>
    <string>616主的手</string>
    <string>617使命</string>
    <string>618用音乐为你发光</string>
    <string>619交托你</string>
    <string>620爱不改变</string>
    <string>621虽然</string>
    <string>622进入我心</string>
    <string>623耶稣我爱你</string>
    <string>624感谢主 赞美主</string>
    <string>625神的儿女个个都是宝</string>
    <string>626一起跳起来</string>
    <string>627医治的活泉</string>
    <string>628有一新生命</string>
    <string>629专心仰赖主</string>
    <string>630耶稣是光</string>
    <string>631你是我心中最爱</string>
    <string>632贺新年</string>
    <string>633七色彩虹</string>
    <string>634见证</string>
    <string>635年岁的冠冕</string>
    <string>636你是我生命的亮光</string>
    <string>637谦卑</string>
    <string>638我苦但我唱</string>
    <string>639最大的礼物</string>
    <string>640求牵我的手</string>
    <string>641忘不了主的恩</string>
    <string>642就在这里</string>
    <string>643勤做圣工</string>
    <string>644你的慈爱扶助我</string>
    <string>645告别童年的梦</string>
    <string>646主你宝贝我</string>
    <string>647施</string>
    <string>648救赎恩典</string>
    <string>649主爱网络大家庭</string>
    <string>650述说你救恩</string>
    <string>651我得救</string>
    <string>652主慈爱双手</string>
    <string>653我今活在基督里</string>
    <string>654今天可以不一样</string>
    <string>655十架路是天堂路</string>
    <string>656天国的子民</string>
    <string>657一路上有你</string>
    <string>658回家</string>
    <string>659永远的福气</string>
    <string>660蒙恩的人</string>
    <string>661毛毛虫</string>
    <string>662感谢</string>
    <string>663晴空夜景</string>
    <string>664蓦然回首</string>
    <string>665好好恋爱</string>
    <string>666仰望</string>
    <string>667数算恩典</string>
    <string>668天国属于他们</string>
    <string>669我想的自由</string>
    <string>670主导一生</string>
    <string>671更新</string>
    <string>672我要为你唱首新歌</string>
    <string>673盼望与你早相见</string>
    <string>674荣耀圣洁归于神</string>
    <string>675与你手牵</string>
    <string>676平安的君王</string>
    <string>677约拿哪里逃</string>
    <string>678主耶稣知我心</string>
    <string>679恩典</string>
    <string>680耶稣陪我行</string>
    <string>681主手所造</string>
    <string>682找迷羊</string>
    <string>683我是主好孩子</string>
    <string>684全能上帝是我的主我的神</string>
    <string>685标杆人生</string>
    <string>686你永远不会改变</string>
    <string>687恢复荣耀</string>
    <string>688期待</string>
    <string>689勇敢</string>
    <string>690幸福的路</string>
    <string>691上帝的朋友</string>
    <string>692生命的歌</string>
    <string>693合而为一</string>
    <string>694你的恩典够我用</string>
    <string>695软弱的我变刚强</string>
    <string>696盐光</string>
    <string>697永恒</string>
    <string>698here i am</string>
    <string>699谁是</string>
    <string>700爱的信念</string>
    <string>701等候神</string>
    <string>702生命是一首诗歌</string>
    <string>703真财富</string>
    <string>704终日思想</string>
    <string>705真诚爱你</string>
    <string>706你要住在我里面</string>
    <string>707牵我的手，主耶稣</string>
    <string>708神所要的祭</string>
    <string>709美梦成真</string>
    <string>710我永恒的家在天上</string>
    <string>711耶稣的香气</string>
    <string>712世界听不懂的歌</string>
    <string>713绵绵中国心</string>
</array>
</plist>
