<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>001祢是配得</string>
    <string>002感谢天父</string>
    <string>003寻求耶和华</string>
    <string>004赞美祂</string>
    <string>005我要一心称谢祢</string>
    <string>006我要全心赞美</string>
    <string>007永远称颂你</string>
    <string>008祢的慈爱</string>
    <string>009愿天欢喜</string>
    <string>010欢乐主作王</string>
    <string>011祢已将我的哀哭变为跳舞</string>
    <string>012慈爱公义神</string>
    <string>013宣告</string>
    <string>014你的名何其美</string>
    <string>015荣耀归主</string>
    <string>016我来到主的圣殿</string>
    <string>017合一敬拜</string>
    <string>018圣哉！圣哉！圣哉！</string>
    <string>019呼喊耶和华</string>
    <string>020献上感恩祭</string>
    <string>021众城门你要抬起头</string>
    <string>022向耶和华歌唱</string>
    <string>023你的荣耀彰显于天</string>
    <string>024颂主恩典</string>
    <string>025敬拜赞美主</string>
    <string>026我心颂赞</string>
    <string>027来吧，我们赞美</string>
    <string>028祢是配得</string>
    <string>029耶和华沙龙</string>
    <string>030荣美的神</string>
    <string>031恩典和荣耀</string>
    <string>032我的心啊你要称颂耶和华</string>
    <string>033祢真配得荣耀</string>
    <string>034向神欢呼</string>
    <string>035天父、耶稣、主圣灵</string>
    <string>036称颂耶和华</string>
    <string>037神爱世人</string>
    <string>038主我敬拜祢</string>
    <string>039愿神兴起</string>
    <string>040祢的荣耀彰显在全地</string>
    <string>041喜乐充满我心间</string>
    <string>042赞美之家</string>
    <string>043祢配得</string>
    <string>044我一生的执着</string>
    <string>045俯伏祢宝座前</string>
    <string>046万王之王</string>
    <string>047我的口涌出美词</string>
    <string>048主啊祢的名在全地何其美</string>
    <string>049诸天述说神的荣耀</string>
    <string>050我渴慕祢同在</string>
    <string>051愿平安的王降临</string>
    <string>052赞美感谢祢</string>
    <string>053单单敬拜</string>
    <string>054愿祢荣耀遍及全地</string>
    <string>055赞美主大的圣名</string>
    <string>056我寻求祢</string>
    <string>057击鼓跳舞赞美祂</string>
    <string>058一首简单的歌</string>
    <string>059愿祢崇高</string>
    <string>060永恒的主</string>
    <string>061化为感恩的歌</string>
    <string>062向神欢呼</string>
    <string>063旷野中的赞美</string>
    <string>064赞美神的天使</string>
    <string>065敬畏耶和华是智慧的开端</string>
    <string>066仰望天父</string>
    <string>067万民归主</string>
    <string>068石头必要赞美</string>
    <string>069祢是</string>
    <string>070跟随主左右</string>
    <string>071一生歌颂祢</string>
    <string>072果子</string>
    <string>073称颂公义主</string>
    <string>074内心的歌颂</string>
    <string>075耶和华的名</string>
    <string>076尊贵全能神</string>
    <string>077在圣所中</string>
    <string>078赞美赞美赞美</string>
    <string>079哈利路亚</string>
    <string>080感恩</string>
    <string>081圣洁直到永远</string>
    <string>082神真好</string>
    <string>083耶稣，万名之上的名</string>
    <string>084主最尊贵</string>
    <string>085高声唱哈利路亚</string>
    <string>086耶稣、耶稣、我要赞美祢</string>
    <string>087和散那</string>
    <string>088荣耀君王</string>
    <string>089我要赞美，我要歌唱</string>
    <string>090敬拜耶稣</string>
    <string>091万民同来敬拜</string>
    <string>092我们来赞美主</string>
    <string>093耶稣我们的王啊</string>
    <string>094耶稣的名</string>
    <string>095耶稣祢的爱何等伟大</string>
    <string>096荣耀都归神羔羊</string>
    <string>097爱我们到底</string>
    <string>098在耶稣的脚前</string>
    <string>099主啊我的神</string>
    <string>100草原的赞美</string>
    <string>101祢的名</string>
    <string>102高分贝的赞美</string>
    <string>103耶稣耶稣我爱祢</string>
    <string>104无比的爱</string>
    <string>105良辰颂赞</string>
    <string>106神羔羊</string>
    <string>107我要敬拜主耶稣直到永远</string>
    <string>108因你圣名我们敬拜</string>
    <string>109赞美阿爸父</string>
    <string>110何等恩典</string>
    <string>111真实的敬拜</string>
    <string>112赞美之歌</string>
    <string>113赞美之祭</string>
    <string>114天使合唱</string>
    <string>115感谢主耶稣</string>
    <string>116亲爱的主耶稣</string>
    <string>117凯歌</string>
    <string>118祢是君王</string>
    <string>119我要歌颂祢的力量</string>
    <string>120敬拜者的心</string>
    <string>121主的喜乐</string>
    <string>122拯救</string>
    <string>123荣耀都归祂</string>
    <string>124主啊，我是祢的宝贝</string>
    <string>125喜乐感恩</string>
    <string>126在你呼召之地</string>
    <string>127深深敬拜</string>
    <string>128恩膏</string>
    <string>129哪里有爱</string>
    <string>130真理圣灵</string>
    <string>131圣灵的殿</string>
    <string>132心中的白鸽</string>
    <string>133随祢江河涌流</string>
    <string>134活水江河</string>
    <string>135恳求圣灵降临</string>
    <string>136来充满我</string>
    <string>137圣灵</string>
    <string>138不停涌出来</string>
    <string>139生命之灵</string>
    <string>140今天主的灵充满我</string>
    <string>141一生赞美祢</string>
    <string>142高山低谷都赞美</string>
    <string>143祢好爱我</string>
    <string>144我一生爱祢</string>
    <string>145让爱飞翔</string>
    <string>146彼此相爱</string>
    <string>147谁能使我与神的爱隔绝</string>
    <string>148感谢祢，我的爱</string>
    <string>149爱和原谅</string>
    <string>150主，祢何等爱我</string>
    <string>151我愿越来越像祢</string>
    <string>152需要祢的爱</string>
    <string>153神奇的爱人</string>
    <string>154我心所爱，你真美丽</string>
    <string>155让爱永恒</string>
    <string>156耶稣，你对我真好</string>
    <string>157此生爱祢不渝</string>
    <string>158一份爱</string>
    <string>159满天星</string>
    <string>160付出的爱</string>
    <string>161在爱中找到自己</string>
    <string>162爱的心声</string>
    <string>163你是我的最爱</string>
    <string>164在祢爱里</string>
    <string>165单单爱祢</string>
    <string>166回报主恩</string>
    <string>167主爱超过一切</string>
    <string>168耶稣祢是我起初的真爱</string>
    <string>169无条件爱</string>
    <string>170愿主的爱充满这个地方</string>
    <string>171云上的爱</string>
    <string>172我的主耶稣，我深深爱祢</string>
    <string>173全心爱祢</string>
    <string>174好爱祢，耶稣</string>
    <string>175祢的爱不离不弃</string>
    <string>176上帝的爱真奇妙</string>
    <string>177最好的朋友</string>
    <string>178爱的奇迹</string>
    <string>179主啊谢谢祢</string>
    <string>180耶稣祢真好</string>
    <string>181祢那里有爱</string>
    <string>182我爱神</string>
    <string>183我爱祢，耶稣</string>
    <string>184彼此相爱</string>
    <string>185耶稣的爱</string>
    <string>186无尽的恩典</string>
    <string>187唯有祢爱我</string>
    <string>188祢爱不变</string>
    <string>189旷野的爱</string>
    <string>190真爱的激励</string>
    <string>191耶稣祢为了什么</string>
    <string>192神爱世人</string>
    <string>193爱的比较</string>
    <string>194坚固的爱</string>
    <string>195上帝在疼你</string>
    <string>196单单爱主耶稣</string>
    <string>197是祢的爱</string>
    <string>198祂的爱</string>
    <string>199爱的真谛上</string>
    <string>200神的爱在此显明</string>
    <string>201永远</string>
    <string>202隐基底的爱</string>
    <string>203哪知祢奇妙的爱</string>
    <string>204千山万水爱牵引</string>
    <string>205祢爱了我</string>
    <string>206仍然爱着耶稣</string>
    <string>207主爱情意长</string>
    <string>208只为了爱祢</string>
    <string>209主所爱的人</string>
    <string>210祢对我的爱</string>
    <string>211耶稣深爱我</string>
    <string>212神爱我</string>
    <string>213耶稣我们爱祢</string>
    <string>214将我的爱情给祢</string>
    <string>215起初的爱</string>
    <string>216啊主你真爱我</string>
    <string>217把心给祢</string>
    <string>218主的爱常在我身边</string>
    <string>219因为我们有主爱</string>
    <string>220为什么爱我</string>
    <string>221今天是个好日子</string>
    <string>222平安夜缅想</string>
    <string>223圣诞的黎明</string>
    <string>224颂扬新生王</string>
    <string>225报大好佳音</string>
    <string>226歌舞庆圣诞</string>
    <string>227美哉善哉</string>
    <string>228大喜的信息</string>
    <string>229圣诞平安</string>
    <string>230圣诞佳音好信息</string>
    <string>231最美的礼物</string>
    <string>232耶稣降生传天国</string>
    <string>233圣诞快乐</string>
    <string>234十架之光</string>
    <string>235祂诚然担当</string>
    <string>236小小裹尸布</string>
    <string>237主耶稣被钉在十架上</string>
    <string>238耶稣的眼泪</string>
    <string>239不弃的爱</string>
    <string>240不一样的耶稣</string>
    <string>241宝血泉源</string>
    <string>242国度已降临</string>
    <string>243我心中的十字架</string>
    <string>244十字架的爱</string>
    <string>245十架七言</string>
    <string>246钉痕的手</string>
    <string>247回到十架</string>
    <string>248康熙十架歌</string>
    <string>249我会纪念祢</string>
    <string>250会有多痛</string>
    <string>251只因爱</string>
    <string>252十字架是我的荣耀</string>
    <string>253这就是耶稣的路</string>
    <string>254救恩神圣</string>
    <string>255圣哉救恩</string>
    <string>256主耶稣亲口对我说</string>
    <string>257祂的一生</string>
    <string>258跟着耶稣心中永无悔</string>
    <string>259背起十架跟从主</string>
    <string>260信祂的一个不失落</string>
    <string>261我的恩主为了我</string>
    <string>262感恩</string>
    <string>263祂</string>
    <string>264十架上的救赎主</string>
    <string>265何等牺牲的爱</string>
    <string>266主的爱</string>
    <string>267仰望耶稣</string>
    <string>268牺牲的爱</string>
    <string>269十架上彰显祢的爱</string>
    <string>270祢的血为我流</string>
    <string>271祢用牺牲的爱将我吸引</string>
    <string>272十架的冠冕</string>
    <string>273十架的路上</string>
    <string>274复活的主我爱祢</string>
    <string>275复活的荣耀</string>
    <string>276荣耀复活</string>
    <string>277我们在这里等候</string>
    <string>278永远高唱得胜歌</string>
    <string>279唯有耶稣</string>
    <string>280我要唱</string>
    <string>281复活的主</string>
    <string>282主祢很快就来</string>
    <string>283一日千年</string>
    <string>284万象都在说</string>
    <string>285等候主再来</string>
    <string>286这是我的手</string>
    <string>287天问</string>
    <string>288因信称义</string>
    <string>289看风的必不撒种</string>
    <string>290如飞而去</string>
    <string>291罪孽得救</string>
    <string>292罪源</string>
    <string>293今夕明夕</string>
    <string>294回味</string>
    <string>295得释放</string>
    <string>296来吧，朋友</string>
    <string>297谋算</string>
    <string>298迷失的浪子</string>
    <string>299人生总象一场梦</string>
    <string>300风中传爱踏歌行</string>
    <string>301挪亚方舟</string>
    <string>302一生无悔</string>
    <string>303主啊我真的好累</string>
    <string>304没有祢我什么都不能做</string>
    <string>305快快进入方舟</string>
    <string>306耶稣，不能错过的幸福</string>
    <string>307人生之舟</string>
    <string>308传</string>
    <string>309祢为何拣选我</string>
    <string>310耶和华恩年已来到</string>
    <string>311有话要说</string>
    <string>312我已不再是我</string>
    <string>313爱的方向</string>
    <string>314宇宙真神</string>
    <string>315主啊，我使祢伤透了心</string>
    <string>316唯有祢耶稣</string>
    <string>317忘记背后</string>
    <string>318赐我清洁的心</string>
    <string>319缺口</string>
    <string>320恩慈</string>
    <string>321悔恨的泪</string>
    <string>322快来到耶稣面前</string>
    <string>323汇报主恩</string>
    <string>324不再流浪</string>
    <string>325我的浪子你何时回头</string>
    <string>326悔罪诗</string>
    <string>327宣教之火</string>
    <string>328请差遣我</string>
    <string>329是祢的爱多</string>
    <string>330我想认识祢</string>
    <string>331新造的人</string>
    <string>332是谁造天空</string>
    <string>333时光飞逝</string>
    <string>334主召罪人</string>
    <string>335忏悔是奇迹</string>
    <string>336祢让世界从此不同</string>
    <string>337神州！上帝的儿女</string>
    <string>338彩虹下等你</string>
    <string>339在深夜里谁踏着浪</string>
    <string>340一代人的见证</string>
    <string>341信从我主</string>
    <string>342主认识我</string>
    <string>343梦醒</string>
    <string>344把握今天</string>
    <string>345当我们走进圣殿的时候</string>
    <string>346蒙福的一天</string>
    <string>347我爱我家</string>
    <string>348爱的力量</string>
    <string>349网络兄弟</string>
    <string>350我有一个家</string>
    <string>351祝你平安愿你喜乐</string>
    <string>352基督住在我们的家</string>
    <string>353神家重任</string>
    <string>354退璞归真</string>
    <string>355恩典太美丽</string>
    <string>356重建我生命</string>
    <string>357今天我们相聚在一起</string>
    <string>358同心</string>
    <string>359耶稣来得着这地</string>
    <string>360话好说</string>
    <string>361十诫</string>
    <string>362申命</string>
    <string>363诗卷</string>
    <string>364耶和华的律法全备</string>
    <string>365训诲</string>
    <string>366我儿不要忘记</string>
    <string>367追求和睦的人</string>
    <string>368救恩不可忽略</string>
    <string>369我最爱的一本书</string>
    <string>370命令</string>
    <string>371诗篇二十三篇</string>
    <string>372我们要站稳了</string>
    <string>373福份</string>
    <string>374安慰</string>
    <string>375诗歌三十篇</string>
    <string>376数算自己的日子</string>
    <string>377他们都知道</string>
    <string>378恩典够用</string>
    <string>379除了祢以外</string>
    <string>380良人佳偶</string>
    <string>381代价</string>
    <string>382把圣经活出来</string>
    <string>383春天的雅歌</string>
    <string>384八福</string>
    <string>385除祢以外</string>
    <string>386为了主</string>
    <string>387主的话语我喜爱</string>
    <string>388细麻衣</string>
    <string>389我的心仰望祢</string>
    <string>390赐我圣经</string>
    <string>391求祢开我的眼睛</string>
    <string>392来自圣经</string>
    <string>393不要忧虑</string>
    <string>394羊的门</string>
    <string>395生命的光芒</string>
    <string>396祝福祢</string>
    <string>397渴望复兴的火</string>
    <string>398为挚爱的土地</string>
    <string>399祷告</string>
    <string>400愿祢国度降临</string>
    <string>401瞳仁</string>
    <string>402工人的祷告</string>
    <string>403好想对祢说</string>
    <string>404哭求合一</string>
    <string>405转回</string>
    <string>406齐为此地呼求</string>
    <string>407愿我祷告蒙主应许</string>
    <string>408主啊求赐下火来</string>
    <string>409祝福中国</string>
    <string>410为同胞代求</string>
    <string>411今天的祷告</string>
    <string>412孩子的祷告</string>
    <string>413我们渴慕祢</string>
    <string>414主祢好象离我很远</string>
    <string>415求主鉴察我</string>
    <string>416主啊不要把我丢弃</string>
    <string>417新妇的祈祷</string>
    <string>418走你的路</string>
    <string>419找祢</string>
    <string>420苏醒</string>
    <string>421我的一生在祢手中</string>
    <string>422走出自己</string>
    <string>423全心跟随</string>
    <string>424足印</string>
    <string>425靠近我不再离开我</string>
    <string>426患难之中</string>
    <string>427生死同行</string>
    <string>428漂浮的日子里，真的好想祢</string>
    <string>429主，引导我</string>
    <string>430踏上回家的路</string>
    <string>431相信有爱，就有奇迹</string>
    <string>432如鹰展翅上腾</string>
    <string>433世界不是我们的家</string>
    <string>434不孤</string>
    <string>435当我唱起赞美的诗歌</string>
    <string>436不变的约定</string>
    <string>437幸福的国度</string>
    <string>438让平安与你同行</string>
    <string>439亲爱牧者</string>
    <string>440无限恩典</string>
    <string>441认定祢</string>
    <string>442明天如何</string>
    <string>443主我愿追随祢</string>
    <string>444从破碎到自由</string>
    <string>445跟随主</string>
    <string>446秋雨之福</string>
    <string>447祢是我的神</string>
    <string>448天路上</string>
    <string>449经历</string>
    <string>450回家路上</string>
    <string>451主啊谢谢祢</string>
    <string>452蓦然回首</string>
    <string>453一生不迷路</string>
    <string>454试练之歌</string>
    <string>455回应呼召</string>
    <string>456一生只愿走这十架路</string>
    <string>457邀请耶稣</string>
    <string>458陪我一起走</string>
    <string>459祢是我永远的光</string>
    <string>460懂我的只有祢</string>
    <string>461我相信</string>
    <string>462总是走过了才知道</string>
    <string>463奔跑向前</string>
    <string>464渴慕</string>
    <string>465神啊！我愿跟随祢</string>
    <string>466馨香</string>
    <string>467惟有祢</string>
    <string>468亲眼见祢</string>
    <string>469一生仰望，一生侍奉</string>
    <string>470天涯地极</string>
    <string>471仰望</string>
    <string>472新生命</string>
    <string>473祢是我永恒的主</string>
    <string>474等待</string>
    <string>475分享生命爱</string>
    <string>476喜悦的日子到了</string>
    <string>477我不曾失去</string>
    <string>478把我给祢</string>
    <string>479主为我导航</string>
    <string>480紧紧跟随</string>
    <string>481生命中有祢</string>
    <string>482昨夜已多久</string>
    <string>483有了主的人</string>
    <string>484寻找到祢</string>
    <string>485可靠恩典</string>
    <string>486乘着恩典的翅膀</string>
    <string>487挣扎</string>
    <string>488保护以色列的必不打盹睡觉</string>
    <string>489好牧人</string>
    <string>490祢的恩典够我用</string>
    <string>491命定之路</string>
    <string>492神的光</string>
    <string>493重担卸给主</string>
    <string>494战胜巨人的恩膏</string>
    <string>495耶稣！人生的满足</string>
    <string>496主祢是我的盼望</string>
    <string>497我的帮助从何而来</string>
    <string>498在歌声中飞翔</string>
    <string>499孤独时的良伴</string>
    <string>500今生的唯一</string>
    <string>501曾风闻有祢</string>
    <string>502知心朋友</string>
    <string>503向前的路</string>
    <string>504主啊，我已睡醒</string>
    <string>505深愿祢来掌管我心</string>
    <string>506从旷野奔向日出</string>
    <string>507亲爱耶稣，医治救主</string>
    <string>508灵恩</string>
    <string>509我要单单倚靠祢</string>
    <string>510因祢而改变</string>
    <string>511主啊，你要我吗？</string>
    <string>512我要能看见</string>
    <string>513我的神对我说</string>
    <string>514我知道</string>
    <string>515祢奇妙的恩典</string>
    <string>516贴近祢的心</string>
    <string>517开启我眼</string>
    <string>518谁是好牧人</string>
    <string>519水边</string>
    <string>520燃烧这生命</string>
    <string>521求主用我</string>
    <string>522如鹰展翅上腾</string>
    <string>523春夏秋冬</string>
    <string>524生命的泉源</string>
    <string>525你比这一切更美丽</string>
    <string>526义人的福</string>
    <string>527生命的泉源</string>
    <string>528我愿意</string>
    <string>529活在祢面前</string>
    <string>530把我放在祢的手中</string>
    <string>531有梦的人有盼望</string>
    <string>532叫我抬起头的神</string>
    <string>533Elohim必为你们争战</string>
    <string>534天使心</string>
    <string>535每一天</string>
    <string>536不要照我的意愿</string>
    <string>537主，差遣我</string>
    <string>538道路真理生命</string>
    <string>539再次将我更新</string>
    <string>540我为锡安心里及其火热</string>
    <string>541读祢</string>
    <string>542相思美</string>
    <string>543活出最高点</string>
    <string>544美丽草原</string>
    <string>545求祢复兴我</string>
    <string>546复兴从我开始</string>
    <string>547你当默默无声</string>
    <string>548每一天为主而活</string>
    <string>549生命之歌</string>
    <string>550恩典中成长</string>
    <string>551感激</string>
    <string>552我的生命在祢手中</string>
    <string>553主我感谢祢</string>
    <string>554我知道神没有离开祢</string>
    <string>555感动</string>
    <string>556感谢有祢</string>
    <string>557感谢主耶稣</string>
    <string>558主啊我已看见</string>
    <string>559感谢</string>
    <string>560满足感恩的心</string>
    <string>561愿祢降临</string>
    <string>562淹没</string>
    <string>563感谢祢耶稣</string>
    <string>564主啊，我渴慕祢</string>
    <string>565当我想起祢的时候</string>
    <string>566我献上自己</string>
    <string>567以感恩为祭</string>
    <string>568兴起发光</string>
    <string>569亲近神</string>
    <string>570走向复兴</string>
    <string>571法老兵马</string>
    <string>572更新我们</string>
    <string>573祢来了</string>
    <string>574平稳安静</string>
    <string>575神的应许</string>
    <string>576新生</string>
    <string>577生命美丽</string>
    <string>578圣洁活祭</string>
    <string>579溪水旁</string>
    <string>580转化</string>
    <string>581兴起</string>
    <string>582主我单单为祢而活</string>
    <string>583全能神祢何等伟大</string>
    <string>584新的亲密</string>
    <string>585学习去爱</string>
    <string>586与祢同行</string>
    <string>587恩慈的心</string>
    <string>588是祢把我人海中找到</string>
    <string>589选择</string>
    <string>590神的旨意永远是最美最甜</string>
    <string>591赐我更大福</string>
    <string>592我献上自己</string>
    <string>593望着祂的眼睛</string>
    <string>594向我的生命吹气</string>
    <string>595我最爱唱主的歌</string>
    <string>596没有人能与祢相比</string>
    <string>597雅各的祝福</string>
    <string>598展翅迎空</string>
    <string>599有你终身美丽</string>
    <string>600成为神迹的器皿</string>
    <string>601爱的确据</string>
    <string>602耶稣真好</string>
    <string>603不可少的一件事</string>
    <string>604活着为祢</string>
    <string>605没有人比祢更亲</string>
    <string>606他们唱新歌</string>
    <string>607羔羊之美</string>
    <string>608让我闪耀</string>
    <string>609深夜的呼唤</string>
    <string>610什么好处都不缺</string>
    <string>611祢信实何广大</string>
    <string>612幸福的禾场</string>
    <string>613恩典的光</string>
    <string>614诠释恩典</string>
    <string>615机会</string>
    <string>616仰起信心的眼睛</string>
    <string>617有舍才有得</string>
    <string>618献上恩膏</string>
    <string>619因有主同在</string>
    <string>620彩虹之巅</string>
    <string>621主我渴慕寻求祢同在</string>
    <string>622耶和华的智慧</string>
    <string>623活祭</string>
    <string>624我愿恢复起初的热爱</string>
    <string>625耶和华的军队</string>
    <string>626主必保守我</string>
    <string>627祈福平安</string>
    <string>628带我进入幔内</string>
    <string>629我愿常在基督里</string>
    <string>630祢是我藏身处</string>
    <string>631明亮如水晶</string>
    <string>632相爱</string>
    <string>633渴慕</string>
    <string>634万军之耶和华</string>
    <string>635奇迹必会降临</string>
    <string>636我需要一位知心朋友</string>
    <string>637众山围绕耶路撒冷</string>
    <string>638祢的世界</string>
    <string>639紧紧地抓住祢的手</string>
    <string>640关锁的园</string>
    <string>641上帝的儿女</string>
    <string>642一生一世</string>
    <string>643我的生命中永远是蓝天</string>
    <string>644清晨时</string>
    <string>645展开属天的翅膀</string>
    <string>646曲折</string>
    <string>647饶恕</string>
    <string>648我不要</string>
    <string>649全心摆上</string>
    <string>650全心注视祢</string>
    <string>651我认定祢</string>
    <string>652朋友</string>
    <string>653草场的羊</string>
    <string>654生命树上的歌唱</string>
    <string>655耶稣我爱祢</string>
    <string>656求主掀起复兴浪潮</string>
    <string>657坚信到底</string>
    <string>658雅歌</string>
    <string>659求主赐下复兴火焰</string>
    <string>660你能吗</string>
    <string>661亲眼看见祢</string>
    <string>662耶稣的劝慰</string>
    <string>663眼睛就是心灵的灯</string>
    <string>664爱的经典</string>
    <string>665宣教在缅甸</string>
    <string>666神啊，神啊</string>
    <string>667耶稣祢医治</string>
    <string>668上帝能够</string>
    <string>669永在的神</string>
    <string>670春蚕到死丝方尽</string>
    <string>671每时每刻献上为祢</string>
    <string>672魅力</string>
    <string>673坚信</string>
    <string>674一粒麦子</string>
    <string>675生命中有祢</string>
    <string>676千寻</string>
    <string>677上帝怜悯的心肠</string>
    <string>678求充满这地</string>
    <string>679互勉</string>
    <string>680每天多爱祢一点</string>
    <string>681坚强一点</string>
    <string>682我的抉择</string>
    <string>683患难中能歌唱</string>
    <string>684亲爱的父</string>
    <string>685天父的信</string>
    <string>686天父的一颗心</string>
    <string>687专心等候神</string>
    <string>688亲密时刻</string>
    <string>689住在祢里面</string>
    <string>690圣洁归我主</string>
    <string>692一生一世</string>
    <string>693为我留一个位子</string>
    <string>694一生守候</string>
    <string>695主我渴慕你</string>
    <string>696天天盛开的花</string>
    <string>697虽有千人扑倒</string>
    <string>698安息在主怀</string>
    <string>699可哭的肩膀</string>
    <string>700神没有应许天色常蓝</string>
    <string>701主祢听我述说</string>
    <string>702牧人顾念羊</string>
    <string>703让我的灵自由</string>
    <string>704主，求祢来恢复</string>
    <string>705祢是我避难所</string>
    <string>706祢使我高飞像只鹰</string>
    <string>707主耶稣最美</string>
    <string>708我从炉火中出来</string>
    <string>709一首雅歌</string>
    <string>710惟有祢耶稣</string>
    <string>711因为祢是圣洁</string>
    <string>712耶稣是安慰</string>
    <string>713祢是医治的神</string>
    <string>714祢不撇弃</string>
    <string>715宽恕</string>
    <string>716我是一颗小尘埃</string>
    <string>717祢是我生命中最深的渴慕</string>
    <string>718战神</string>
    <string>719求祢开我信心的眼睛</string>
    <string>720数算主恩</string>
    <string>721愿意爱祢</string>
    <string>722祢永远不会改变</string>
    <string>723原是美意</string>
    <string>724把耶稣放心里</string>
    <string>725神是灵神是爱</string>
    <string>726信主的人真有福</string>
    <string>727你最爱主吗</string>
    <string>728无人知我心</string>
    <string>729作回单纯的我</string>
    <string>730生命的钟声</string>
    <string>731只愿见祢</string>
    <string>732逾越节神羔羊的宝血</string>
    <string>733荣耀大君王</string>
    <string>734想祢耶稣</string>
    <string>735我只跟着祢</string>
    <string>736让我唱一首歌中雅歌</string>
    <string>737送给你真诚的祝福</string>
    <string>738宝座的羔羊</string>
    <string>739献上敬拜</string>
    <string>740心不再流浪</string>
    <string>741人生路上有主相伴</string>
    <string>742怎能不感恩</string>
    <string>743祢是葡萄树</string>
    <string>744小孩子</string>
    <string>745以马内利</string>
    <string>746亲眼见主</string>
    <string>747一条生命河</string>
    <string>748天国最美</string>
    <string>749我要去天堂</string>
    <string>750伊甸园之恋</string>
    <string>751天国的大宴席</string>
    <string>752小羔羊</string>
    <string>753天国护照</string>
    <string>754新天新地</string>
    <string>755恩赐</string>
    <string>756轻轻松松</string>
    <string>757宝贝</string>
    <string>758时尚</string>
    <string>759美丽的一天</string>
    <string>760天上有个更美的家</string>
    <string>761我要回家</string>
    <string>762带我一起飞</string>
    <string>763祢是我最爱</string>
    <string>764奇迹</string>
    <string>765新年心愿</string>
    <string>766向着彩虹欢呼</string>
    <string>767耶稣到我家</string>
    <string>768每日每夜每一天</string>
    <string>769新的一年，活出意义</string>
</array>
</plist>
