<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>001爱永相随</string>
    <string>002你真伟大</string>
    <string>003我真欢喜来赞美你</string>
    <string>004来宣扬主耶稣的圣名</string>
    <string>005主啊！差遣我</string>
    <string>006领我到你宝血里</string>
    <string>007寄居的客旅</string>
    <string>008你美好应许</string>
    <string>009耶和华尼西</string>
    <string>010你是圣洁</string>
    <string>011耶和华坐着为王</string>
    <string>012我心切切渴慕你</string>
    <string>013生命的河川</string>
    <string>014爱在飞翔</string>
    <string>015纯真的美</string>
    <string>016爱的家园</string>
    <string>017从黑夜到白天</string>
    <string>018回到你面前</string>
    <string>019呼唤青年</string>
    <string>020亲密的朋友</string>
    <string>021我们要不住的祷告</string>
    <string>022各各他的爱</string>
    <string>023都归神羔羊</string>
    <string>024喜乐的旋律</string>
    <string>025天天赞美</string>
    <string>026神的羔羊</string>
    <string>027至死顺服像羔羊</string>
    <string>028耶稣的名真是美丽</string>
    <string>029哦主，你名何其美</string>
    <string>030深深爱你</string>
    <string>031差遣我</string>
    <string>032单单只为你</string>
    <string>033从心开始</string>
    <string>034生命之歌</string>
    <string>035耶稣，如此美好</string>
    <string>036游子离别</string>
    <string>037宣教的生涯</string>
    <string>038耶稣······</string>
    <string>039回家的路</string>
    <string>040你使我双脚跳舞</string>
    <string>041神的圣灵降临</string>
    <string>042我献上赞美</string>
    <string>043你就是耶稣</string>
    <string>044宇宙欢唱</string>
    <string>045爱的色彩</string>
    <string>046信、望、爱</string>
    <string>047站在圣洁之地</string>
    <string>048生命中的首位</string>
    <string>049我曾耐性等候</string>
    <string>050是谁</string>
    <string>051主我跟你走</string>
    <string>052主啊,我要跟随你</string>
    <string>053后山传来的声音</string>
    <string>054如果耶稣没有来</string>
    <string>055让心回家</string>
    <string>056我要赞美敬拜你</string>
    <string>057平安的孩子</string>
    <string>058祷告的殿</string>
    <string>059带领我</string>
    <string>060我们是光</string>
    <string>061让小小灯火四处燃起</string>
    <string>062你的同在</string>
    <string>063歌中的歌</string>
    <string>064全地当赞美</string>
    <string>065爱无保留</string>
    <string>066沙仑的玫瑰</string>
    <string>067紧紧抓住你</string>
    <string>068你不要害怕</string>
    <string>069更新我的灵</string>
    <string>070得人渔夫</string>
    <string>071我们同有一个家</string>
    <string>072愿主再次复兴我</string>
    <string>073诞生</string>
    <string>074来跟随我</string>
    <string>075心门</string>
    <string>076主耶稣谁能像你</string>
    <string>077不让迷途羔羊一意孤行</string>
    <string>078圣灵在叹息</string>
    <string>079主是爱</string>
    <string>080你坐着为王</string>
    <string>081乘着云彩的君王</string>
    <string>082美丽的小雨阳光</string>
    <string>083主已拣选锡安</string>
    <string>084最深爱的主</string>
    <string>085基督君王就要来临</string>
    <string>086为我造清洁的心</string>
    <string>087点着我的灯</string>
    <string>088哦！耶稣</string>
    <string>089佳音</string>
    <string>090上好的福份</string>
    <string>091众山怎样围绕耶路撒冷</string>
    <string>092主耶和华是我的帮助</string>
    <string>093我愿为你去</string>
    <string>094我要等候耶和华</string>
    <string>095愿你裂天而降</string>
    <string>096回到耶稣身边来</string>
    <string>097花尽一生来爱你</string>
    <string>098亲爱的耶稣</string>
    <string>099起来荣耀</string>
    <string>100早晨的声音</string>
    <string>101不要隐藏自己</string>
    <string>102每一天我渴慕你</string>
    <string>103我心紧紧跟随你</string>
    <string>104长城到哭墙</string>
    <string>105你总是看顾着我</string>
    <string>106竭诚献上</string>
    <string>107我愿奉献我一生</string>
    <string>108思良人</string>
    <string>109拥有爱分享爱</string>
    <string>110活着为耶稣</string>
    <string>111主的喜乐是我力量</string>
    <string>112星光闪闪</string>
    <string>113为爱和合一祷告</string>
    <string>114神的圣灵</string>
    <string>115把最好的献给你</string>
    <string>116主对我永远是第一</string>
    <string>117神知道所有的事</string>
    <string>118亲爱主耶稣</string>
    <string>119感动</string>
    <string>120哦主,求你引领我脚步</string>
    <string>121一生爱你</string>
    <string>122亲近你</string>
    <string>123深夜的牵引</string>
    <string>124当我心亲近救主</string>
    <string>125耶和华的大能力</string>
    <string>126耶稣关心你</string>
    <string>127站在主殿中</string>
    <string>128他掌握</string>
    <string>129使用我</string>
    <string>130藉着神丰盛的怜悯</string>
    <string>131人子</string>
    <string>132爱在盛开</string>
    <string>133发现</string>
    <string>134垃圾的联想</string>
    <string>135告诉你</string>
    <string>136香膏果子</string>
    <string>137敬拜你</string>
    <string>138你是圣洁</string>
    <string>139在赞美中成长</string>
    <string>140提醒</string>
    <string>141浪子</string>
    <string>142齐步向前同奔主道路</string>
    <string>143宽广的爱</string>
    <string>144能有耶稣你真好</string>
    <string>145祷告</string>
    <string>146你的爱</string>
    <string>147爱的明灯</string>
    <string>148你是为了爱才来到这世界的人</string>
    <string>149仰望星空</string>
    <string>150与主为良友</string>
    <string>151万民欢歌</string>
    <string>152主耶稣你选择了我</string>
    <string>153圣恩临神州</string>
    <string>154永远的救主</string>
    <string>155四方即是我天家</string>
    <string>156释放我自由</string>
    <string>157安静</string>
    <string>158主你是我最爱</string>
    <string>159那一天的那一夜</string>
    <string>160愿将我的心给你</string>
    <string>161心的仰望</string>
    <string>162你的恩典</string>
    <string>163他悄悄踏过</string>
    <string>164耶稣陪我每一天</string>
    <string>165追寻</string>
    <string>166歌颂耶和华</string>
    <string>167我愿意</string>
    <string>168主耶稣爱我</string>
    <string>169是这份爱</string>
    <string>170主把大爱藏在患难里</string>
    <string>171相伴遨游在天际</string>
    <string>172祷告歌</string>
    <string>173我主奇妙的耶稣</string>
    <string>174跨越时空</string>
    <string>175爱你——耶稣</string>
    <string>176第一步</string>
    <string>177爱的使命</string>
    <string>178求主保佑</string>
    <string>179我们是一家人</string>
    <string>180梦中的天堂</string>
    <string>181领我出旷野</string>
    <string>182诗篇116</string>
    <string>183万国得知你的救恩</string>
    <string>184与主相约同行</string>
    <string>185神圣的爱</string>
    <string>186宝座前的敬拜</string>
    <string>187良人是你</string>
    <string>188旷野呼声</string>
    <string>189今天我们要站出来</string>
    <string>190永生</string>
    <string>191十架骷髅地</string>
    <string>192愿献我心</string>
    <string>193因为有你</string>
    <string>194永远唱着赞美</string>
    <string>195爱情奇迹</string>
    <string>196召唤</string>
    <string>197一年的路程</string>
    <string>198试炼中的歌吟</string>
    <string>199感恩</string>
    <string>200赞美他名</string>
    <string>201唯有他配得赞美</string>
    <string>202飞向他飞向自由</string>
    <string>203给我信心的眼睛</string>
    <string>204蝶梦翩翩</string>
    <string>205宣告你为王</string>
    <string>206守候一生</string>
    <string>207敬拜的心</string>
    <string>208誓言</string>
    <string>209摇啊摇</string>
    <string>210天国的人</string>
    <string>211让我活在基督里</string>
    <string>212锡安苏醒吧</string>
    <string>213配得尊崇</string>
    <string>214记念主</string>
    <string>215他是爱我，为我舍己</string>
    <string>216在你荣耀中</string>
    <string>217欢欣歌颂主</string>
    <string>218我们在天上的父</string>
    <string>219欢然取水</string>
    <string>220航行</string>
    <string>221微风</string>
    <string>222预备我的心</string>
    <string>223约</string>
    <string>224泥土的祷告</string>
    <string>225你是我的平安</string>
    <string>226让我们来登耶和华的山</string>
    <string>227他轻声呼唤你的名字</string>
    <string>228我是你所造</string>
    <string>229哈利路亚！主我神作王了</string>
    <string>230吸引我，我就快跑随你</string>
    <string>231应许之地</string>
    <string>232你的恩典够我用</string>
    <string>233只要有你</string>
    <string>234我相信</string>
    <string>235能力归我神</string>
    <string>236最神奇的就是爱</string>
    <string>237奇妙的策士</string>
    <string>238献祭</string>
    <string>239你是我神</string>
    <string>240明天的路</string>
    <string>241哦！主</string>
    <string>242除了你自己</string>
    <string>243愿你国度降临</string>
    <string>244尊贵荣耀主</string>
    <string>245荣耀你圣名</string>
    <string>246敬拜直到永远</string>
    <string>247耶稣沙仑玫瑰</string>
    <string>248与天比高</string>
    <string>249寂寞却不孤单</string>
    <string>250让世界可爱起来</string>
    <string>251赤子之心</string>
    <string>252因他喜悦我</string>
    <string>253我一生全奉献给你</string>
    <string>254你是我心中的音乐</string>
    <string>255和散那</string>
    <string>256诗篇三十二篇</string>
    <string>257颂赞荣耀主圣名</string>
    <string>258超过一切</string>
    <string>259主啊！我真爱你</string>
    <string>260我的天父</string>
    <string>261脚步轻盈</string>
    <string>262她的新郎</string>
    <string>263耶稣基督是主</string>
    <string>264耶稣会释放你</string>
    <string>265严冬里也有春天</string>
    <string>266父爱</string>
    <string>267留一颗心填满耶稣</string>
    <string>268更爱我自己</string>
    <string>269有谁？</string>
    <string>270有你同在</string>
    <string>271你是配</string>
    <string>272若我们相爱</string>
    <string>273活水江河</string>
    <string>274来欢庆</string>
    <string>275大自然合唱团</string>
    <string>276投靠你的愿他们喜乐</string>
    <string>277超乎我所求所想</string>
    <string>278耶稣 耶稣</string>
    <string>279在陶匠手中</string>
    <string>280测不透的爱</string>
    <string>281你靠近</string>
    <string>282你的爱</string>
    <string>283你的爱</string>
    <string>284我心属于你</string>
    <string>285主你永远与我同在</string>
    <string>286主啊，我们自卑</string>
    <string>287你在我身边</string>
    <string>288起来神的儿女</string>
    <string>289我献上生命</string>
    <string>290为主赢得世界</string>
    <string>291我有喜乐</string>
    <string>292虹</string>
    <string>293靠主常喜乐</string>
    <string>294拥抱每一天</string>
    <string>295耶稣现在与永远</string>
    <string>296我爱你，天父</string>
    <string>297我热爱我的生活</string>
    <string>298耶稣超乎万名之名</string>
    <string>299昨夜的月儿</string>
    <string>300关键时刻</string>
    <string>301尊荣圣洁主</string>
    <string>302公义圣洁主</string>
    <string>303来到十架前</string>
    <string>304我们欢迎</string>
    <string>305我的拯救者</string>
    <string>306直到永远</string>
    <string>307我身旁</string>
    <string>308多爱，多能力</string>
    <string>309洁净我</string>
    <string>310美丽的夜里</string>
    <string>311出发</string>
    <string>312直到世界尽头</string>
    <string>313我需要你</string>
    <string>314居住在我心</string>
    <string>315耶稣我救赎主</string>
    <string>316哦主耶稣</string>
    <string>317以利亚的日子</string>
    <string>318这是我异象</string>
    <string>319尊贵的君王</string>
    <string>320得胜之歌</string>
    <string>321保护之歌</string>
    <string>322教会之歌</string>
    <string>323最好的朋友</string>
    <string>324我相信</string>
    <string>325每一天</string>
    <string>326如此爱你</string>
    <string>327我们已被拣选</string>
    <string>328展翅如鹰</string>
    <string>329当我进入他的门</string>
    <string>330触摸到你</string>
    <string>331重生</string>
    <string>332在你身边</string>
    <string>333你是配得</string>
    <string>334一直到永远</string>
    <string>335与耶稣同行</string>
    <string>336愿赞美充满</string>
    <string>337我救主活着</string>
    <string>338是你</string>
    <string>339让他的喜乐充满你</string>
    <string>340主我高举你的名</string>
    <string>341就是你</string>
    <string>342荣耀羔羊</string>
    <string>343我身后</string>
    <string>344凡事都能做</string>
    <string>345你是否感到群山震动</string>
    <string>346小小的梦想</string>
    <string>347我要来欢呼</string>
    <string>348我要歌唱你爱到永远</string>
    <string>349无人能像你</string>
    <string>350主我要奔向你</string>
    <string>351他医治破碎心灵</string>
    <string>352我们渴望高举主耶稣</string>
    <string>353主你真信实</string>
    <string>354神真是我力量</string>
    <string>355愿你荣耀今降临</string>
    <string>356思想他的爱</string>
    <string>357引我亲近你</string>
    <string>358蒙神祝福的人</string>
    <string>359圣哉圣哉圣哉</string>
    <string>360向君王欢呼</string>
    <string>361神是我的拯救</string>
    <string>362超乎一切</string>
    <string>363在主的同在中</string>
    <string>364这世代</string>
    <string>365创造我的耶和华</string>
    <string>366耶稣求指引我生命道路</string>
    <string>367十字架的道路殉道者的生命</string>
    <string>368生命在于你</string>
    <string>369圣灵降下恩雨</string>
    <string>370直到列国万民看见主</string>
    <string>371活石</string>
    <string>372为荣耀君王预备道路</string>
    <string>373宝贵十架</string>
    <string>374看见复兴</string>
    <string>375求主充满我</string>
    <string>376差我</string>
    <string>377赞美耶稣</string>
    <string>378喔！十字架</string>
    <string>379爱我的天父</string>
    <string>380在你宝座前</string>
    <string>381神羔羊配得</string>
    <string>382拣选</string>
    <string>383耶和华赐下欢欣快乐</string>
    <string>384飞翔</string>
    <string>385一生为你而活</string>
    <string>386耶稣对我真好</string>
    <string>387甜美的声音</string>
    <string>388人生之路上你留下什么</string>
    <string>389挥舞主旌旗</string>
    <string>390做盐做光</string>
    <string>391诗篇130篇1-4节</string>
    <string>392改变世界</string>
    <string>393是此刻是现在</string>
    <string>394只有你</string>
    <string>395你是弥赛亚</string>
    <string>396主啊，求你侧耳听</string>
    <string>397起来歌唱荣耀</string>
    <string>398全然美丽</string>
    <string>399看荣耀君王降临在这地</string>
    <string>400one way</string>
    <string>401圣灵请你来</string>
    <string>402新酒</string>
    <string>403主你是我力量</string>
    <string>404全然为你</string>
    <string>405主啊我愿行事坚定</string>
    <string>406无可取代</string>
    <string>407你的慈爱</string>
    <string>408被造的意义</string>
    <string>409我在这</string>
    <string>410我们同心合意</string>
    <string>411耶稣、耶稣</string>
    <string>412全地都唱和</string>
    <string>413因我等候你</string>
    <string>414神本为大</string>
    <string>415大能的爱</string>
    <string>416和散那</string>
    <string>417转化我国家</string>
    <string>418千山万水，恩惠相随</string>
    <string>419耶稣的宝血</string>
    <string>420为华人祷告</string>
    <string>421生命河流</string>
    <string>422打开众城门</string>
    <string>423我要单单仰望你</string>
    <string>424献上生命</string>
    <string>425我歌，我主</string>
    <string>426求你充满我</string>
    <string>427我要兴起歌唱</string>
    <string>428与你如影随形</string>
    <string>429让我们欢欣</string>
    <string>430我愿意为你</string>
    <string>431求赐复兴之火</string>
    <string>432一生跟随你</string>
    <string>433尽心尽力赞美主</string>
    <string>434全心呼求</string>
    <string>435向列国宣告</string>
    <string>436家</string>
    <string>437永远爱你</string>
    <string>438一生年日</string>
    <string>439聆听你声音</string>
    <string>440耶稣是你</string>
    <string>441圣洁全能主</string>
    <string>442你的爱没有离去</string>
    <string>443你是我神</string>
    <string>444耶稣的爱</string>
    <string>445因为有你</string>
    <string>446紧相连</string>
    <string>447为这世界</string>
    <string>448呼求</string>
    <string>449荣美辉煌</string>
    <string>450走过风雨</string>
    <string>451你使我欢欣</string>
    <string>452远超过</string>
    <string>453全能圣洁主</string>
    <string>454永远尊贵</string>
    <string>455相爱一生</string>
    <string>456复兴已点燃了</string>
    <string>457才知道</string>
    <string>458沙漠中的骆驼</string>
    <string>459承诺</string>
    <string>460把阴影挪开</string>
    <string>461love</string>
    <string>462有一天</string>
    <string>463奇妙大爱</string>
    <string>464神爱在人间</string>
    <string>465你以恩典为年岁的冠冕</string>
    <string>466黄羊思情</string>
    <string>467避难所</string>
    <string>468赢家</string>
    <string>469未得之地</string>
    <string>470主最喜悦我谦卑的心</string>
    <string>471渴慕你</string>
    <string>472神必与你同在</string>
    <string>473奇妙主</string>
    <string>474在人海中我遇见了你</string>
    <string>475水连着天</string>
    <string>476凡等候耶和华的</string>
    <string>477耶和华神已掌权</string>
    <string>478做一个被主用的人</string>
    <string>479听我的呼求</string>
    <string>480为耶路撒冷求平安</string>
    <string>481我灵要高唱新歌</string>
    <string>482黎巴嫩的香柏树</string>
    <string>483只有你</string>
    <string>484我们相信</string>
    <string>485要把财宝积攒在天上</string>
    <string>486神爱无限</string>
    <string>487主的爱比天高</string>
    <string>488我们要赞美你我主</string>
    <string>489要把教会建造在这磐石上</string>
    <string>490爱的力量</string>
    <string>491感激你大爱</string>
    <string>492来赞美</string>
    <string>493使命如山</string>
    <string>494耶和华啊你是我的神</string>
    <string>495信心的模范——亚伯拉罕</string>
    <string>496多祈祷多歌声</string>
    <string>497云山的爱</string>
    <string>498我们都看到神爱我们的凭据</string>
    <string>499紫色的袍</string>
    <string>500咱的家大呀</string>
    <string>501泪水一次次模糊了眼睛</string>
    <string>502不要忧虑</string>
    <string>503他名是全能</string>
    <string>504遥望大陆</string>
    <string>505主要回来把帐算</string>
    <string>506人生好虚空</string>
    <string>507时时警醒</string>
    <string>508主我心爱你深深爱你</string>
    <string>509从今天开始</string>
    <string>510遥远的祝福</string>
    <string>511信念永不被江河阻断</string>
    <string>512在我的心灵深处</string>
    <string>513神啊，求你来鉴察</string>
    <string>514神一定能</string>
    <string>515主已预备中国</string>
    <string>516如今我把你们交托神</string>
    <string>517大海啊能否告诉我</string>
    <string>518我们快回家</string>
    <string>519离别</string>
    <string>520祝福</string>
    <string>521喂我的羊</string>
    <string>522把心给你</string>
    <string>523为主歌唱</string>
    <string>524你是我生命的主</string>
    <string>525你们这小群不要惧怕</string>
    <string>526一起走</string>
    <string>527主命定我们的路</string>
    <string>528流泪之爱</string>
    <string>529亲爱的同工你在哪里</string>
    <string>530人生旅途</string>
    <string>531深沉的爱</string>
    <string>532我要仰望耶和华</string>
    <string>533你是我的依靠</string>
    <string>534平安的夜晚</string>
    <string>535最美好的祝福</string>
    <string>536祝愿神的仆人</string>
    <string>537燃烧的祭</string>
    <string>538在很久以前</string>
    <string>539好牧人</string>
    <string>540向主欢呼</string>
    <string>541复兴</string>
    <string>542惟有恩典</string>
    <string>543我愿成为主的喜乐</string>
    <string>544闪亮青春</string>
    <string>545神是看顾你的神</string>
    <string>546明天的明天</string>
    <string>547这信心越来越刚强</string>
    <string>548要敬虔</string>
    <string>549诺言</string>
    <string>550不变的爱</string>
    <string>551相爱到永远</string>
    <string>552心的祈祷</string>
    <string>553天堂</string>
    <string>554我心献给主</string>
    <string>555求主引领我</string>
    <string>556我有一位最知心朋友</string>
    <string>557天上的光</string>
    <string>558你的爱在这里</string>
    <string>559让生命不息</string>
    <string>560为主再多得一个灵魂</string>
    <string>561谁会永远爱你</string>
    <string>562苦难的恩惠</string>
    <string>563你和别人不一样</string>
    <string>564离不开你的爱</string>
    <string>565主你是我全部</string>
    <string>566爱的宣言</string>
    <string>567我们一起来祷告</string>
    <string>568有份爱</string>
    <string>569主啊！我要全心敬拜你</string>
    <string>570这个世界需要爱</string>
    <string>571耶稣永爱我</string>
    <string>572生命如虹</string>
    <string>573你爱的大能</string>
    <string>574我今爱你耶稣</string>
    <string>575耶和华作王</string>
    <string>576赞美主让光照耀吧</string>
    <string>577你的祷告他听见</string>
    <string>578神为大</string>
    <string>579信心的种子</string>
    <string>580主我尊崇你</string>
    <string>581在主怀你安息了</string>
    <string>582你是配得</string>
    <string>583主我感谢你</string>
    <string>584时刻有你</string>
    <string>585遇见神</string>
    <string>586三股合成的绳子</string>
    <string>587风雨同行</string>
    <string>588慈爱天父</string>
    <string>589心的赞美</string>
    <string>590我要为主活</string>
    <string>591一生属于你</string>
    <string>592旷野呼声</string>
    <string>593向往</string>
    <string>594举起祈祷的手</string>
    <string>595耶和华尼西</string>
    <string>596救主的宝血流阿流</string>
    <string>597我的心默默无声</string>
    <string>598世界正在改变</string>
    <string>599耶和华是我牧者</string>
    <string>600主知道</string>
    <string>601赞美的先锋</string>
    <string>602用灵歌唱</string>
    <string>603主的手量过</string>
    <string>604陪我走</string>
    <string>605你的家要侍奉耶和华</string>
    <string>606前行路上的亮光</string>
    <string>607让我们来祷告吧</string>
    <string>608刚强起来</string>
    <string>609我们活着更要敬拜你</string>
    <string>610合一是父亲的心意</string>
    <string>611荣耀归神平安给人</string>
    <string>612水火</string>
    <string>613我的朋友</string>
    <string>614欢乐之歌</string>
    <string>615我的神啊</string>
    <string>616婚礼祝福</string>
    <string>617我主我的神</string>
    <string>618这是为你为我</string>
    <string>619从今天起</string>
    <string>620金色的黎明</string>
    <string>621我幸福</string>
    <string>622亲爱的主耶稣基督</string>
    <string>623耶稣我主</string>
    <string>624我主最稳固的爱</string>
    <string>625永远生命</string>
    <string>626应当单单仰望主</string>
    <string>627奇妙的故事</string>
    <string>628我是主耶和华</string>
    <string>629谁能像你</string>
    <string>630耶稣圣名最甜美</string>
    <string>631你慈爱何等宝贵</string>
    <string>632流通管子</string>
    <string>633白天像太阳，夜晚像月亮</string>
    <string>634铃声响 铃声响</string>
    <string>635等你到我家</string>
    <string>636信心不停止</string>
    <string>637尊荣归主我神</string>
    <string>638医治恩典</string>
    <string>639向应许之地前行</string>
    <string>640主啊我在这里</string>
    <string>641搀主钉痕手</string>
    <string>642耶稣我需要你</string>
    <string>643你的光当照耀</string>
    <string>644如今在爱里</string>
    <string>645仿佛今晚在我心灵最深处</string>
    <string>646一切都改变</string>
    <string>647恩典-美妙声音</string>
    <string>648当晨曦来临</string>
    <string>649在主赐的田地里</string>
    <string>650我喜爱耶稣</string>
    <string>651无以言表的平安</string>
    <string>652我已找到甜蜜安息</string>
    <string>653奇妙平安由神来</string>
    <string>654开我的眼</string>
    <string>655愿你荣光降临</string>
    <string>656天上欢乐歌</string>
    <string>657他能改变</string>
    <string>658渴慕耶稣</string>
    <string>659老阿妈</string>
    <string>660神啊！改变我</string>
    <string>661哦主发光</string>
    <string>662主啊求你听</string>
    <string>663永远跟随你</string>
    <string>664你的话</string>
    <string>665你的爱</string>
    <string>666我活着为赞美你</string>
    <string>667我的神何等信实</string>
    <string>668神的路</string>
    <string>669齐来颂扬我王</string>
    <string>670爱之路</string>
    <string>671何等尊贵我主</string>
    <string>672主恩典够我用</string>
    <string>673如同众水充满海洋</string>
    <string>674主赐给我的所有恩典</string>
    <string>675是耶稣</string>
    <string>676求主操舵</string>
    <string>677恩主啊</string>
    <string>678赞美直到永远</string>
    <string>679爱的钟声</string>
    <string>680高举双手</string>
    <string>681人们需要主</string>
    <string>682万名之上的名</string>
    <string>683晨星天韵</string>
    <string>684求主差派收割者</string>
    <string>685像清晨宁静的国度</string>
    <string>686我生命和爱献给你</string>
    <string>687主爱如翅膀</string>
    <string>688赞美不尽歌</string>
    <string>689你与神是什么样的关系</string>
    <string>690奇妙的救主</string>
    <string>691看哪这片荒凉的黄土地</string>
    <string>692双膝跪下</string>
    <string>693爱的缘故</string>
    <string>694我救主耶稣</string>
    <string>695良人属我</string>
    <string>696走永生的路</string>
    <string>697圣灵之歌</string>
    <string>698我的平安</string>
    <string>699心的歌唱</string>
    <string>700专为主活</string>
    <string>701差遣之歌</string>
    <string>702主耶稣我爱你</string>
    <string>703耶和华我的力量啊</string>
    <string>704仰望主面</string>
    <string>705心意更新</string>
    <string>706默想主恩</string>
    <string>707心与心</string>
    <string>708换</string>
    <string>709诗篇第一三九篇</string>
    <string>710归家</string>
    <string>711流淌</string>
    <string>712不要气馁</string>
    <string>713自由</string>
    <string>714奔向久违伊甸园</string>
    <string>715人生的试卷</string>
    <string>716祂赐平安喜乐</string>
    <string>717我一生</string>
    <string>718你名何其美</string>
    <string>719我站在主前</string>
    <string>720最好的朋友是耶稣</string>
    <string>721主仆颂主</string>
    <string>722欢呼歌唱</string>
    <string>723旧事已过</string>
    <string>724朋友 耶稣</string>
    <string>725祷</string>
    <string>726神顾念我们</string>
    <string>727抓紧主的手</string>
    <string>728我要屈膝敬拜</string>
    <string>729苹果与玫瑰</string>
    <string>730永生神的灵</string>
    <string>731鉴察我</string>
    <string>732给你真平安</string>
    <string>733平安的夜晚</string>
    <string>734相遇</string>
    <string>735蒙神喜悦</string>
    <string>736愿我全然为你</string>
    <string>737我把耶稣带回家</string>
    <string>738放手，交给他</string>
    <string>739渴慕</string>
    <string>740只要耶稣</string>
    <string>741他是道路</string>
    <string>742我朝见耶和华</string>
    <string>743任何东西不能换我主</string>
    <string>744我的满足和益处</string>
    <string>745象天空的鸽子</string>
    <string>746感谢你全能十架</string>
    <string>747你是葡萄树</string>
    <string>748你是我的一切</string>
    <string>749我愿一生都跟随你</string>
    <string>750耶和华你的上帝</string>
    <string>751我的至爱 我的生命</string>
    <string>752愿</string>
    <string>753齐来唱赞美</string>
    <string>754真是感谢主</string>
    <string>755万物和我赞美主</string>
    <string>756在这个时刻</string>
    <string>757相爱一生</string>
    <string>758打开黑暗的角落</string>
    <string>759牵我手</string>
    <string>760我要歌颂</string>
    <string>761我本是尘土</string>
    <string>762恩雨</string>
    <string>763携手同心建灵宫</string>
    <string>764云之歌</string>
    <string>765生命的舵手</string>
    <string>766永不放弃</string>
    <string>767看见神的爱</string>
    <string>768高举主名</string>
    <string>769我多么需要有你</string>
    <string>770惟有你</string>
    <string>771陪我</string>
    <string>772圣殿充满赞美</string>
    <string>773伴你走过</string>
    <string>774耶稣 我深爱你</string>
    <string>775弟兄和睦在一起</string>
    <string>776亲近你</string>
    <string>777求你垂听我的言语</string>
    <string>778使我灵自由</string>
</array>
</plist>
