<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>001全然向你</string>
    <string>002颂主歌</string>
    <string>003让赞美飞扬</string>
    <string>004耶稣是配</string>
    <string>005坐在宝座上圣洁羔羊</string>
    <string>006一切歌颂赞美</string>
    <string>007敬拜万世之王</string>
    <string>008耶和华祝福满满</string>
    <string>009主赐福如春雨</string>
    <string>010主啊我要赞美你</string>
    <string>011你们要赞美耶和华</string>
    <string>012磐石，耶稣基督</string>
    <string>013进入你的同在</string>
    <string>014我的神我敬拜你</string>
    <string>015用我一生</string>
    <string>016赞美之泉</string>
    <string>017时刻赞美主</string>
    <string>018主啊我神</string>
    <string>019耶和华的心</string>
    <string>020认识了主</string>
    <string>021愿全地敬畏神</string>
    <string>022永世之光</string>
    <string>023我要歌颂我要赞美</string>
    <string>024今到主殿</string>
    <string>025我们要赞美耶和华</string>
    <string>026主我敬拜你</string>
    <string>027向耶和华唱新歌</string>
    <string>028同声赞美耶和华</string>
    <string>029我和我的家</string>
    <string>030荣耀真神</string>
    <string>031神在欢呼声中</string>
    <string>032我只仰望</string>
    <string>033全能的主耶稣</string>
    <string>034来到祈祷山</string>
    <string>035我要赞美歌颂主</string>
    <string>036歌颂神的慈爱</string>
    <string>037我们的神为大</string>
    <string>038主使我喜乐</string>
    <string>039每当我瞻仰你</string>
    <string>040欢呼主耶稣</string>
    <string>041这里有神的同在</string>
    <string>042要颂赞主圣名</string>
    <string>043点燃中国的火焰</string>
    <string>044黑门的甘露</string>
    <string>045赞美歌声</string>
    <string>046向主高唱</string>
    <string>047耶稣耶稣</string>
    <string>048主有谁能与你相比</string>
    <string>049你是荣耀君王</string>
    <string>050敬拜的时候</string>
    <string>051弹琴歌唱赞美你</string>
    <string>052我要颂扬</string>
    <string>053神迹</string>
    <string>054敬拜赞美耶和华</string>
    <string>055无声的赞美</string>
    <string>056敬拜耶和华</string>
    <string>057你们要赞美耶和华</string>
    <string>058愿你崇高</string>
    <string>059永活全能的神</string>
    <string>060彩虹下的约定</string>
    <string>061平安之夜</string>
    <string>062以马内利来临</string>
    <string>063哈利路亚</string>
    <string>064弥赛亚之歌</string>
    <string>065来庆贺圣诞</string>
    <string>066圣诞之夜</string>
    <string>067主啊你爱伟大</string>
    <string>068众扬声赞美主</string>
    <string>069欢乐佳音</string>
    <string>070主啊你爱伟大</string>
    <string>071主舍宝座</string>
    <string>072普世欢腾</string>
    <string>073人子耶稣寻亡羊</string>
    <string>074基督降世</string>
    <string>075奇异恩典</string>
    <string>076主我想问一问祢</string>
    <string>077耶稣爱你</string>
    <string>078牺牲的爱</string>
    <string>079爱我愿意</string>
    <string>080与主同忧</string>
    <string>081爱的雕琢</string>
    <string>082到加略山</string>
    <string>083耶稣恩友</string>
    <string>084耶稣爱你</string>
    <string>085我心爱主</string>
    <string>086加略山的爱</string>
    <string>087各各他的路</string>
    <string>088十架下我低头静默思想</string>
    <string>089在各各他</string>
    <string>090十架道路</string>
    <string>091谁慰主心</string>
    <string>092救主舍命</string>
    <string>093纪念主</string>
    <string>094举起救恩的杯</string>
    <string>095我心爱主</string>
    <string>096爱的道路</string>
    <string>097十架永存</string>
    <string>098我跪在主面前</string>
    <string>099有谁能与主儆醒到天亮</string>
    <string>100是谁</string>
    <string>101主啊我怎不爱你</string>
    <string>102想念主恩</string>
    <string>103生命江河</string>
    <string>104主在墓中安卧</string>
    <string>105因他活着</string>
    <string>106基督今复活</string>
    <string>107十字架的爱</string>
    <string>108主为你死 你在哪里</string>
    <string>109主啊 我怎能把祢舍下</string>
    <string>110主活着</string>
    <string>111耶稣为我</string>
    <string>112看主钉眼</string>
    <string>113十字架</string>
    <string>114我知道我的救主活看</string>
    <string>115歌唱主爱</string>
    <string>116叹岁月虚度未注主恩</string>
    <string>117圣洁仁爱</string>
    <string>118我的罪何等重大</string>
    <string>119若不是圣灵的引导</string>
    <string>120神国是努力进入的</string>
    <string>121回首再回首</string>
    <string>122曙光</string>
    <string>123主的召唤</string>
    <string>124曾经</string>
    <string>125主你若究查罪孽</string>
    <string>126仍得救恩之乐</string>
    <string>127主在你心外叩门</string>
    <string>128求主鉴查</string>
    <string>129仔细想想</string>
    <string>130我已经懂得怎样去选择</string>
    <string>131主愿拯救</string>
    <string>132唯有主耶稣的宝血</string>
    <string>133光明之子</string>
    <string>134压伤的芦苇</string>
    <string>135中国早上五点钟</string>
    <string>136我以祷告来到你面前</string>
    <string>137为中国祷告</string>
    <string>138向主倾诉</string>
    <string>139我们要祷告</string>
    <string>140进入你的内室</string>
    <string>141投进主的怀抱</string>
    <string>142祷告</string>
    <string>143这是我的心声</string>
    <string>144听我的祷告</string>
    <string>145听我心声</string>
    <string>146赐我自由</string>
    <string>147今夜难眠</string>
    <string>148我的祈祷</string>
    <string>149为和平祈祷</string>
    <string>150耶稣给你平安</string>
    <string>151万人祷告的殿</string>
    <string>152祈祷和平</string>
    <string>153没有栅栏的天空</string>
    <string>154举手</string>
    <string>155爱的呼唤</string>
    <string>156接神至心</string>
    <string>157带着你的欢笑</string>
    <string>158寻找</string>
    <string>159一件礼物</string>
    <string>160永恒的生命</string>
    <string>161人生一切的福</string>
    <string>162人生之舟</string>
    <string>163永恒的答问</string>
    <string>164神啊！我要赞美你</string>
    <string>165万物的结局近了</string>
    <string>166主必快来</string>
    <string>167虚空的尘世</string>
    <string>168有一位神</string>
    <string>169审判日要来</string>
    <string>170这世界非我家</string>
    <string>171今生若比永恒长</string>
    <string>172人人都应该知道</string>
    <string>173神这样眷顾</string>
    <string>174日光之下</string>
    <string>175中国心</string>
    <string>176末日迫近了</string>
    <string>177给我一颗中国心</string>
    <string>178盼望永恒的国度</string>
    <string>179有一地方</string>
    <string>180奇妙迦南</string>
    <string>181荣美家乡</string>
    <string>182复兴的火</string>
    <string>183人生还有几个春秋</string>
    <string>184天上的呼召</string>
    <string>185兴起吧我的心</string>
    <string>186速速兴起</string>
    <string>187青年兴起</string>
    <string>188青春献于神</string>
    <string>189耶和华祢是我的神</string>
    <string>190宣教的中国</string>
    <string>191献上自己为祭</string>
    <string>192你在哪里</string>
    <string>193耶和华是我的力量</string>
    <string>194谁与主同心</string>
    <string>195兴起为耶稣</string>
    <string>196复兴在今天</string>
    <string>197在普世传福音的工作上</string>
    <string>198主的呼唤</string>
    <string>199当趁年轻纪念主</string>
    <string>200个人布道</string>
    <string>201中华要兴起</string>
    <string>202工作回忆</string>
    <string>203田地里的庄稼</string>
    <string>204我们不后悔</string>
    <string>205耶稣现代人的希望</string>
    <string>206主的恩召</string>
    <string>207生死线上</string>
    <string>208中华就是第四等的田</string>
    <string>209主你要我的是什么</string>
    <string>210踏上福音的路程</string>
    <string>211主啊我愿一生献于你</string>
    <string>212生命属于你</string>
    <string>213愿那灵火复兴我</string>
    <string>214羊啊羊那么多的羊</string>
    <string>215谁能使我们</string>
    <string>216耶稣全人类的希望</string>
    <string>217向主尽忠</string>
    <string>218主所爱的人在哪里</string>
    <string>219以马内利</string>
    <string>220耶稣全得胜</string>
    <string>221得胜得胜哈利路亚</string>
    <string>222宝血有权能</string>
    <string>223兴起发光</string>
    <string>224耶和华我的神</string>
    <string>225复兴圣洁</string>
    <string>226默想主恩</string>
    <string>227我的心愿</string>
    <string>228新年祝福</string>
    <string>229一年如一日</string>
    <string>230走进新的一天</string>
    <string>231主恩奇妙</string>
    <string>232我今天为你祝福</string>
    <string>233从岁首到年终</string>
    <string>234赞美天地至高主</string>
    <string>235感恩的泪水</string>
    <string>236爱 喜乐 生命</string>
    <string>237你要称颂耶和华</string>
    <string>238除你以外</string>
    <string>239起来吧</string>
    <string>240除你以外</string>
    <string>241阿爸父</string>
    <string>242人的生命只有一次</string>
    <string>243寻找</string>
    <string>244云上太阳</string>
    <string>245耶和华是爱</string>
    <string>246主我愿单属你</string>
    <string>247馨香晚祭</string>
    <string>248一生献于主</string>
    <string>249足印</string>
    <string>250主我心说爱你</string>
    <string>251全新的你</string>
    <string>252专心仰望神</string>
    <string>253撒网的人</string>
    <string>254常常喜乐</string>
    <string>255主是葡萄树</string>
    <string>256生命的执着</string>
    <string>257求主给我一颗心</string>
    <string>258倾听我的心</string>
    <string>259在谷中我遇见祢</string>
    <string>260主总是这样爱我</string>
    <string>261抛开属地的追求</string>
    <string>262劝</string>
    <string>263同路人</string>
    <string>264心中的光</string>
    <string>265神爱在人间</string>
    <string>266赏赐</string>
    <string>267主我爱你</string>
    <string>268我要向山举目</string>
    <string>269奇妙之神</string>
    <string>270非常的岁月里</string>
    <string>271有一天</string>
    <string>272为什么不走出那城</string>
    <string>273和睦同居</string>
    <string>274心曲</string>
    <string>275信靠耶和华</string>
    <string>276我的心愿</string>
    <string>277主永活在我心</string>
    <string>278最大的财富</string>
    <string>279苦难中的恩典</string>
    <string>280谦卑随主</string>
    <string>281主的爱永不改变</string>
    <string>282主如明亮晨星</string>
    <string>283有一条路</string>
    <string>284愿主怜悯</string>
    <string>285主你是我知心朋友</string>
    <string>286灵程路上</string>
    <string>287神怜恤敬畏他的人</string>
    <string>288需要耶稣</string>
    <string>289当仰望神</string>
    <string>290主怀念我</string>
    <string>291奇妙的双手</string>
    <string>292靠主引导</string>
    <string>293爱的真谛</string>
    <string>294愿献所有</string>
    <string>295我该怎么办</string>
    <string>296都归耶稣</string>
    <string>297主是我的诗歌</string>
    <string>298生命路</string>
    <string>299何等大的慈爱</string>
    <string>300圣灵充满</string>
    <string>301到神的殿谨慎脚步</string>
    <string>302甘泉歌</string>
    <string>303野地的花</string>
    <string>304思慕主爱</string>
    <string>305主是甘霖</string>
    <string>306炼我愈精</string>
    <string>307旷野开道路</string>
    <string>308荒漠甘泉</string>
    <string>309末世必有危险的日子</string>
    <string>310苦海的漩涡</string>
    <string>311你是我的神</string>
    <string>312擘生命饼</string>
    <string>313拥有主我心满足</string>
    <string>314凄风枯雨</string>
    <string>315主啊陶造我</string>
    <string>316我不知明天的道路</string>
    <string>317我的心只属于你</string>
    <string>318亲爱救主</string>
    <string>319圣灵的能力</string>
    <string>320当我想起你</string>
    <string>321主里甘甜</string>
    <string>322弦外之歌</string>
    <string>323以马内利</string>
    <string>324看哪！新郎来到</string>
    <string>325主爱无法表白</string>
    <string>326大海中的船</string>
    <string>327主是避难所</string>
    <string>328你遇见主了吗</string>
    <string>329加倍的灵</string>
    <string>330主啊我需要你的话语</string>
    <string>331耶稣不改变</string>
    <string>332把你的人生交给主掌管</string>
    <string>333在这些仅存的年间</string>
    <string>334主啊！我亲近你</string>
    <string>335不为明天忧虑</string>
    <string>336良伴的引导</string>
    <string>337我灵渴慕你</string>
    <string>338活出生命的色彩</string>
    <string>339亲爱主牵我手</string>
    <string>340丰盛的人生</string>
    <string>341主我愿单属你</string>
    <string>342看不见的时候</string>
    <string>343主啊！我算什么</string>
    <string>344跟随救主</string>
    <string>345耶和华是我的牧者</string>
    <string>346走过秋天</string>
    <string>347主啊！求你兴起我</string>
    <string>348让神儿子的爱围绕你</string>
    <string>349主当我向你跪下的时候</string>
    <string>350托住我的是你</string>
    <string>351相约在主里</string>
    <string>352主耶稣你是爱</string>
    <string>353神的爱真情不变</string>
    <string>354他必应允</string>
    <string>355拥戴他为王</string>
    <string>356走过的路</string>
    <string>357主是亲爱伴侣</string>
    <string>358神的道路</string>
    <string>359世界有你更美好</string>
    <string>360彼此相爱</string>
    <string>361神要开道路</string>
    <string>362走出软弱</string>
    <string>363万军之耶和华</string>
    <string>364主我的灵呼唤你</string>
    <string>365一个有信心的人</string>
    <string>366因我所遭遇的是出于你</string>
    <string>367爱我们的家</string>
    <string>368再给我一个机会</string>
    <string>369我们是一家人</string>
    <string>370主是道路真理生命</string>
    <string>371主，因你在我的生命中走过</string>
    <string>372荣耀的改变</string>
    <string>373把冷漠变成爱</string>
    <string>374盼望与你同在</string>
    <string>375认识你真好</string>
    <string>376黑暗中的光芒</string>
    <string>377窄路</string>
    <string>378向耶和华唱新歌</string>
    <string>379给我你的手</string>
    <string>380智慧的人</string>
    <string>381宝贝</string>
    <string>382转变</string>
    <string>383奥秘</string>
    <string>384让爱走动</string>
    <string>385你的名何其美</string>
    <string>386歌颂复活主</string>
    <string>387欢唱</string>
    <string>388投靠者的赞美</string>
    <string>389给我希望</string>
    <string>390欢呼收割</string>
    <string>391永存的根基</string>
    <string>392求使用我</string>
    <string>393高歌</string>
    <string>394一道江河</string>
    <string>395征战的兵器</string>
    <string>396爱的团契</string>
    <string>397敬拜主</string>
    <string>398主爱滋润我心</string>
    <string>399新希望</string>
    <string>400给我真正的自由</string>
    <string>401福音小唱</string>
    <string>402美好的黎明</string>
    <string>403开你心门</string>
    <string>404我是什么人</string>
    <string>405你们要敬畏耶和华</string>
    <string>406耶稣，我的耶稣</string>
    <string>407荣耀神羔羊</string>
    <string>408信心更坚强</string>
    <string>409全心赞美主</string>
    <string>410我心爱的主</string>
    <string>411尽情赞美主</string>
    <string>412天父在等我</string>
    <string>413荣耀归与最高神</string>
    <string>414为主我要吟诗</string>
    <string>415同工歌</string>
    <string>416无困难的事</string>
    <string>417当刚强壮胆</string>
    <string>418人生道路的主宰</string>
    <string>419主血洗我心</string>
    <string>420主为第一</string>
    <string>421来敬拜主</string>
    <string>422我们又在一起</string>
    <string>423哦主我爱你</string>
    <string>424主我爱你</string>
    <string>425主的爱</string>
    <string>426报好信息</string>
    <string>427主你真是爱我</string>
    <string>428是爱</string>
    <string>429感恩歌</string>
    <string>430我的人生</string>
    <string>431你要听从圣灵</string>
    <string>432求主开我眼睛</string>
    <string>433有一位好朋友</string>
    <string>434神迹</string>
    <string>435心连心</string>
    <string>436流泪撒种</string>
    <string>437你配得至圣尊荣</string>
    <string>438聚集在主宝座前</string>
    <string>439救赎</string>
    <string>440奉主名得胜</string>
    <string>441我必称颂神</string>
    <string>442是谁为主</string>
    <string>443随时赞美</string>
    <string>444呼唤</string>
    <string>445主啊我感谢你</string>
    <string>446飞越彩虹</string>
    <string>447教会是我温暖的家</string>
    <string>448得胜的元帅</string>
    <string>449圣灵运行在这里</string>
    <string>450我曾说跟随主</string>
    <string>451涌出活水</string>
    <string>452奉主差遣</string>
    <string>453大海中的道路</string>
    <string>454主爱有多少</string>
    <string>455求你领我走永活的路</string>
    <string>456握手</string>
    <string>457如鹿渴慕溪水</string>
    <string>458旷野不再荒凉</string>
    <string>459想起主恩</string>
    <string>460我要赞美耶和华</string>
    <string>461我的口要赞美</string>
    <string>462感谢上帝</string>
    <string>463赞美歌声不息</string>
    <string>464感谢神</string>
    <string>465复兴之火</string>
    <string>466在主里喜乐</string>
    <string>467委身之歌</string>
    <string>468永活神的灵</string>
    <string>469全副军装</string>
    <string>470靠着耶稣圣名</string>
    <string>471主名最甜</string>
    <string>472除他以外别无他名</string>
    <string>473有一个村庄</string>
    <string>474我们当称谢耶和华</string>
    <string>475活水生命·主永活我心</string>
    <string>476我敬拜你</string>
    <string>477时间还有一点点</string>
    <string>478选择</string>
    <string>479及时雨</string>
    <string>480活出主的爱</string>
    <string>481在你手中</string>
    <string>482主啊！你的家人都在这里</string>
    <string>483十字架之光</string>
    <string>484耶稣你是宝贵</string>
    <string>485有主与我同在</string>
    <string>486和过去不一样</string>
    <string>487我有明天</string>
    <string>488我们成为一家人</string>
    <string>489只有你</string>
    <string>490你是我永远的救主</string>
    <string>491你们要顺从耶和华</string>
    <string>492世界是旅行地方</string>
    <string>493震撼</string>
    <string>494耶稣爱我</string>
    <string>495谷中百合花</string>
    <string>496哈利路亚</string>
    <string>497恩曲不休</string>
    <string>498荣耀的君王</string>
    <string>499如果你想知道</string>
    <string>500圣诞心愿</string>
    <string>501一生赞美你</string>
    <string>502是耶稣</string>
    <string>503大能手</string>
    <string>504人算什么</string>
    <string>505世界虽然美丽非常</string>
    <string>506心中得安息</string>
    <string>507主你的爱</string>
    <string>508主啊我在这里</string>
    <string>509以色列啊你要听着</string>
    <string>510主啊！我有事求你</string>
    <string>511面向永远家园</string>
    <string>512赎我的价值极贵</string>
    <string>513回想主恩</string>
    <string>514主啊！我把我的家交给你</string>
    <string>515基督真光照大地</string>
    <string>516举手领受恩膏</string>
    <string>517述说不尽的恩典</string>
    <string>518客西马尼</string>
    <string>519愿为主燃烧</string>
    <string>520有谁像你</string>
    <string>521耶稣的爱</string>
    <string>522更新我心意</string>
    <string>523改变我改变世界</string>
    <string>524以色列的圣者</string>
    <string>525圣诞心</string>
    <string>526齐来歌唱</string>
    <string>527为基督赢得这城市</string>
    <string>528神的心愿</string>
    <string>529大地音韵飘</string>
    <string>530高声唱主为王</string>
    <string>531耶稣我们唯一的盼望</string>
    <string>532圣诞喜讯</string>
    <string>533耶稣与我同在</string>
    <string>534永远的臂膀</string>
    <string>535你是否愿意</string>
    <string>536赞美耶和华</string>
    <string>537风雨的岁月</string>
    <string>538主我要遇见你</string>
    <string>539这一生最美好的祝福</string>
    <string>540明天的太阳</string>
    <string>541救主降生</string>
    <string>542欢乐颂</string>
    <string>543耶和华常在我右边</string>
    <string>544蓝色的夜</string>
    <string>545回家</string>
    <string>546起来赞美</string>
    <string>547我爱圣诞花</string>
    <string>548救恩普及歌</string>
    <string>549耶稣的深恩</string>
    <string>550无人能像你</string>
    <string>551用我的歌</string>
    <string>552圣诞歌咏</string>
    <string>553我爱慕你的律法</string>
    <string>554同贺圣诞歌</string>
    <string>555鼓舞</string>
    <string>556求你国度降临</string>
    <string>557中国人要起来</string>
    <string>558主啊我要更爱你</string>
    <string>559与主同行</string>
    <string>560两个环</string>
    <string>561我愿触动你心弦</string>
    <string>562寻见</string>
    <string>563因你永远不失信</string>
    <string>564中国的夜晚</string>
    <string>565主等你来</string>
    <string>566尊崇主圣名</string>
    <string>567天父的孩子</string>
    <string>568展开清晨的翅膀</string>
    <string>569奉献</string>
    <string>570请问时间</string>
    <string>571落泪的羔羊</string>
    <string>572生命的凯歌</string>
    <string>573给我清洁的心</string>
    <string>574趁机传扬</string>
    <string>575让你去到那边</string>
    <string>576体恤忧伤</string>
    <string>577你要听从圣灵</string>
    <string>578给我换颗心</string>
    <string>579除了你</string>
    <string>580展翅上腾</string>
    <string>581赞美从心而出</string>
    <string>582这么大的救恩怎能忽略</string>
    <string>583我心完全归你</string>
    <string>584天堂--美丽的家乡</string>
    <string>585主使你得安息</string>
    <string>586主啊！给我力量</string>
    <string>587我怎能不爱主</string>
    <string>588主我邀请你</string>
    <string>589献上感恩</string>
    <string>590凯歌</string>
    <string>591靠主得福</string>
    <string>592永不与神的爱隔绝</string>
    <string>593我告诉你</string>
    <string>594生命的河</string>
    <string>595再活一次</string>
    <string>596求主感动我</string>
    <string>597有一恩手带领我</string>
    <string>598神所拣选的</string>
    <string>599感谢耶稣</string>
    <string>600等候耶和华</string>
    <string>601请听主柔声对你说</string>
    <string>602圣哉、神羔羊</string>
    <string>603我向神仰望交托的时候</string>
    <string>604奇妙的爱</string>
    <string>605主啊！我到你面前</string>
    <string>606我知道我的救赎者活着</string>
    <string>607回家</string>
    <string>608你是</string>
    <string>609主曾向我显现</string>
    <string>610风铃！风铃！</string>
    <string>611来吧我们要来跟随主</string>
    <string>612眼光</string>
    <string>613主在我们的中间</string>
    <string>614仰望恩典</string>
    <string>615儆醒</string>
    <string>616靠着耶稣得胜</string>
    <string>617为了爱</string>
    <string>618更深渴慕你</string>
    <string>619那日子</string>
    <string>620争战乃在乎神</string>
    <string>621看见</string>
    <string>622一生跟随</string>
    <string>623爱的呼唤</string>
    <string>624加略山的爱</string>
    <string>625深触我心</string>
    <string>626在他手中</string>
    <string>627你爱永不变</string>
    <string>628耶和华的膀臂环绕我</string>
    <string>629荣耀君王</string>
    <string>630你的路</string>
    <string>631心的归回</string>
    <string>632秋雨之福</string>
    <string>633在主爱中</string>
    <string>634盟约</string>
    <string>635不见一人，只见耶稣</string>
    <string>636新天地</string>
    <string>637仰望你的荣光</string>
    <string>638仰望耶稣</string>
    <string>639喜乐如泉源</string>
    <string>640为主来梦想</string>
    <string>641旷野开道路</string>
    <string>642生命之花</string>
    <string>643十字架的爱</string>
    <string>644世纪曙光</string>
    <string>645我的生命我的主</string>
    <string>646欢呼歌唱</string>
    <string>647我需要有你在我生命中</string>
    <string>648宁静时刻</string>
    <string>649活出真正的你</string>
    <string>650亲爱的主！听我祷告</string>
    <string>651神是我的避难所</string>
    <string>652在今日你使用我</string>
    <string>653重新来爱你</string>
    <string>654雅比斯的祷告</string>
    <string>655野地百合</string>
    <string>656我是个快乐人</string>
    <string>657你的目光要转向神</string>
    <string>658 我在这里Hi-Ne-Ni</string>
    <string>659神羔羊配得</string>
    <string>660耶稣正在这里</string>
    <string>661慈爱的手</string>
    <string>662我不愿坐在高位上</string>
    <string>663爱是从神来</string>
    <string>664我要因耶和华喜乐</string>
    <string>665全心全意</string>
    <string>666我心坚定于你</string>
    <string>667离了你我不能作什么</string>
    <string>668圣洁的光</string>
    <string>669不住感谢不住赞美</string>
    <string>670一生交你</string>
    <string>671不再是我</string>
    <string>672路仍然要走</string>
    <string>673祝</string>
    <string>674回家</string>
    <string>675以便以谢</string>
    <string>676将心归你</string>
    <string>677shalom平安</string>
    <string>678我愿跟随你</string>
    <string>679我们是你的百姓</string>
    <string>680要跟主走</string>
    <string>681主祷文</string>
    <string>682耶稣爱我</string>
    <string>683我怎么能没有你</string>
    <string>684深爱我主</string>
    <string>685主啊！我要认识你</string>
    <string>686宝座能力</string>
    <string>687新的喜乐</string>
    <string>688你为何对我这么好</string>
    <string>689主爱降下来</string>
    <string>690因你与我同行</string>
    <string>691耶稣我的心向你欢唱</string>
    <string>692耶和华拉法</string>
    <string>693你是我生命的亮光</string>
    <string>694我的上帝我的王</string>
    <string>695我不在乎</string>
    <string>696哈利路亚A-do-nai</string>
    <string>697合神心意</string>
    <string>698灵程</string>
    <string>699神就是爱</string>
    <string>700耶稣真爱你</string>
    <string>701因此我爱你</string>
    <string>702主赐平安(闽南语)</string>
    <string>703信实的上帝</string>
    <string>704你是如此爱我</string>
    <string>705耶稣的爱</string>
    <string>706春的歌唱</string>
    <string>707为你而活</string>
    <string>708耶稣你作王到永远</string>
    <string>709耶稣我唯一的热情</string>
    <string>710降下你圣灵</string>
    <string>711城市之爱</string>
    <string>712耶稣基督我救主</string>
    <string>713他的国度</string>
    <string>714耶稣喜爱小孩</string>
    <string>715挽回你儿女</string>
    <string>716希望之星</string>
    <string>717主我献上生命给你</string>
    <string>718人生步履</string>
    <string>719安静主里</string>
    <string>720主你是我最爱</string>
    <string>721那一天的那一夜</string>
    <string>722愿将我的心给你</string>
</array>
</plist>
