<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>001圣哉三一</string>
    <string>002三一来临</string>
    <string>003万世之宗</string>
    <string>004赞我天父</string>
    <string>005亚伯拉罕的主</string>
    <string>006赞美三一</string>
    <string>007夜尽光天</string>
    <string>008众圣颂扬</string>
    <string>009颂主恩光</string>
    <string>010齐来谢主</string>
    <string>011荣归天父</string>
    <string>012颂主化功</string>
    <string>013真美歌</string>
    <string>014太阳颂</string>
    <string>015称谢歌</string>
    <string>016慈父上帝</string>
    <string>017创造奇功</string>
    <string>018快乐崇拜</string>
    <string>019赞美上主</string>
    <string>020荣耀大君王</string>
    <string>021赞父奇爱</string>
    <string>022千古保障</string>
    <string>023赞美歌</string>
    <string>024慈悲稳定</string>
    <string>025主爱辉煌</string>
    <string>026大地风光</string>
    <string>027天父世界</string>
    <string>028万福泉源</string>
    <string>029愿仍高唱歌</string>
    <string>030天恩歌</string>
    <string>031慈悲圣父</string>
    <string>032万福之源</string>
    <string>033赞主权能歌</string>
    <string>034称颂崇拜歌</string>
    <string>035大哉圣名</string>
    <string>036贺他为王</string>
    <string>037美哉羔羊</string>
    <string>038赞美耶稣</string>
    <string>039拥戴歌</string>
    <string>040荣耀归主名</string>
    <string>041颂赞主圣名</string>
    <string>042尊贵名歌</string>
    <string>043尊主歌</string>
    <string>044主配受赞美</string>
    <string>045基督永长久</string>
    <string>046赞美不尽</string>
    <string>047颂主歌</string>
    <string>048道路真理生命</string>
    <string>049主名甜美</string>
    <string>050永生之爱</string>
    <string>051耶稣美名</string>
    <string>052美哉主耶稣</string>
    <string>053奇妙救主</string>
    <string>054心向主宝座</string>
    <string>055赞美主恩</string>
    <string>056上主之灵</string>
    <string>057慈仁圣灵</string>
    <string>058生命活水</string>
    <string>059圣灵</string>
    <string>060圣灵光照</string>
    <string>061吹气</string>
    <string>062圣灵运行</string>
    <string>063圣灵来到</string>
    <string>064主行新事</string>
    <string>065求充满我</string>
    <string>066以马内利来临</string>
    <string>067晨星</string>
    <string>068明星灿烂</string>
    <string>069一轮明月</string>
    <string>070牧人闻信</string>
    <string>071平安夜</string>
    <string>072君王诞生</string>
    <string>073圣诞佳音</string>
    <string>074新生王</string>
    <string>075普世欢腾</string>
    <string>076齐来崇拜</string>
    <string>077小伯利恒</string>
    <string>078马槽歌</string>
    <string>079圣夜静</string>
    <string>080圣诞夜</string>
    <string>081三博士</string>
    <string>082荣耀歌</string>
    <string>083欢乐佳音</string>
    <string>084圣诞感恩</string>
    <string>085扬声赞美</string>
    <string>086欢乐无穷尽</string>
    <string>087巍然乘驴</string>
    <string>088无量荣光</string>
    <string>089橄榄山头</string>
    <string>090耶稣独自祷告</string>
    <string>091父旨成全</string>
    <string>092城外青山</string>
    <string>093十架永存</string>
    <string>094领到各各他</string>
    <string>095流血</string>
    <string>096在十字架</string>
    <string>097受难歌</string>
    <string>098奇妙十架</string>
    <string>099宝架清影</string>
    <string>100万古磐石</string>
    <string>101我有主耶稣</string>
    <string>102宝架</string>
    <string>103我信主耶稣</string>
    <string>104复活良辰</string>
    <string>105战争完毕</string>
    <string>106基督复生</string>
    <string>107大启乐园</string>
    <string>108主复活</string>
    <string>109喜乐良辰</string>
    <string>110复活喜讯</string>
    <string>111救主升天</string>
    <string>112得胜君王</string>
    <string>113大开城门</string>
    <string>114同声欢呼</string>
    <string>115耶稣升天</string>
    <string>116再无幽谷</string>
    <string>117号筒吹响</string>
    <string>118等主回来</string>
    <string>119必须儆醒</string>
    <string>120审判日要来</string>
    <string>121将见我王</string>
    <string>122教会根基</string>
    <string>123我爱教会</string>
    <string>124教会三自</string>
    <string>125教会我所爱</string>
    <string>126基督教会</string>
    <string>127我爱中国教会</string>
    <string>128中华教会自立</string>
    <string>129信徒相爱</string>
    <string>130团契歌</string>
    <string>131系连妙结</string>
    <string>132万方团契</string>
    <string>133安静近主</string>
    <string>134今到主殿</string>
    <string>135颂主声音</string>
    <string>136聚会归主名下</string>
    <string>137礼拜喜乐</string>
    <string>138恭敬赞美</string>
    <string>139平安佳日</string>
    <string>140喜乐歌</string>
    <string>141高唱主名</string>
    <string>142耶稣普治</string>
    <string>143主定之日</string>
    <string>144安息圣日</string>
    <string>145复兴主工</string>
    <string>146礼拜散时</string>
    <string>147小鸟啼明</string>
    <string>148清晨歌</string>
    <string>149每日新恩</string>
    <string>150早起赞美</string>
    <string>151清早敬拜</string>
    <string>152主恩日新</string>
    <string>153夕阳西沉</string>
    <string>154黄昏崇拜</string>
    <string>155晚间颂声</string>
    <string>156我灵之光</string>
    <string>157夜晚观主</string>
    <string>158晚祷</string>
    <string>159快乐日</string>
    <string>160领受圣洗</string>
    <string>161天上欢乐</string>
    <string>162许愿</string>
    <string>163受洗归主</string>
    <string>164圣事中见主</string>
    <string>165擘开生命饼</string>
    <string>166爱筵我尝</string>
    <string>167救世天粮</string>
    <string>168来近圣桌</string>
    <string>169领受饼杯</string>
    <string>170学做好牧人</string>
    <string>171倾降圣灵</string>
    <string>172圣灵感化</string>
    <string>173圣堂纪念日</string>
    <string>174献堂感恩</string>
    <string>175为国求福</string>
    <string>176神佑中华</string>
    <string>177求主福佑中华</string>
    <string>178神工妙笔</string>
    <string>179心泉</string>
    <string>180一年又过</string>
    <string>181新岁初临</string>
    <string>182新年欢喜</string>
    <string>183四时近主</string>
    <string>184收成谢恩</string>
    <string>185恭行敬礼</string>
    <string>186欢乐婚姻</string>
    <string>187完全恩爱</string>
    <string>188孝亲歌</string>
    <string>189敬老尊长</string>
    <string>190生辰感恩</string>
    <string>191睡主怀中</string>
    <string>192靠恩得救</string>
    <string>193追思歌</string>
    <string>194再相会</string>
    <string>195三叠离歌</string>
    <string>196新屋落成感恩</string>
    <string>197生命之道</string>
    <string>198听训歌</string>
    <string>199与主心交</string>
    <string>200圣言常存</string>
    <string>201赐我圣经</string>
    <string>202播种比喻</string>
    <string>203祷告良辰</string>
    <string>204时常祈祷</string>
    <string>205不住祈祷</string>
    <string>206赐福如雨</string>
    <string>207凭主旨意行</string>
    <string>208求主助我祷告</string>
    <string>209园中同行</string>
    <string>210宝血宏恩</string>
    <string>211流血之泉</string>
    <string>212宝贵血泉</string>
    <string>213曾否就主</string>
    <string>214依傍十架</string>
    <string>215奇妙能力</string>
    <string>216近主十架</string>
    <string>217主寻亡羊</string>
    <string>218归回父家</string>
    <string>219慈声呼召</string>
    <string>220感谢主恩</string>
    <string>221主敲心门</string>
    <string>222妙爱找我</string>
    <string>223主肯进来</string>
    <string>224归主蒙恩</string>
    <string>225我来就主</string>
    <string>226必须重生</string>
    <string>227求莫弃我</string>
    <string>228求主洁净我心</string>
    <string>229白超乎雪</string>
    <string>230荣耀释放</string>
    <string>231求来我心</string>
    <string>232主也爱我</string>
    <string>233降恩之主</string>
    <string>234主爱越久越深</string>
    <string>235主恩更多</string>
    <string>236时刻蒙恩</string>
    <string>237数算主恩</string>
    <string>238神圣纯爱</string>
    <string>239耶稣爱我</string>
    <string>240主更宝贵</string>
    <string>241敬听恩言</string>
    <string>242喜主爱我</string>
    <string>243惟独耶稣</string>
    <string>244我要耶稣</string>
    <string>245今要主自己</string>
    <string>246慕主歌</string>
    <string>247满园芬芳</string>
    <string>248与主同去</string>
    <string>249专爱耶稣</string>
    <string>250我属耶稣</string>
    <string>251每想到你</string>
    <string>252主爱说不尽</string>
    <string>253爱不弃我</string>
    <string>254如今更爱主</string>
    <string>255爱主更深</string>
    <string>256爱的诗歌</string>
    <string>257神爱长</string>
    <string>258耶稣领我</string>
    <string>259一路引导</string>
    <string>260善牧恩慈</string>
    <string>261如有所闻</string>
    <string>262慈光</string>
    <string>263主意尽美</string>
    <string>264跟随我</string>
    <string>265愿跟随主</string>
    <string>266主在心中</string>
    <string>267闻主召我</string>
    <string>268主常看顾</string>
    <string>269求主操舵</string>
    <string>270天父看顾</string>
    <string>271赐福救主</string>
    <string>272虹霓雨点</string>
    <string>273神的应许</string>
    <string>274耶稣同在</string>
    <string>275求主带领</string>
    <string>276信靠依顺</string>
    <string>277我知所信</string>
    <string>278仰望羔羊</string>
    <string>279主不改变</string>
    <string>280有福确据</string>
    <string>281主活在我心</string>
    <string>282靠主膀臂</string>
    <string>283耶稣我来</string>
    <string>284时刻需主</string>
    <string>285一心靠赖</string>
    <string>286靠主有福</string>
    <string>287主必保守</string>
    <string>288时刻靠主</string>
    <string>289信中近主</string>
    <string>290平稳安静</string>
    <string>291安居主怀</string>
    <string>292我灵镇静</string>
    <string>293耶稣住我心</string>
    <string>294平安在我心</string>
    <string>295享受平安</string>
    <string>296紧靠上主</string>
    <string>297心中阳光</string>
    <string>298来得安息</string>
    <string>299寻友歌</string>
    <string>300主是我万有</string>
    <string>301谷中百合花</string>
    <string>302恩友</string>
    <string>303平安赞美</string>
    <string>304生命路上</string>
    <string>305是否劳倦</string>
    <string>306美好声音</string>
    <string>307欢乐颂扬</string>
    <string>308主是我磐石</string>
    <string>309生活美好</string>
    <string>310前行号令</string>
    <string>311效法耶稣</string>
    <string>312学象耶稣</string>
    <string>313我愿象主</string>
    <string>314成圣工夫</string>
    <string>315助我进深</string>
    <string>316颂主之心</string>
    <string>317谦卑随主</string>
    <string>318一齐增长</string>
    <string>319荣美福地</string>
    <string>320往前走</string>
    <string>321天程竞走</string>
    <string>322信徒精兵</string>
    <string>323善恶两军</string>
    <string>324求赐智慧</string>
    <string>325奋起</string>
    <string>326万民奋兴</string>
    <string>327坚固保障</string>
    <string>328天父加恩</string>
    <string>329尊主为大</string>
    <string>330历代妇女多圣贤</string>
    <string>331效法诸圣</string>
    <string>332求主开启</string>
    <string>333耶稣呼召</string>
    <string>334清心谦恭</string>
    <string>335永属上主</string>
    <string>336为你离天</string>
    <string>337无我惟主</string>
    <string>338各有十架</string>
    <string>339立愿</string>
    <string>340已负十架</string>
    <string>341奉献全生</string>
    <string>342献己于主</string>
    <string>343一切献上</string>
    <string>344向主献呈</string>
    <string>345都归耶稣</string>
    <string>346奉献身心</string>
    <string>347爱传福音</string>
    <string>348任主差遣</string>
    <string>349遵命有福</string>
    <string>350荣神益人</string>
    <string>351与主偕行</string>
    <string>352遵旨做工</string>
    <string>353乐献我躬</string>
    <string>354尽心尽意爱众人</string>
    <string>355恩光</string>
    <string>356本分</string>
    <string>357爱人</string>
    <string>358邻舍就在身旁</string>
    <string>359生命如光</string>
    <string>360小小水滴歌</string>
    <string>361我要真诚</string>
    <string>362收成归天家</string>
    <string>363为主作工</string>
    <string>364诚实话</string>
    <string>365活出基督</string>
    <string>366光照小地方</string>
    <string>367赶快工作</string>
    <string>368求主助力为善</string>
    <string>369欢乐服务</string>
    <string>370新天地</string>
    <string>371有一福地</string>
    <string>372光明处所</string>
    <string>373仰望天家</string>
    <string>374与主接近</string>
    <string>375赞慕福地</string>
    <string>376劳碌已尽</string>
    <string>377乐进天国</string>
    <string>378近乎上帝之心</string>
    <string>379诗篇二十三篇</string>
    <string>380诗篇一零零篇</string>
    <string>381诗篇一零三篇</string>
    <string>382诗篇一二一篇</string>
    <string>383诗篇一三三篇</string>
    <string>384诗篇一五零篇</string>
    <string>385大秦景教三威度赞</string>
    <string>386仰止歌</string>
    <string>387都来颂</string>
    <string>388尊主颂</string>
    <string>389求主怜悯文</string>
    <string>390心中仰望文</string>
    <string>391三圣文</string>
    <string>392荣耀颂</string>
    <string>393献礼文</string>
    <string>394主祷文</string>
    <string>395使徒信经</string>
    <string>396主在圣殿中</string>
    <string>397求听我祈祷</string>
    <string>398荣耀归神</string>
    <string>399三一颂</string>
    <string>400阿们颂</string>
    <string>f01神爱世人</string>
    <string>f02对主你如何</string>
    <string>f03爱何等大恩何等深</string>
    <string>f04仰望十架</string>
    <string>f05我要向山举目</string>
    <string>f06哈利路亚赞美耶稣</string>
    <string>f07可爱美名</string>
    <string>f08耶稣做朋友</string>
    <string>f09活时他爱我</string>
    <string>f10广广似洋无边</string>
    <string>f11主言永存</string>
    <string>f12求主扶助</string>
    <string>f13赐下真光</string>
    <string>f14接受我心</string>
    <string>f15进我的心</string>
    <string>f16神啊求你鉴察我</string>
    <string>f17我当完全属主</string>
    <string>f18今我有快乐</string>
    <string>f19喜乐满我心</string>
    <string>f20恩如雨沛降</string>
    <string>f21大山可以挪开</string>
    <string>f22他顾念你们</string>
    <string>f23主内有真平安</string>
    <string>f24一宿哭泣早晨欢呼</string>
    <string>f25压伤的芦苇他不折断</string>
    <string>f26主我爱你</string>
    <string>f27我真是爱耶稣</string>
    <string>f28当与蒙召的恩相称</string>
    <string>f29章显主荣美</string>
    <string>f30众人以为美的事</string>
    <string>f31要为主发光</string>
    <string>f32忘记背后努力面前</string>
    <string>f33分别是非</string>
    <string>f34不要作糊涂人</string>
    <string>f35务要叫邻舍喜悦</string>
    <string>f36施比受更为有福</string>
    <string>f37信心加上德行</string>
    <string>f38手懒的要受贫穷</string>
    <string>f39父在我们中间</string>
    <string>f40谢饭歌</string>
    <string>f41旧约目录歌</string>
    <string>f42新约目录歌</string>
</array>
</plist>
