<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>0001圣哉三一</string>
    <string>0002亚伯拉罕之神</string>
    <string>0003荣耀真神</string>
    <string>0004当弹琴称颂神</string>
    <string>0005颂赞三一神</string>
    <string>0006我们要赞美耶和华</string>
    <string>0007平安佳日</string>
    <string>0007b主啊！祢配受赞美</string>
    <string>0008赞美惦</string>
    <string>0009神创造的大能</string>
    <string>0010你们要赞美耶和华</string>
    <string>0010b赞颂耶和华</string>
    <string>0011述说上帝荣耀</string>
    <string>0012神的慈爱永远长存</string>
    <string>0013独一真神</string>
    <string>0013b主爱不变</string>
    <string>0014耶和华作王</string>
    <string>0014b教会颂赞</string>
    <string>0015赞美上帝</string>
    <string>0015b荣耀归主</string>
    <string>0016祢的名在全地何其美</string>
    <string>0017愿全地敬畏神</string>
    <string>0017b在神的院宇里</string>
    <string>0018快乐崇拜</string>
    <string>0019永世之光</string>
    <string>0019b耶和华的慈爱</string>
    <string>0020祢真伟大</string>
    <string>0021同声赞美耶和华</string>
    <string>0022神在欢呼声中</string>
    <string>0023万福泉源</string>
    <string>0023b主上帝！我们感谢祢</string>
    <string>0024歌颂神的慈爱</string>
    <string>0025赞美神的名</string>
    <string>0026当唱诗称颂</string>
    <string>0027当尽情地歌唱</string>
    <string>0028我要称颂神的名</string>
    <string>0029向耶和华欢呼</string>
    <string>0029b我只仰望于主</string>
    <string>0030向耶和华唱新歌</string>
    <string>0031向耶和华歌唱</string>
    <string>0032荣耀归主</string>
    <string>0033向主高唱</string>
    <string>0034大哉圣名</string>
    <string>0035崇拜圣名</string>
    <string>0036奇妙救主</string>
    <string>0037父在创世之前</string>
    <string>0038颂赞主名</string>
    <string>0039我要颂扬</string>
    <string>0040义人哪</string>
    <string>0041耶稣尊名</string>
    <string>0042昔日所唱诗歌</string>
    <string>0043美哉！羔羊的新歌</string>
    <string>0044颂主歌</string>
    <string>0045耶稣是配</string>
    <string>0046千万声音</string>
    <string>0047称颂主名</string>
    <string>0048我要赞美主</string>
    <string>0049主啊！我要赞美祢</string>
    <string>0050向耶稣唱哈利路亚</string>
    <string>0051配受之羔羊</string>
    <string>0052赞美救主</string>
    <string>0053全然可爱</string>
    <string>0054主啊！我赞美祢</string>
    <string>0055认识了主</string>
    <string>0056磐石，耶稣基督</string>
    <string>0057我要歌颂我要赞美</string>
    <string>0058举起救恩的杯</string>
    <string>0059圣灵充满</string>
    <string>0060生命的活水</string>
    <string>0061奇妙圣灵能力</string>
    <string>0062甘泉歌</string>
    <string>0063旷野开道路</string>
    <string>0064灵恩如雨</string>
    <string>0065切求圣灵</string>
    <string>0066圣灵的能力</string>
    <string>0067圣夜静</string>
    <string>0068平安之夜</string>
    <string>0069耶稣降生</string>
    <string>0070博士崇拜</string>
    <string>0071哈利路亚</string>
    <string>0072主舍宝座</string>
    <string>0073天使报信</string>
    <string>0073b基督降世</string>
    <string>0074明星灿烂</string>
    <string>0075欢乐佳音</string>
    <string>0076圣诞之夜</string>
    <string>0077普世欢腾</string>
    <string>0078以马内利来临</string>
    <string>0078b欢乐无穷尽</string>
    <string>0079弥赛亚之歌</string>
    <string>0080普天同庆</string>
    <string>0081马槽颂</string>
    <string>0082众扬声赞美主</string>
    <string>0083荣耀真神</string>
    <string>0084来庆贺圣诞</string>
    <string>0085歌颂吧！真光来到</string>
    <string>0086大喜信息</string>
    <string>0087牧羊人之歌</string>
    <string>0088荣耀归真神</string>
    <string>0089得神永远的产业</string>
    <string>0090沐主恩光</string>
    <string>0091耶稣的深恩</string>
    <string>0092加略山的爱</string>
    <string>0093爱的道路</string>
    <string>0094与主同忧</string>
    <string>0095主钉十架</string>
    <string>0095b看主钉眼</string>
    <string>0096十架永存</string>
    <string>0097主啊！我怎不爱祢</string>
    <string>0097b耶稣为我</string>
    <string>0098到加略山</string>
    <string>0099各各他的路</string>
    <string>0100耶稣一生</string>
    <string>0101想念主恩</string>
    <string>0102在各各他</string>
    <string>0103神赐下主基督</string>
    <string>0104我心爱主</string>
    <string>0105救主复活</string>
    <string>0106耶稣复生</string>
    <string>0107复活良晨</string>
    <string>0108欢迎快乐晨</string>
    <string>0109天堂歌声</string>
    <string>0110忍耐等候</string>
    <string>0111新天新地</string>
    <string>0112审判大日</string>
    <string>0113末日点名</string>
    <string>0114我王快来</string>
    <string>0115耶稣基督快再来</string>
    <string>0116盼主再来</string>
    <string>0117新郎来到</string>
    <string>0118主必再来</string>
    <string>0119青苗生长</string>
    <string>0120黑夜已深</string>
    <string>0121再来奖赏</string>
    <string>0122主在门口</string>
    <string>0123主快来</string>
    <string>0124看哪！新郎来到</string>
    <string>0125主日传道</string>
    <string>0126爱使我们相聚一起</string>
    <string>0127主日为圣</string>
    <string>0128乐守圣日</string>
    <string>0129走到神的祭坛</string>
    <string>0130教会根基</string>
    <string>0131复兴祢工作主</string>
    <string>0132礼拜散时</string>
    <string>0133求主来到我们中间</string>
    <string>0134复兴教会</string>
    <string>0135聚会大意</string>
    <string>0136今到主殿</string>
    <string>0137圣经的话</string>
    <string>0138主啊！求祢兴起我</string>
    <string>0139生命的粮</string>
    <string>0140擘生命饼</string>
    <string>0141圣经至宝</string>
    <string>0141b我将祢的话</string>
    <string>0142赐我圣经</string>
    <string>0143为国求福</string>
    <string>0144我爱中华</string>
    <string>0145当依靠主</string>
    <string>0146举行圣餐</string>
    <string>0147纪念主</string>
    <string>0148献己于主</string>
    <string>0149洗罪之泉</string>
    <string>0149b主爱我必爱到底</string>
    <string>0150都归耶稣</string>
    <string>0151我须去传福音</string>
    <string>0152快去传扬</string>
    <string>0153速速兴起</string>
    <string>0154兴起时代的底波拉</string>
    <string>0155在普世传福音的工作上</string>
    <string>0156大使命之歌</string>
    <string>0157前进！向前进！</string>
    <string>0158青年兴起</string>
    <string>0159请差遣我</string>
    <string>0160谁与主同心</string>
    <string>0161踏上福音的路程</string>
    <string>0162努力主工</string>
    <string>0163兴起吧！我的心</string>
    <string>0164快救人</string>
    <string>0165赶快传道</string>
    <string>0166早晚撒种</string>
    <string>0166b认识独一真神</string>
    <string>0167马其顿呼声</string>
    <string>0168田地里的庄稼</string>
    <string>0169主等你来</string>
    <string>0169b你当竭力在神面前</string>
    <string>0170末日迫近了</string>
    <string>0171主的呼唤</string>
    <string>0172个人布道</string>
    <string>0173主的工人，快速兴起</string>
    <string>0174你在哪里！</string>
    <string>0175日光之上</string>
    <string>0176风和爱</string>
    <string>0176b你的头发已被神数算</string>
    <string>0177为什么拒绝</string>
    <string>0178永恒的答问</string>
    <string>0179爱的呼唤</string>
    <string>0180人人都应该知道</string>
    <string>0181今生不比永恒长</string>
    <string>0182好消息</string>
    <string>0183耶稣愿意救罪人</string>
    <string>0184凡愿意者</string>
    <string>0185趁此机会进天门</string>
    <string>0186来听福音</string>
    <string>0187慈悲救主</string>
    <string>0188在人生茫茫的旷野</string>
    <string>0189快来信耶稣</string>
    <string>0190虚空的人生</string>
    <string>0191耶稣是我的希望</string>
    <string>0192接神至心</string>
    <string>0193虚空的尘世</string>
    <string>0194预备听道</string>
    <string>0195快认罪悔改</string>
    <string>0195b求神鉴察</string>
    <string>0196叹岁月虚度未注主恩</string>
    <string>0196b罪的可怕</string>
    <string>0197我真怕有一天</string>
    <string>0198慈父与荡子</string>
    <string>0199爱的转变</string>
    <string>0200今来就主</string>
    <string>0200b快悔改</string>
    <string>0201恩友耶稣</string>
    <string>0202何等平安喜乐</string>
    <string>0203主的召唤</string>
    <string>0204主恩更多</string>
    <string>0205要回家</string>
    <string>0206默想主恩</string>
    <string>0207浪子回头</string>
    <string>0208耶稣宝血</string>
    <string>0208b来真心懊悔</string>
    <string>0209在神前省察</string>
    <string>0210仍得救恩之乐</string>
    <string>0211我的罪何等重大</string>
    <string>0212仔细想想</string>
    <string>0213主愿拯救</string>
    <string>0214我的罪孽比发还多</string>
    <string>0215请问：你存何心</string>
    <string>0215b必须倒空</string>
    <string>0216歌唱主爱</string>
    <string>0217我心爱主</string>
    <string>0218荣耀归主</string>
    <string>0219每当我们想起了祢</string>
    <string>0220荒漠甘泉</string>
    <string>0221你孤单么</string>
    <string>0222弦外之歌</string>
    <string>0223思慕主爱</string>
    <string>0224哈利路亚生涯</string>
    <string>0225主是我的诗歌</string>
    <string>0226尊贵名</string>
    <string>0227如何报主恩</string>
    <string>0228我只要主耶稣</string>
    <string>0229述说不尽的恩典</string>
    <string>0230数算主恩</string>
    <string>0231我是一只笼中小鸟</string>
    <string>0232赞美诗歌唱不完</string>
    <string>0233感谢神</string>
    <string>0234爱主更深</string>
    <string>0235称颂上帝</string>
    <string>0236哈拿的祷颂</string>
    <string>0236b得胜得胜</string>
    <string>0237亲爱救主</string>
    <string>0238赞主慈爱</string>
    <string>0239主爱奇妙</string>
    <string>0240不可忘恩</string>
    <string>0241我不知明天的道路</string>
    <string>0242来穿赞美衣裳</string>
    <string>0243我走生命路上</string>
    <string>0244属灵之乐</string>
    <string>0245平安在我心</string>
    <string>0246每当我想起了祢</string>
    <string>0247心灵改变</string>
    <string>0248来到祈祷山</string>
    <string>0249快来就主</string>
    <string>0249b与主同活</string>
    <string>0250生命活泉</string>
    <string>0251主使我喜乐</string>
    <string>0252唱支属灵歌</string>
    <string>0253甘美人生</string>
    <string>0254快乐日光</string>
    <string>0255以爱为旗</string>
    <string>0256赞美歌声</string>
    <string>0257主里甘甜</string>
    <string>0258我心快乐</string>
    <string>0259有主当知足</string>
    <string>0260称颂耶和华</string>
    <string>0261圣诗歌赞美主</string>
    <string>0262宝血有权能</string>
    <string>0263勿虑衣食</string>
    <string>0264灵里祷告</string>
    <string>0265炼我愈精</string>
    <string>0266圣洁仁爱</string>
    <string>0267求主怜恤</string>
    <string>0268罪孽不能进天堂</string>
    <string>0269进深进深</string>
    <string>0270主爱化我心</string>
    <string>0271神国是努力进入的</string>
    <string>0272你看，今是何时</string>
    <string>0273精兵前进</string>
    <string>0274凄风枯雨</string>
    <string>0275苦海的漩涡</string>
    <string>0276末世必有危险的日子</string>
    <string>0277是谁为主</string>
    <string>0278放下一切重担</string>
    <string>0279不能隔绝的爱</string>
    <string>0280谁肯辞世界</string>
    <string>0281主啊我信</string>
    <string>0282生命种子</string>
    <string>0283当放下各种重担</string>
    <string>0284神显作为</string>
    <string>0284b只要信</string>
    <string>0285主心中的信徒</string>
    <string>0286我前热心</string>
    <string>0287神恩惠的福音</string>
    <string>0288主是我否</string>
    <string>0289你我同行</string>
    <string>0290作主精兵</string>
    <string>0291在这些仅存的年间</string>
    <string>0292努力向前走</string>
    <string>0293兴起为主</string>
    <string>0294保惠师来</string>
    <string>0295我们不丧胆</string>
    <string>0295b基督精兵</string>
    <string>0296向主尽忠</string>
    <string>0297谦卑随主</string>
    <string>0298愿有耶稣</string>
    <string>0299耶稣门徒</string>
    <string>0300恒心从主</string>
    <string>0301工作回忆</string>
    <string>0302往前走</string>
    <string>0303走十架路</string>
    <string>0304也许</string>
    <string>0305神怜恤敬畏惦的人</string>
    <string>0306耶稣不改变</string>
    <string>0307奇妙救主</string>
    <string>0308神的心愿</string>
    <string>0309安稳在主手中</string>
    <string>0310我要耶稣</string>
    <string>0311要倚靠主</string>
    <string>0312耶稣为友</string>
    <string>0313有福的确据</string>
    <string>0314愿走主路</string>
    <string>0315主是磐石</string>
    <string>0316耶稣不改变</string>
    <string>0317主是我们保障</string>
    <string>0318愿神怜悯</string>
    <string>0319靠主得福</string>
    <string>0320信心生活</string>
    <string>0321我下锚于耶稣</string>
    <string>0322神不失信</string>
    <string>0323惟要主</string>
    <string>0324神的应许</string>
    <string>0325主怀念我</string>
    <string>0326主的羊听主的声音</string>
    <string>0327永远膀臂</string>
    <string>0328我要向山举目</string>
    <string>0329快乐之日</string>
    <string>0330依靠主的人</string>
    <string>0331依靠耶和华</string>
    <string>0332十架不会重于主恩典</string>
    <string>0333天父看顺</string>
    <string>0334爱何等大</string>
    <string>0335跟随耶稣不回头</string>
    <string>0336跟随我</string>
    <string>0337依靠耶和华</string>
    <string>0338从新得力</string>
    <string>0339主永活在我心</string>
    <string>0340当仰望神</string>
    <string>0341你们为什么愁烦</string>
    <string>0342主是我的牧人</string>
    <string>0343伟大奇妙的神</string>
    <string>0344有一福地</string>
    <string>0345甘美天家</string>
    <string>0346赞慕美地</string>
    <string>0347生命河岸</string>
    <string>0348我家在天</string>
    <string>0349盼望永恒的国度</string>
    <string>349b打美好的仗</string>
    <string>0350归应许地</string>
    <string>0351我家在天</string>
    <string>0352光明之岸</string>
    <string>0353天堂是我家</string>
    <string>0354美好的家乡</string>
    <string>0354b与主同钉十架</string>
    <string>0355啊！家乡</string>
    <string>0356啊！多美的家</string>
    <string>0357我必识主</string>
    <string>0358有一地方</string>
    <string>0359跑尽应跑道路歌</string>
    <string>0360天堂真快乐</string>
    <string>0361荣美家乡</string>
    <string>0362圣洁的天堂</string>
    <string>0363新耶路撒冷之荣耀</string>
    <string>0364世界非我家</string>
    <string>0365新堂落成</string>
    <string>0366结婚歌词</string>
    <string>0367婚姻祝词</string>
    <string>0368结婚歌</string>
    <string>0369追思歌</string>
    <string>0370安葬礼拜</string>
    <string>0371门徒去世</string>
    <string>0372主里安息</string>
    <string>0373世福无常</string>
    <string>0374走进新的一天</string>
    <string>0375晨更赞美</string>
    <string>0376惜年快过</string>
    <string>0377新年快乐</string>
    <string>0378主恩奇妙</string>
    <string>0379新年祝福</string>
    <string>0380等候耶和华</string>
    <string>0381新年赞歌</string>
    <string>0382灵程路上</string>
    <string>0383有一恩手带领我</string>
    <string>0384靠主引导</string>
    <string>0385去不去</string>
    <string>0386永生的路</string>
    <string>0387进入迦南</string>
    <string>0388耶稣领我</string>
    <string>0389与主接近</string>
    <string>0390主如明亮晨星</string>
    <string>0391羔羊血洗净</string>
    <string>0392主活着</string>
    <string>0393生命路</string>
    <string>0394有一条路</string>
    <string>0395耶和华是我的牧者</string>
    <string>0396主是我牧</string>
    <string>0397我是主羊</string>
    <string>0398看不见的时候</string>
    <string>0399主永不离你</string>
    <string>0400跟随救主</string>
    <string>0401走向光明</string>
    <string>0402主祢是我知心朋友</string>
    <string>0402b压伤的芦苇惦不折断</string>
    <string>0403亲爱主牵我手</string>
    <string>0404奇妙的双手</string>
    <string>0405何等大的慈爱</string>
    <string>0406生命的小路</string>
    <string>0407耶和华以勒</string>
    <string>0408天国进行曲</string>
    <string>0409来与我们同行</string>
    <string>0410十字架</string>
    <string>0411不要爱世界</string>
    <string>0412为主而活</string>
    <string>0413乐做主仆</string>
    <string>0414爱的真谛</string>
    <string>0415献身为活祭</string>
    <string>0416到神的殿谨慎脚步</string>
    <string>0417愿献所有</string>
    <string>0417b敬畏上帝的福气</string>
    <string>0418主，我愿像祢</string>
    <string>0418b生气不可犯罪</string>
    <string>0419主我爱祢</string>
    <string>0420完全献上</string>
    <string>0421如何见主</string>
    <string>0422主来我该怎么办</string>
    <string>0423神所要的是什么</string>
    <string>0424主前问心</string>
    <string>0425孝亲歌</string>
    <string>0426主是甘霖</string>
    <string>0427心愿</string>
    <string>0428以色列人被虏的哀歌</string>
    <string>0429怎样得福</string>
    <string>0430青年！青年！教会希望你</string>
    <string>0431青年献身</string>
    <string>0432青年崇拜</string>
    <string>0433宝血洗净</string>
    <string>0434你当告诉耶稣</string>
    <string>0435羡慕更美家乡</string>
    <string>0436儆醒等候</string>
    <string>0437青春献于神</string>
    <string>0438圣灵在我的心</string>
    <string>0439劝</string>
    <string>0440愿我们儆醒起来吧</string>
    <string>0441青年献身歌</string>
    <string>0442歌唱吧！同声来歌唱</string>
    <string>0443合一之路</string>
    <string>0444万物结局近了</string>
    <string>0445感谢耶稣</string>
    <string>0446你们要谨慎</string>
    <string>0447当求上面的事</string>
    <string>0448八福</string>
    <string>0449讲诚实话</string>
    <string>0450来吧！让我们登耶和华的山</string>
    <string>0451主来被提</string>
    <string>0452求主怜悯</string>
    <string>0453赏赐</string>
    <string>0454种与收的定律</string>
    <string>0455谁能登神的山</string>
    <string>0456生命泉源</string>
    <string>0457义人必蒙福</string>
    <string>0458当趁年轻纪念主</string>
    <string>0459主爱有多少</string>
    <string>0459b主的命令</string>
    <string>0460一件礼物</string>
    <string>0461神爱在人间</string>
    <string>0462耶和华常在我右边</string>
    <string>0463心中的光</string>
    <string>0464举起福音大旗</string>
    <string>0465救恩普及歌</string>
    <string>0466同路人</string>
    <string>0466b奇妙感觉在我心</string>
    <string>0467谁是牧羊人</string>
    <string>0468行进之歌</string>
    <string>0469我的灯需要油</string>
    <string>0470揭开七印</string>
    <string>0471求主保佑我</string>
    <string>0472快还福音债</string>
    <string>0473主在你心外叩门</string>
    <string>0474甜蜜的美地</string>
    <string>0475主是葡萄树</string>
    <string>0476一根蜡烛</string>
    <string>0477因耶和华欢欣</string>
    <string>0478人生还有几个春秋</string>
    <string>0479要忠心前进</string>
    <string>0480宝贝放在瓦器里</string>
    <string>0481有一天</string>
    <string>0482上帝的道</string>
    <string>0483看哪弟兄和睦同居</string>
    <string>0484耶稣牵着万人的心</string>
    <string>0485我在这里赞美</string>
    <string>0486保守自己</string>
    <string>0487祢是我的主</string>
    <string>0488从天降下来</string>
    <string>0489神所拣选的</string>
    <string>0490求主真光照亮我</string>
    <string>0491一群大能的子民</string>
    <string>0492天父世界</string>
    <string>0493非常的岁月里</string>
    <string>0494匠人所弃的石头</string>
    <string>0495基督复活</string>
    <string>0496圣灵降临</string>
    <string>0497忙来变歌</string>
    <string>0498良伴的引导</string>
    <string>0499抛开属地的追求</string>
    <string>0500带着你的欢笑</string>
    <string>0501亲爱的主，祢今召我回来</string>
    <string>0502惟喜爱耶和华的律法</string>
    <string>0503微声盼望</string>
    <string>0504跟从主不回头</string>
    <string>0505为什么不走出那城</string>
    <string>0506明天</string>
    <string>0507黑门的甘露</string>
    <string>0508儆醒等主来</string>
    <string>0509现在正是作工的时候</string>
    <string>0510我们的神本为大</string>
    <string>0511这是耶和华所定的日子</string>
    <string>0512主爱说不尽</string>
    <string>0513求主给我一颗心</string>
    <string>0514神的旨意</string>
    <string>0515生死线上</string>
    <string>0516欢呼主耶稣</string>
    <string>0517愿作一粒种子</string>
    <string>0518被请赴羔羊的婚筵</string>
    <string>0519再给我一个机会</string>
    <string>0520主我爱祢</string>
    <string>0521主的钟声</string>
    <string>0522震撼</string>
    <string>0523主内团契</string>
    <string>0524主里合一</string>
    <string>0525祝愿歌</string>
    <string>0526同胞哪有灵胞亲</string>
    <string>0527做新造的人</string>
    <string>0528何时相见</string>
    <string>0529离别歌</string>
    <string>0530主爱永偕</string>
    <string>0531靠主能再会</string>
    <string>0532再相会</string>
    <string>0533离别歌</string>
    <string>0534高举救恩杯</string>
    <string>0535在圣灵里合而为一</string>
    <string>0536我赤身出于母胎</string>
    <string>0537凡投靠祢的</string>
    <string>0538你们祷告</string>
    <string>0539关心神家</string>
    <string>0540迷路的羊</string>
    <string>0541是否是你</string>
    <string>0542来做礼拜像只羊</string>
    <string>0543一扇门</string>
    <string>0544圣灵工作</string>
    <string>0545敬拜赞美耶和华</string>
    <string>0546要颂赞主圣名</string>
    <string>0547欢乐颂扬</string>
    <string>0548赞美耶和华</string>
    <string>0549万民哪都当拍掌</string>
    <string>0550神是爱你的神</string>
    <string>0551主爱的光辉</string>
    <string>0552金钱不是万能</string>
    <string>0553神啊！我要赞美祢</string>
    <string>0554心曲</string>
    <string>0555向神仰脸</string>
    <string>0556耶和华我们的依靠</string>
    <string>0557主率军队向前行</string>
    <string>0558愿祢崇高</string>
    <string>0559用我的歌</string>
    <string>0560神这样眷顾我</string>
    <string>0561一起赞美主</string>
    <string>0562以马内利</string>
    <string>0563我要来欢呼</string>
    <string>0564我们要称谢</string>
    <string>0565在动荡不安的年代里</string>
    <string>0566我要赞美歌颂主</string>
    <string>0567主啊！祢爱伟大</string>
    <string>0568智慧的人</string>
    <string>0569信奉主名有永生</string>
    <string>0570以诗歌赞美主的名</string>
    <string>0571唱哈利路亚</string>
    <string>0572天天唱哈利路亚</string>
    <string>0573敬拜耶和华</string>
    <string>0574来庆贺</string>
    <string>0575是爱</string>
    <string>0576开你心门</string>
    <string>0577耶稣！现代人的希望</string>
    <string>0578主来的日子近了</string>
    <string>0579你能体会</string>
    <string>0580人生之舟</string>
    <string>0581永远的光</string>
    <string>0582朋友请听</string>
    <string>0583自我认识耶稣</string>
    <string>0584信心更坚强</string>
    <string>0585彰显主爱</string>
    <string>0586我的心中快乐</string>
    <string>0587在我很小的时候</string>
    <string>0588神的殿荒凉</string>
    <string>0589祈求天上的神</string>
    <string>0590中国早晨五点钟</string>
    <string>0591旷野不再荒凉</string>
    <string>0592愿那灵火复兴我</string>
    <string>0593中华就是第四等的田</string>
    <string>0594复兴在今天</string>
    <string>0595中华要兴起</string>
    <string>0596举手</string>
    <string>0597奇妙之神</string>
    <string>0598最大的财富</string>
    <string>0599牢房里的歌声</string>
    <string>0600耶稣！全人类的希望</string>
    <string>0601心的一天</string>
    <string>0602心灵的诗歌</string>
    <string>0603为主而活</string>
    <string>0604怎能</string>
    <string>0605为和平祈祷</string>
    <string>0606我们要祷告</string>
    <string>0607在主里有真平安</string>
    <string>0608主给我的太多</string>
    <string>0609感恩的泪水</string>
    <string>0610主使我满足</string>
    <string>0611主是我密友良伴</string>
    <string>0612主总是这样爱我</string>
    <string>0613主的慈爱讲不完</string>
    <string>0614主爱催人泪下</string>
    <string>0615有耶稣真美好</string>
    <string>0616惟主是亲人</string>
    <string>0617十字架的爱</string>
    <string>0618拥有主我心满足</string>
    <string>0619全能的主耶稣</string>
    <string>0620曾经</string>
    <string>0621人的生命只有一次</string>
    <string>0622跟随耶稣走</string>
    <string>0623去经历神的同在</string>
    <string>0624敬拜的时候</string>
    <string>0625来吧！赞美惦</string>
    <string>0626凡靠着惦进到神面前</string>
    <string>0627生命之颂</string>
    <string>0628我要向山举目</string>
    <string>0629鸽子，飞吧</string>
    <string>0630新希望</string>
    <string>0631耶稣奇妙的救恩</string>
    <string>0632活出生命的色彩</string>
    <string>0633我已经懂得怎样去选择</string>
    <string>0634我有明天</string>
    <string>0635明天歌</string>
    <string>0636若不是圣灵的引导</string>
    <string>0637耶稣与我同在</string>
    <string>0638相聚在圣山</string>
    <string>0639主啊！我需要祢的话</string>
    <string>0640祢的话</string>
    <string>0641我要称颂耶和华</string>
    <string>0642用灵歌唱</string>
    <string>0643耶和华是我牧者</string>
    <string>0644这里有神的同在</string>
    <string>0645地的四极都想念耶和华</string>
    <string>0646若</string>
    <string>0647在耶和华殿里看门的人</string>
    <string>0648亚伯拉罕的故事</string>
    <string>0649耶稣真爱你</string>
    <string>0650我们都是光明之子</string>
    <string>0651神在作事</string>
    <string>0652耶和华的门</string>
    <string>0653试炼</string>
    <string>0654几度风雨</string>
    <string>0655合一相爱</string>
    <string>0656神必给你成就</string>
    <string>0657耶和华向我们所怀的意念</string>
    <string>0658我们既有这等应许</string>
    <string>0659我们乃主精兵</string>
    <string>0660主所看重的</string>
    <string>0661拥有主快乐无比</string>
    <string>0662和散那</string>
    <string>0663快乐的福音使者</string>
    <string>0664虽是四面楚歌</string>
    <string>0665在头一次复活有份的</string>
    <string>0666惦已作成了</string>
    <string>0667与主一同复活</string>
    <string>0668和好</string>
    <string>0669我们的身份</string>
    <string>0670耶和华的精兵</string>
    <string>0671爱是什么</string>
    <string>0672在基督里</string>
    <string>0673倾听主的声音</string>
    <string>0674这个奇迹</string>
    <string>0675远行</string>
    <string>0676来吧！我们要来跟随主</string>
    <string>0677只身要外</string>
    <string>0678曙光</string>
    <string>0679为你送行</string>
    <string>0680走过的路</string>
    <string>0681还是走十字架的路</string>
    <string>0682彰显神的爱</string>
    <string>0683爱主的母女俩</string>
    <string>0684两个主</string>
    <string>0685我的力量！我的山寨</string>
    <string>0686一同跟主走天涯</string>
    <string>0687主祢最知道</string>
    <string>0688主我们深深知道</string>
    <string>0689神让我们都知道</string>
    <string>0690祢是我脚前的灯</string>
    <string>0691天空的流云</string>
    <string>0692何为人生</string>
    <string>0693往事悠悠</string>
    <string>0694回首再回首</string>
    <string>0695我们永远是一家人</string>
    <string>0696主所爱的人在哪里</string>
    <string>0697谁慰主心</string>
    <string>0698请差遣我</string>
    <string>0699失迷的羊</string>
    <string>0700起来到父亲那里去</string>
    <string>0701当趁着今日</string>
    <string>0702羊啊羊！那么多的羊</string>
    <string>0703小羊呼声一片</string>
    <string>0704主祢若究查罪孽</string>
    <string>0705不要留恋</string>
    <string>0706听我心声</string>
    <string>0707今夜难眠</string>
    <string>0708美好的天堂为我们预备</string>
    <string>0709那日惦的脚必站在</string>
    <string>0710主必快来</string>
    <string>0711主来的日子</string>
    <string>0712想</string>
    <string>0713撒网的人</string>
    <string>0714主爱滋润我心</string>
    <string>0715用灵歌唱</string>
    <string>0716快快进入葡萄园</string>
    <string>0717主说复活在惦</string>
    <string>0718圣灵运行在这里</string>
    <string>0719向主倾诉</string>
    <string>0720快数算在世的年日</string>
    <string>0721我一生最大的事</string>
    <string>0722我属主</string>
    <string>0723我们要得着加倍的灵</string>
    <string>0724在黑夜时</string>
    <string>0725爱火燃少年心</string>
    <string>0726黑夜不能拦阻我</string>
    <string>0727曾有很多的时候</string>
    <string>0728义人的经历</string>
    <string>0729我们欢笑着继续</string>
    <string>0730我怎能不爱主</string>
    <string>0731宣教的中国</string>
    <string>0732点燃复兴的火焰</string>
    <string>0733中国的夜晚</string>
    <string>0734教会真意</string>
    <string>0735在永生路上走到头</string>
    <string>0736世界是旅行地方</string>
    <string>0737日子一天天的过去</string>
    <string>0738给我你的手</string>
    <string>0739我多想飞</string>
    <string>0740哈利路亚</string>
    <string>0741耶稣爱我</string>
    <string>0742耶稣永爱我</string>
    <string>0743唱诗就有力量</string>
    <string>0744我的歌</string>
    <string>0745重逢</string>
    <string>0746弟兄你又起程</string>
    <string>0747送别歌</string>
    <string>0748来吧！一起赞美主</string>
    <string>0749分离就有相聚有</string>
    <string>0750儆醒</string>
    <string>0751我美丽的家</string>
    <string>0752新年贺歌</string>
    <string>0753新年歌</string>
    <string>0754耶和华的名</string>
    <string>0755忍耐歌</string>
    <string>0756寻找</string>
    <string>0757归家吧</string>
    <string>0758我要时时称颂耶和华</string>
    <string>0759圣徒相通歌</string>
    <string>0760我的主宰</string>
    <string>0761感恩歌</string>
    <string>0762耶稣给你平安</string>
    <string>0763我得了秘诀</string>
    <string>0764不为明天忧虑</string>
    <string>0765我爱慕祢的律法</string>
    <string>0766如果我能唱</string>
    <string>0767再活一次</string>
    <string>0768主给我子女名份</string>
    <string>0769心连心</string>
    <string>0770我要传讲耶稣故事</string>
    <string>0771赞美耶稣</string>
    <string>0772主日圣经学校校歌</string>
    <string>0773主日学校歌</string>
    <string>0774我是天上小国民</string>
    <string>0775我愿做个好小孩</string>
    <string>776</string>
    <string>0776《睡梦乡》主题曲</string>
    <string>0777全献给主</string>
    <string>0778平安夜里真平安</string>
    <string>0779耶稣喜爱小孩</string>
    <string>0780献什么给耶稣</string>
    <string>0781主在我船上</string>
    <string>0782耶稣喜爱你</string>
    <string>0783小朋友</string>
    <string>0784主找迷羊</string>
    <string>0785勇敢的小牧童</string>
    <string>0786圣诞快乐</string>
    <string>0787你愿人怎样待你</string>
    <string>0788主的小孩来赞主</string>
    <string>0789耶稣爱我</string>
    <string>0790他们在童年</string>
    <string>0791自以为有智慧</string>
    <string>0792读经祷告</string>
    <string>0793佳音</string>
    <string>0794请拍手</string>
    <string>0795迎主颂</string>
    <string>0796得胜歌</string>
    <string>0797兴起！主日学</string>
    <string>0798我是一个小孩</string>
    <string>0799主的小仆人</string>
    <string>0800耶稣喜爱一切小孩</string>
    <string>0801不要挂虑</string>
    <string>0802勤劳</string>
    <string>0803天父的爱</string>
    <string>0804欢跃</string>
    <string>0805催眠曲</string>
    <string>0806主日学校放学歌</string>
    <string>0807孩童赞美惦</string>
    <string>0808瞎子得看见</string>
    <string>0809原谅歌</string>
    <string>0810草儿青</string>
    <string>0811上帝的眼睛</string>
    <string>0812兄弟姊妹手牵手</string>
    <string>0813主耶稣爱我</string>
    <string>0814都来赞美惦</string>
    <string>0815盼望歌</string>
    <string>0816让小孩子到我跟前</string>
    <string>0817歌颂赞美主</string>
    <string>0818主对我永远是第一</string>
    <string>0819主日学的学生</string>
    <string>0820耶路撒冷众儿童</string>
    <string>0821我愿做个好小孩</string>
    <string>0822主的大爱</string>
    <string>0823耶稣救主爱小孩</string>
    <string>0824耶稣爱我们</string>
    <string>0825我身边</string>
    <string>0826惦是主</string>
    <string>0827分享歌</string>
    <string>0828我祝福你走过的地方</string>
    <string>0829我们团聚在这里</string>
    <string>0830用我们的热情</string>
    <string>0831我心爱慕</string>
    <string>0832我们的心中多快乐</string>
    <string>0833来到主面前</string>
    <string>0834歌颂赞美归主</string>
    <string>0835不要惧怕</string>
    <string>0836走过秋天</string>
    <string>0837告别童年的梦</string>
    <string>0838主爱最长久</string>
    <string>0839希望之星</string>
    <string>0840赞美之泉</string>
    <string>0841天地的颂赞</string>
    <string>0842基督徒的见证</string>
    <string>0843称颂耶和华</string>
    <string>0844我是神儿女</string>
    <string>0845奉献</string>
    <string>0846及时雨</string>
    <string>0847来吧！我们归向耶和华</string>
    <string>0848大能勇士</string>
    <string>0849摩西爱民如子</string>
    <string>0850相约在主里</string>
    <string>0851赎罪的羔羊</string>
    <string>0852我的心愿</string>
    <string>0853尊贵主</string>
    <string>0854人生的福</string>
    <string>0855生命的江河</string>
    <string>0856你们当悔改归正</string>
    <string>0857一次次风吹雨打</string>
    <string>0858主的慈爱没有改变</string>
    <string>0859一样的感动为中国鼓掌</string>
    <string>0860为JSCT完成这使命</string>
    <string>0861人生的道路</string>
    <string>0862爱也好信也好</string>
    <string>0863我们在等待</string>
    <string>0864十架大全能</string>
    <string>0865人生好虚空</string>
    <string>0866人心比万物都诡诈</string>
    <string>0867往耶和华殿去</string>
    <string>0868我的罪孽和罪过</string>
    <string>0869十字架下我的低头静默思想</string>
    <string>0870爱,我愿意</string>
    <string>0871神爱世人</string>
    <string>0872再相逢</string>
    <string>0873奉你名得胜利</string>
    <string>0874小路</string>
    <string>0875小小舌头真可怕</string>
    <string>0876敬虔的奥秘</string>
    <string>0877小事上忠心</string>
    <string>0878平安的日子</string>
    <string>0879我来是要叫羊得生命</string>
    <string>0880大救恩</string>
    <string>0881耶稣,超乎万名之名</string>
    <string>0882靠耶和华而得的喜乐</string>
    <string>0883神不变的爱</string>
    <string>0884主果然复活</string>
    <string>0885主十字架</string>
    <string>0886耶和华啊!我投靠你</string>
    <string>0887万古磐石</string>
    <string>0888宝血洗净</string>
    <string>0889这宝贵的圣经</string>
    <string>0890凡接待主的</string>
    <string>0891复兴的时代</string>
    <string>0892天父怜爱神儿女</string>
    <string>0893慈爱上帝歌</string>
    <string>0894你要给他起名叫耶稣</string>
    <string>0895主的恩召</string>
    <string>0896如香陈列</string>
    <string>0897你的日子如何</string>
    <string>0898与主更亲</string>
    <string>0899你们查考圣经</string>
    <string>0900马可祷告歌</string>
    <string>0901求主看顾</string>
    <string>0902你要详细知道</string>
    <string>0903乐善歌</string>
    <string>0904唯独耶稣</string>
    <string>0905不要问我</string>
    <string>0906定事有耶和华</string>
    <string>0907不要彷徨勿要惆怅</string>
    <string>0908知道向你欢呼</string>
    <string>0909你若口里认耶稣为主</string>
    <string>0910不知道哪一天</string>
    <string>0911最贵荣耀丰富归主</string>
    <string>0912生命的渴望</string>
    <string>0913不可叫人小看你年轻</string>
    <string>0914在耶稣基督里有安慰</string>
    <string>0915在基督里我们是一家</string>
    <string>0916不管有什么环境</string>
    <string>0917做无愧的工人</string>
    <string>0918咒诅他受</string>
    <string>0919不可丢弃勇敢的心</string>
    <string>0920我今来</string>
    <string>0921心存欢喜诚实赴爱筵</string>
    <string>922祈祷和平</string>
    <string>0923神与人</string>
    <string>0924真神爱世人</string>
    <string>0925圣诞欢呼</string>
    <string>0926属灵的争战</string>
    <string>0927天是耶和华的天</string>
    <string>0928天国天国真美丽</string>
    <string>0929主你的爱永在我的心里</string>
    <string>0930求你用真理</string>
    <string>0931颂赞全能上帝</string>
    <string>0932主给这个地方</string>
    <string>0933在基督耶稣里</string>
    <string>0934打胜仗</string>
    <string>0935我是世界的光</string>
    <string>0936天父啊!我现在向你跪下</string>
    <string>0937他的怒气</string>
    <string>0938圣经是永久磐石</string>
    <string>0939恭逢婚</string>
    <string>0940主!我今背十架</string>
    <string>0941耶稣是万人的救主</string>
    <string>0942公行婚礼</string>
    <string>0943世人哪</string>
    <string>0944人若赚的全世界</string>
    <string>0945为我生命而预备</string>
    <string>0946耶稣至宝</string>
    <string>0947我将你的话</string>
    <string>0948看主钉眼</string>
    <string>0949中国人要起来</string>
    <string>0950耶和华已指示</string>
    <string>0951为我与我的父家献上赎罪祭</string>
    <string>0952离了主我就不能做什么</string>
    <string>0953快送光</string>
    <string>0954在你的爱中真美好</string>
    <string>0955为主殉道</string>
    <string>0956全家要同心</string>
    <string>0957从今天开始</string>
    <string>0958要祷告</string>
    <string>0959我已找到盼望</string>
    <string>0960我是个罪人</string>
    <string>0961中国大有希望</string>
    <string>0962神爱的人</string>
    <string>0963一代天骄</string>
    <string>0964认识你独一的真神</string>
    <string>0965求主带领</string>
    <string>0966罪人啊!赶快回转吧</string>
    <string>0967爱主更深</string>
    <string>0968人有了神的儿子</string>
    <string>0969复兴不再是空话</string>
    <string>0970你们各人要悔改;</string>
    <string>0971苏醒</string>
    <string>0972妇人焉能忘记</string>
    <string>0973多方祷告</string>
    <string>0974凡事恩待我们</string>
    <string>0975开启双眼</string>
    <string>0976只有干渴的人才知道泉水的甘甜</string>
    <string>0977太阳月亮</string>
    <string>0978我们团结起来力量大</string>
    <string>0979主啊我愿做个基督徒</string>
    <string>0980主我邀请你</string>
    <string>0981主啊我要更爱你</string>
    <string>0982受洗</string>
    <string>0983求主动工</string>
    <string>0984你们为什么</string>
    <string>0985主啊!我亲近你</string>
    <string>0986心中两个王</string>
    <string>0987主啊，我算什么</string>
    <string>0988盼望被提</string>
    <string>0989大海中的船</string>
    <string>0990恩主耶稣我今来到你脚前</string>
    <string>0991主啊你若不为我们祝福</string>
    <string>0992仔细想想</string>
    <string>0993主我愿单属你</string>
    <string>0994他来关乎万民万国</string>
    <string>0995凡有血气的</string>
    <string>0996愿将我的心归你</string>
    <string>0997圣灵的果子</string>
    <string>0998主啊,唤醒我心</string>
    <string>0999耶和华靠近</string>
    <string>1000主啊听说你快回来了</string>
    <string>1001求主用我</string>
    <string>1002展开清晨的翅膀</string>
    <string>1003圣灵与我们的心同证</string>
    <string>1004我的神啊!求你起来帮助我</string>
    <string>1005主我要尊崇你</string>
    <string>1006生命的源头</string>
    <string>1007我赐给你们一条新命令</string>
    <string>1008求你一件事</string>
    <string>1009教会颂赞</string>
    <string>1010末日点名</string>
    <string>1011仰望主得生</string>
    <string>1012十架道路</string>
    <string>1013圣诞快乐</string>
    <string>1014投进主的怀抱</string>
    <string>1015你的亲人在哪里</string>
    <string>1016爱的诗歌</string>
    <string>1017我的灵真渴慕</string>
    <string>1018以马内利</string>
    <string>1019我在你心门外叩门</string>
    <string>1020主我想问一问你</string>
    <string>1021你当刚强壮胆</string>
    <string>1022我荒漠的甘泉</string>
    <string>1023主在我们中间</string>
    <string>1024主先爱我</string>
    <string>1025等圣灵,等圣灵</string>
    <string>1026主虽然以艰难给你</string>
    <string>1027主当我跪下的时候</string>
    <string>1028主当我心完全归你</string>
    <string>1029他是耶稣基督</string>
    <string>1030主常看顾</string>
    <string>1031永生门</string>
    <string>1032十架不会重于主恩典</string>
    <string>1033我的平安</string>
    <string>1034我们要祷告</string>
    <string>1035永活全能神</string>
    <string>1036主有谁能与你相比(1)</string>
    <string>1037希望之星</string>
    <string>1038主当我遇见你的时候</string>
    <string>1039牺牲的爱</string>
    <string>1040黎明前必定有黑暗</string>
    <string>1041主到世上来</string>
    <string>1042耶和华是神</string>
    <string>1043我们祈祷</string>
    <string>1044生命属于你</string>
    <string>1045赞美祭</string>
    <string>1046主做我友</string>
    <string>1047当岁月和人群正召唤我们</string>
    <string>1048敬拜喜乐赞美</string>
    <string>1049走上不归路</string>
    <string>1050有一位真神</string>
    <string>1051忙来变歌</string>
    <string>1052阿爸在家中等着我</string>
    <string>1053我今天为你祝福</string>
    <string>1054在外的日子</string>
    <string>1055属灵的道路</string>
    <string>1056当我踏上这条路</string>
    <string>1057我的神我要敬拜你</string>
    <string>1058倾听的我心</string>
    <string>1059起来做事</string>
    <string>1060当弟兄软弱的时候</string>
    <string>1061有一位好朋友</string>
    <string>1062主爱的搀拉</string>
    <string>1063宇宙万物从哪里来</string>
    <string>1064如果世上没有你</string>
    <string>1065我的心只属于你</string>
    <string>1066全地当向神欢呼</string>
    <string>1067不要贪财</string>
    <string>1068耶稣降生</string>
    <string>1069一群大能的子民</string>
    <string>1070各各他的十字架</string>
    <string>1071我尊崇主圣名</string>
    <string>1072愿神的仆人都平平安安</string>
    <string>1073我最爱听耶稣的故事</string>
    <string>1074仰望神的人</string>
    <string>1075主在开道路</string>
    <string>1076欢迎欢迎</string>
    <string>1077我要举起我手</string>
    <string>1078我们要走一条宣教的路</string>
    <string>1079我和我的家</string>
    <string>1080我们小孩</string>
    <string>1081耶稣是我的希望</string>
    <string>1082我们跟着异象走</string>
    <string>1083你当倚靠耶和华</string>
    <string>1084信主才能救我;</string>
    <string>1085你当诚心祷告主</string>
    <string>1086切切的呼求</string>
    <string>1087主独自引导</string>
    <string>1088奇妙恩典</string>
    <string>1089我知道我的救主活着</string>
    <string>1090举起双手来赞美</string>
    <string>1091主大慈爱</string>
    <string>1092耶和华耶和华</string>
    <string>1093教会灵战</string>
    <string>1094走吧我们走吧</string>
    <string>1095全能名</string>
    <string>1096靠着耶稣圣名</string>
    <string>1097你是荣耀君王</string>
    <string>1098主为我们预备地方</string>
    <string>1099谦卑随主</string>
    <string>1100稍微不惊醒</string>
    <string>1101鼓舞</string>
    <string>1102奇妙十架</string>
    <string>1103爱的呼召爱的托付</string>
    <string>1104奇妙之神</string>
    <string>1105走出</string>
    <string>1106祷告</string>
    <string>1107再见,弟兄姊妹</string>
    <string>1108最好的老师</string>
    <string>1109四十秋深</string>
    <string>1110主的丰盛</string>
    <string>1111认罪悔改</string>
    <string>1112心灵的诗歌</string>
    <string>1113主是我牧人</string>
    <string>1114掌管我心</string>
    <string>1115耶稣为我</string>
    <string>1116因信大有希望</string>
    <string>1117静静地等待着</string>
    <string>1118我们听从耶和华</string>
    <string>1119回家</string>
    <string>1120站在主殿中</string>
    <string>1121等候耶和华</string>
    <string>1122奇异恩典</string>
    <string>1123忘记背后</string>
    <string>1124至死顺服像羔羊</string>
    <string>1125苦难中的恩典</string>
    <string>1126耶和华啊!求你兴起</string>
    <string>1127犹大支派</string>
    <string>1128凯歌</string>
    <string>1129靠主引</string>
    <string>1130耶和华你是我的神</string>
    <string>1131人生的改变</string>
    <string>1132耶和华啊</string>
    <string>1133耶稣元帅</string>
    <string>1134愿被主用</string>
    <string>1135耶稣降生伯利恒</string>
    <string>1136我就是门</string>
    <string>1137为主流浪</string>
    <string>1138神所要的祭</string>
    <string>1139救主复活</string>
    <string>1140信徒归回</string>
    <string>1141向神仰望</string>
    <string>1142金和银</string>
    <string>1143神啊求你仰脸</string>
    <string>1144神啊你曾试验我们</string>
    <string>1145何等救主</string>
    <string>1146哈利路亚</string>
    <string>1147神的宝血</string>
    <string>1148来赞美主</string>
    <string>1149赞美主让光照耀吧</string>
    <string>1150宝血中的释放</string>
    <string>1151信靠耶和华</string>
    <string>1152看哪!神的帐幕在人间</string>
    <string>1153唱哈利路亚</string>
    <string>1154主的恩典</string>
    <string>1155竭力保守合一的心</string>
    <string>1156用我一生</string>
    <string>1157爱却长存</string>
    <string>1158很多人爱心冷淡</string>
    <string>1159全地最美名</string>
    <string>1160荣耀归神</string>
    <string>1161同心合意兴旺福音</string>
    <string>1162因为那在我里面的</string>
    <string>1163我的意念</string>
    <string>1164在至高处荣耀归于上帝</string>
    <string>1165他的名为奇妙</string>
    <string>1166耶和华岂有难成的事吗</string>
    <string>1167他是神</string>
    <string>1168当用诗章</string>
    <string>1169敬畏耶和华是智慧的开端</string>
    <string>1170我们来到神的殿</string>
    <string>1171敬畏耶和华</string>
    <string>1172敬畏你投靠你的人</string>
    <string>1173感谢慈悲天上父</string>
    <string>1174现在感谢</string>
    <string>1175感谢天父保佑平安</string>
    <string>1176诚信谢天父上帝</string>
    <string>1177耶稣救主爱小孩</string>
    <string>1178赞美真神</string>
    <string>1179出于神的话</string>
    <string>1180圣言永远长存</string>
    <string>1181看哪!神的羔羊</string>
    <string>1182春风拂面</string>
    <string>1183义人的路</string>
    <string>1184主啊!求你用宝血洗净我心</string>
    <string>1185叹人生是虚空</string>
    <string>1186耶稣爱我耶稣救我</string>
    <string>1187快乐多年</string>
    <string>1188敬畏主</string>
    <string>1188耶稣睁眼往下看</string>
    <string>1189耶稣血为我罪流出</string>
    <string>1190当信主耶稣</string>
    <string>1191耶稣基督爱世人</string>
    <string>1192我必赐福给你</string>
    <string>1193朋友们!听我言</string>
    <string>1194身是灵魂穿的衣</string>
    <string>1195信主的人有永生</string>
    <string>1196耶稣要</string>
    <string>1197亲爱的主</string>
    <string>1198常与主同在实在美好</string>
    <string>1199他是我的避难所</string>
    <string>1200你若遵行我的道</string>
    <string>1201慈悲的救主</string>
    <string>1202敬和拜;1203惟主能救我</string>
    <string>1203惟主能救我</string>
    <string>1204唯有主耶稣的宝血</string>
    <string>1205赞美之泉</string>
    <string>1206光明之子</string>
    <string>1207人子来</string>
    <string>1208万军之耶和华;1209快乐颂</string>
    <string>1209快乐颂</string>
    <string>1210信念永不被江河阻隔</string>
    <string>1211主我敬拜你</string>
    <string>1212主赐福如春雨</string>
    <string>1213我们若认自己的罪</string>
    <string>1214认识你真好</string>
    <string>1215兴起为耶稣</string>
    <string>1216牺牲的爱</string>
    <string>1217主被钉十字架为我</string>
    <string>1218兴起发光</string>
    <string>1219这是耶和华所定的日子</string>
    <string>1220彩虹下的约定</string>
    <string>1221他将我们的罪</string>
    <string>1222一切歌颂赞美归主</string>
    <string>1223在我里面</string>
    <string>1224荣耀的殿</string>
    <string>1225我躺下睡觉</string>
    <string>1226走进恩典时代</string>
    <string>1227难忘你那三十三年</string>
    <string>1228我今到十字架下</string>
    <string>1229客西马尼歌</string>
    <string>1230人岂能在隐秘处藏身</string>
    <string>1231知足常乐</string>
    <string>1232愿耶和华赐福给你</string>
    <string>1234你往哪里去</string>
    <string>1235人间第一情</string>
    <string>1236新年唱新歌</string>
    <string>1237爱在我们里面得以完全</string>
    <string>1238人生就如一杯酒 001</string>
    <string>1239享福永远</string>
    <string>1240道成肉身</string>
    <string>1241主最爱听</string>
    <string>1242恩主啊恩主</string>
    <string>1243岂不知你们的身子</string>
    <string>1244走出软弱</string>
    <string>1245轻轻听</string>
    <string>1246耶和华对我主说</string>
    <string>1247主与我家同在歌</string>
    <string>1248喜庆圣诞歌</string>
    <string>1249主啊我要有你</string>
    <string>1250奋蹄歌</string>
    <string>1251你给世界带来希望</string>
    <string>1252耶稣是我一生的避难所</string>
    <string>1253赏赐的是主</string>
    <string>1254宝血十架歌</string>
    <string>1255爱主要有火热的心</string>
    <string>1256教养孩童</string>
    <string>1257基督降生</string>
    <string>1258你当预备迎见你的神</string>
    <string>1259世上的国世上的国</string>
    <string>1260他爱我们用自己的血</string>
    <string>1261主神啊我们感谢你</string>
    <string>1262神儿女享受真福气</string>
    <string>1263我所切慕所盼望的</string>
    <string>1264因此我在父面前屈膝</string>
    <string>1265不是模仿不是装</string>
    <string>1266圣灵大作工;1267我今真软弱</string>
    <string>1267我今真软弱</string>
    <string>1268我们的方舟;</string>
    <string>1269每日</string>
    <string>1270我虽卑贱微小</string>
    <string>1271我是庄稼</string>
    <string>1272耶稣必定要再来</string>
    <string>1273礼拜日</string>
    <string>1274要实行</string>
    <string>1275多祷告</string>
    <string>1276感谢主</string>
    <string>1277天上来封信</string>
    <string>1278弟兄姐妹蒙恩要下山</string>
    <string>1279弟兄姐妹相聚在一起</string>
    <string>1280弟兄姐妹无孝团</string>
    <string>1281十字架的学校</string>
    <string>1282头上须戴救恩盔</string>
    <string>1283今天有平安;</string>
    <string>1284不叫你生气</string>
    <string>1285努力胜三愁</string>
    <string>1286明知耶稣要来</string>
    <string>1287仔细想想</string>
    <string>1288多少个清晨jpg</string>
    <string>1289晚上聚会;</string>
    <string>1290每作礼拜</string>
    <string>1291起来我们走吧</string>
    <string>1292律法十条戒</string>
    <string>1293斗起精神</string>
    <string>1294看兆头</string>
    <string>1295弟兄姐妹多日没见面</string>
    <string>1296弟兄姐妹笑嘻嘻</string>
    <string>1297诗歌不唱忧愁多</string>
    <string>1298骄傲不得了</string>
    <string>1299大家细想想</string>
    <string>1300大家一同来作主工</string>
    <string>1301我心焦急</string>
</array>
</plist>
