<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>0001圣哉三一</string>
    <string>0002亚伯拉罕之神</string>
    <string>0003昔日所唱诗歌</string>
    <string>0004颂赞三一</string>
    <string>0005你们要赞美耶和华</string>
    <string>0006守望之使</string>
    <string>0007阿爸父啊</string>
    <string>0008你真伟大</string>
    <string>0009永世之光</string>
    <string>0010当赞美天父</string>
    <string>0011愿全地都敬畏耶和华</string>
    <string>0012坦然无惧</string>
    <string>0013荣耀归与天父</string>
    <string>0014赞父奇爱</string>
    <string>0015快乐崇拜</string>
    <string>0016超乎万有</string>
    <string>0017主啊我感谢你</string>
    <string>0018颂赞神爱</string>
    <string>0019我要颂扬</string>
    <string>0020荣耀归与最高神</string>
    <string>0021你们要敬畏耶和华</string>
    <string>0022敬畏耶和华</string>
    <string>0023同声赞美耶和华</string>
    <string>0024赞美天父宏恩</string>
    <string>0025我们要赞美耶和华</string>
    <string>0026赞美上帝</string>
    <string>0027神配受敬拜</string>
    <string>0028感谢至高神</string>
    <string>0029赞美圣父慈爱</string>
    <string>0030慈爱上帝歌</string>
    <string>0031耶和华的慈爱</string>
    <string>0032神本为大</string>
    <string>0033万国都要来赞美主</string>
    <string>0034敬拜万世之王</string>
    <string>0035全能真神</string>
    <string>0036欢乐颂扬</string>
    <string>0037万福真源</string>
    <string>0038主前崇拜</string>
    <string>0039全能的创造主</string>
    <string>0040向主唱新歌</string>
    <string>0041神啊你荣耀之名</string>
    <string>0042荣耀归主</string>
    <string>0043尊主为王</string>
    <string>0044有膝都当跪下</string>
    <string>0045我主满心慈爱</string>
    <string>0046都来赞美主</string>
    <string>0047大哉圣名</string>
    <string>0048荣耀的主</string>
    <string>0049耶稣名字至尊</string>
    <string>0050惟主是配</string>
    <string>0051千万声音</string>
    <string>0052何等救主</string>
    <string>0053颂主大爱</string>
    <string>0054赞美救主</string>
    <string>0055惟独耶稣是我信息</string>
    <string>0056齐来歌唱</string>
    <string>0057亲爱救主</string>
    <string>0058主是我的诗歌</string>
    <string>0059主先爱我</string>
    <string>0060你配得至圣尊荣</string>
    <string>0061美哉善哉</string>
    <string>0062我要赞美主</string>
    <string>0063我要颂主大慈爱</string>
    <string>0064奇妙救主</string>
    <string>0065赞主慈爱</string>
    <string>0066愿你为大</string>
    <string>0067颂主歌</string>
    <string>0068全然可爱</string>
    <string>0069羔羊是配</string>
    <string>0070主爱无量</string>
    <string>0071耶稣尊名</string>
    <string>0072可爱的耶稣</string>
    <string>0073赞美主名</string>
    <string>0074思念主爱</string>
    <string>0075奇妙的救恩</string>
    <string>0076耶稣一生</string>
    <string>0077主啊我赞美你</string>
    <string>0078奇妙的良友</string>
    <string>0079磐石耶稣基督</string>
    <string>0080颂赞主圣名</string>
    <string>0081同来崇拜</string>
    <string>0082神圣纯爱</string>
    <string>0083耶稣爱你</string>
    <string>0084谁能与主相比</string>
    <string>0085选一支最好的琴</string>
    <string>0086耶稣是我神</string>
    <string>0087美哉主耶稣</string>
    <string>0088尊崇主我王</string>
    <string>0089牺牲的爱</string>
    <string>0090主爱有多深</string>
    <string>0091主名馨香</string>
    <string>0092耶稣我主</string>
    <string>0093敬拜主</string>
    <string>0094荣耀救主</string>
    <string>0095荣耀的君王</string>
    <string>0096主的爱</string>
    <string>0097荣耀神羔羊</string>
    <string>0098赞美耶稣圣名</string>
    <string>0099有一位神</string>
    <string>0100羔羊真配得</string>
    <string>0101圣洁羔羊</string>
    <string>0102恳求圣灵</string>
    <string>0103满受圣灵</string>
    <string>0104圣灵降临</string>
    <string>0105真理圣灵</string>
    <string>0106圣灵充满我心</string>
    <string>0107神的圣灵</string>
    <string>0108圣灵引导</string>
    <string>0109永活神的灵</string>
    <string>0110甘泉歌</string>
    <string>0111在旷野加底斯</string>
    <string>0112圣灵如鸽</string>
    <string>0113你要听从圣灵</string>
    <string>0114慈悲圣灵</string>
    <string>0115五旬节的大能</string>
    <string>0116主舍宝座</string>
    <string>0117欢乐佳音</string>
    <string>0118听啊天使赞高声</string>
    <string>0119主来为我</string>
    <string>0120回想当年</string>
    <string>0121圣诞佳音</string>
    <string>0122平安夜</string>
    <string>0123耶稣降生</string>
    <string>0124东方明星</string>
    <string>0125明星灿烂</string>
    <string>0126普世欢腾</string>
    <string>0127圣诞之夜</string>
    <string>0128以马内利来临</string>
    <string>0129众扬声赞美主</string>
    <string>0130哈利路亚</string>
    <string>0131齐来崇拜</string>
    <string>0132马槽圣婴</string>
    <string>0133大喜信息</string>
    <string>0134基督降世</string>
    <string>0135弥赛亚之歌</string>
    <string>0136普天同庆喜洋洋</string>
    <string>0137荣耀真神</string>
    <string>0138圣诞快乐</string>
    <string>0139歌颂真光来到</string>
    <string>0140庆祝圣诞</string>
    <string>0141普天同庆主降生</string>
    <string>0142旷野奇景</string>
    <string>0143有一婴孩</string>
    <string>0144牧羊人之歌</string>
    <string>0145寒风吹夜色沉</string>
    <string>0146天使报佳音</string>
    <string>0147我们同庆贺圣诞</string>
    <string>0148圣夜清圣夜静</string>
    <string>0149主如明亮晨星</string>
    <string>0150在各各他</string>
    <string>0151主在世的路程</string>
    <string>0152赞美不尽</string>
    <string>0153你孤单吗</string>
    <string>0154与主同忧</string>
    <string>0155主钉十架</string>
    <string>0156奇妙十架</string>
    <string>0157耶稣死是为我</string>
    <string>0158十架永存</string>
    <string>0159耶稣为我</string>
    <string>0160主十字架</string>
    <string>0161主啊我怎能不爱你</string>
    <string>0162加略山的爱</string>
    <string>0163主为我舍命</string>
    <string>0164寒风吹过客西马尼</string>
    <string>0165到加略山</string>
    <string>0166救主受苦</string>
    <string>0167主曾舍命为你</string>
    <string>0168我心爱主</string>
    <string>0169主替我受咒诅</string>
    <string>0170看主钉眼</string>
    <string>0171十架道路</string>
    <string>0172主是永久磐石</string>
    <string>0173功成十架</string>
    <string>0174真可赞美耶稣</string>
    <string>0175我们忧患主担当</string>
    <string>0176怎能把主舍下</string>
    <string>0177羔羊脚踪</string>
    <string>0178想起主恩</string>
    <string>0179爱的道路</string>
    <string>0180被杀羔羊</string>
    <string>0181救主复活</string>
    <string>0182救主升天</string>
    <string>0183天堂歌声</string>
    <string>0184凯旋曲</string>
    <string>0185耶稣复生</string>
    <string>0186复活良晨</string>
    <string>0187复活在主</string>
    <string>0188欢迎快乐晨</string>
    <string>0189主是生命</string>
    <string>0190赞美主复活</string>
    <string>0191儆醒等候主来</string>
    <string>0192我王快来</string>
    <string>0193末日点名</string>
    <string>0194当恩主降临</string>
    <string>0195黑夜已深</string>
    <string>0196看哪新郎来到</string>
    <string>0197欢喜我王快来</string>
    <string>0198主在门口</string>
    <string>0199主必审判</string>
    <string>0200我愿你来</string>
    <string>0201荣耀的盼望</string>
    <string>0202主快来</string>
    <string>0203鉴察分明</string>
    <string>0204主必驾云降临</string>
    <string>0205你看今是何时</string>
    <string>0206主来近了</string>
    <string>0207主从天降临</string>
    <string>0208审判日要来</string>
    <string>0209我该怎么办</string>
    <string>0210听主声音</string>
    <string>0211何等甘美的故事</string>
    <string>0212耶稣是主</string>
    <string>0213靠主刚强</string>
    <string>0214慈悲救主</string>
    <string>0215耶稣愿救罪人</string>
    <string>0216神爱世人</string>
    <string>0217主愿救你</string>
    <string>0218人人都应该知道</string>
    <string>0219耶稣能救你</string>
    <string>0220主唤我跟随</string>
    <string>0221耶稣肯接待罪人</string>
    <string>0222主爱无穷尽</string>
    <string>0223神是爱你的神</string>
    <string>0224日光之下</string>
    <string>0225别无他名</string>
    <string>0226现代人的希望</string>
    <string>0227耶稣爱你</string>
    <string>0228请你早悔改</string>
    <string>0229快来信耶稣</string>
    <string>0230主等你回来</string>
    <string>0231劝你</string>
    <string>0232你为什么拒绝</string>
    <string>0233人生如舟行</string>
    <string>0234寻找</string>
    <string>0235我的歌</string>
    <string>0236莫错良机</string>
    <string>0237我的人生</string>
    <string>0238永恒的答问</string>
    <string>0239基督率你正路</string>
    <string>0240没有别的拯救</string>
    <string>0241有一件礼物</string>
    <string>0242接神至心</string>
    <string>0243是爱</string>
    <string>0244请来救主</string>
    <string>0245无知财主</string>
    <string>0246迷路的羊</string>
    <string>0247撒网的人</string>
    <string>0248永生门</string>
    <string>0249请开心门</string>
    <string>0250全人类的希望</string>
    <string>0251想</string>
    <string>0252忙来变歌</string>
    <string>0253生命亮光</string>
    <string>0254人生的福</string>
    <string>0255耶稣在叩门</string>
    <string>0256莫非就是你</string>
    <string>0257浪子回头</string>
    <string>0258现在回家</string>
    <string>0259望主得生</string>
    <string>0260权能是在血</string>
    <string>0261慈父与浪子</string>
    <string>0262我罪何等重大</string>
    <string>0263种与收</string>
    <string>0264来就主十架</string>
    <string>0265快悔改</string>
    <string>0266顺服神</string>
    <string>0267主的呼唤</string>
    <string>0268风和爱</string>
    <string>0269欢喜赞美主名</string>
    <string>0270全心赞美主</string>
    <string>0271因信称义</string>
    <string>0272耶稣住我心</string>
    <string>0273有平安在我心</string>
    <string>0274主作我友</string>
    <string>0275耶稣同在</string>
    <string>0276今我甚欢喜</string>
    <string>0277救我恩无量</string>
    <string>0278荣耀归主名</string>
    <string>0279荣耀之释放</string>
    <string>0280主使我知足</string>
    <string>0281快乐日</string>
    <string>0282哈拿的祷颂</string>
    <string>0283主所赐的平安</string>
    <string>0284主挑我重担</string>
    <string>0285新希望</string>
    <string>0286在主里喜乐</string>
    <string>0287赞美主耶稣</string>
    <string>0288我是耶稣门徒</string>
    <string>0289耶稣是生命源</string>
    <string>0290我只要主耶稣</string>
    <string>0291耶稣真甜美</string>
    <string>0292最大的财富</string>
    <string>0293赎罪的羔羊</string>
    <string>0294赞美之泉</string>
    <string>0295天国在你心里</string>
    <string>0296皆脱落</string>
    <string>0297救赎</string>
    <string>0298真快活</string>
    <string>0299耶稣给你平安</string>
    <string>0300有主当知足</string>
    <string>0301与主同死同活</string>
    <string>0302有福的确据</string>
    <string>0303甘心随主</string>
    <string>0304惟主能救我</string>
    <string>0305主恩更多</string>
    <string>0306奇恩临身</string>
    <string>0307洗罪之泉</string>
    <string>0308今来就主</string>
    <string>0309妙爱找我</string>
    <string>0310主血洗我心</string>
    <string>0311进入迦南</string>
    <string>0312宝血洗罪</string>
    <string>0313愿有耶稣</string>
    <string>0314不再是我</string>
    <string>0315清晨的阳光</string>
    <string>0316他是我友</string>
    <string>0317我需要耶稣</string>
    <string>0318奇妙恩典</string>
    <string>0319主恩不变</string>
    <string>0320因你永远不失信</string>
    <string>0321要主自己</string>
    <string>0322倚靠主膀臂</string>
    <string>0323主你若究查罪孽</string>
    <string>0324自从我认识耶稣</string>
    <string>0325拿撒勒人耶稣</string>
    <string>0326神啊我向你仰望</string>
    <string>0327今生不比永恒长</string>
    <string>0328和好</string>
    <string>0329叹徒受主恩</string>
    <string>0330我的心只属于你</string>
    <string>0331感谢主恩</string>
    <string>0332一生追求</string>
    <string>0333经历基督</string>
    <string>0334归回正路</string>
    <string>0335我的口要赞美</string>
    <string>0336万事无忌</string>
    <string>0337奇异恩典</string>
    <string>0338十字架</string>
    <string>0339除你以外</string>
    <string>0340为主而活</string>
    <string>0341宝贝放在瓦器里</string>
    <string>0342有一位好朋友</string>
    <string>0343爱的真谛</string>
    <string>0344是耶稣</string>
    <string>0345一根蜡烛</string>
    <string>0346若</string>
    <string>0347仔细想想</string>
    <string>0348人的生命只有一次</string>
    <string>0349来吧归向耶和华</string>
    <string>0350唯主耶稣</string>
    <string>0351怎样去选择</string>
    <string>0352你是我的音乐</string>
    <string>0353曙光</string>
    <string>0354主你真是爱我</string>
    <string>0355我只仰望于你</string>
    <string>0356我心爱的主</string>
    <string>0357依靠耶和华</string>
    <string>0358向神仰脸</string>
    <string>0359主像三朵花</string>
    <string>0360神所要的</string>
    <string>0361希望之星</string>
    <string>0362耶稣不改变</string>
    <string>0363谁能像你</string>
    <string>0364世界是旅行地方</string>
    <string>0365主名是坚固台</string>
    <string>0366时空不能隔绝他爱</string>
    <string>0367弦外之歌</string>
    <string>0368我怎能不爱主</string>
    <string>0369献上感恩</string>
    <string>0370再活一次</string>
    <string>0371我们献上敬拜赞美</string>
    <string>0372求主来到我们中间</string>
    <string>0373遇见主</string>
    <string>0374聚集在主宝座前</string>
    <string>0375乐守主日</string>
    <string>0376神的教会</string>
    <string>0377复兴你工作</string>
    <string>0378今到主殿</string>
    <string>0379求主复兴教会</string>
    <string>0380耶和华所定的日子</string>
    <string>0381同聚圣山</string>
    <string>0382平安佳日</string>
    <string>0383纪念主圣日</string>
    <string>0384来做礼拜像只羊</string>
    <string>0385礼拜散时</string>
    <string>0386施行洗礼</string>
    <string>0387归入基督</string>
    <string>0388纪念主</string>
    <string>0389想念主恩</string>
    <string>0390举行圣餐</string>
    <string>0391主的晚餐</string>
    <string>0392圣经的话</string>
    <string>0393圣经至宝</string>
    <string>0394生命的粮</string>
    <string>0395美哉圣经</string>
    <string>0396生命之道</string>
    <string>0397擘生命饼</string>
    <string>0398上帝的道</string>
    <string>0399律法书</string>
    <string>0400赐我圣经</string>
    <string>0401主啊我需要</string>
    <string>0402我何等爱慕</string>
    <string>0403心灵的饥渴</string>
    <string>0404主话藏心里</string>
    <string>0405主的话</string>
    <string>0406圣经目录歌</string>
    <string>0407我真心爱你</string>
    <string>0408求圣灵降临</string>
    <string>0409求天父施恩</string>
    <string>0410愿耶稣降临</string>
    <string>0411我们一起祷告吧</string>
    <string>0412经宝血来到父面前</string>
    <string>0413无别声音</string>
    <string>0414祈祷良时</string>
    <string>0415慈仁救主</string>
    <string>0416进人幔内</string>
    <string>0417在圣灵里祷告</string>
    <string>0418献上虔诚的祈祷</string>
    <string>0419多方祷告</string>
    <string>0420祈祷</string>
    <string>0421祷告与交通</string>
    <string>0422谁体贴主心</string>
    <string>0423为和平祈祷</string>
    <string>0424主祷文</string>
    <string>0425祷告的功效</string>
    <string>0426清心祷告主</string>
    <string>0427时时祷告</string>
    <string>0428重来主面前</string>
    <string>0429来到祈祷山</string>
    <string>0430求莫弃我</string>
    <string>0431主内团契</string>
    <string>0432和睦同居</string>
    <string>0433教会根基</string>
    <string>0434相约在主里</string>
    <string>0435活在神家里</string>
    <string>0436我们手牵手</string>
    <string>0437同一个地球</string>
    <string>0438欢迎欢迎</string>
    <string>0439我们又在一起</string>
    <string>0440同路人</string>
    <string>0441心连心</string>
    <string>0442欢呼主耶稣</string>
    <string>0443同声来歌唱</string>
    <string>0444让赞美飞扬</string>
    <string>0445彼此相爱</string>
    <string>0446一群大能的子民</string>
    <string>0447去传福音</string>
    <string>0448我要用你</string>
    <string>0449信徒快遵主命</string>
    <string>0450一只迷路羊</string>
    <string>0451请差遣我</string>
    <string>0452奉主差遣</string>
    <string>0453个人布道</string>
    <string>0454快送光</string>
    <string>0455耶稣派我牧羊</string>
    <string>0456还有谁在闲站</string>
    <string>0457勤劳蒙赏</string>
    <string>0458流泪撒种</string>
    <string>0459马其顿呼声</string>
    <string>0460早晚撒种</string>
    <string>0461我可以差遣谁</string>
    <string>0462普世传福音</string>
    <string>0463美好的仗</string>
    <string>0464鸽子飞吧</string>
    <string>0465主的恩召</string>
    <string>0466至宝佳音</string>
    <string>0467好消息</string>
    <string>0468传扬主救恩</string>
    <string>0469愿我变作光</string>
    <string>0470差我</string>
    <string>0471奉耶稣的名求</string>
    <string>0472全副军装</string>
    <string>0473精兵前进</string>
    <string>0474兴起为主</string>
    <string>0475善恶两军</string>
    <string>0476坚定宣告</string>
    <string>0477耶稣得胜</string>
    <string>0478得胜试探</string>
    <string>0479作主精兵</string>
    <string>0480靠主胜魔</string>
    <string>0481主是坚固保障</string>
    <string>0482往前走</string>
    <string>0483你当站住</string>
    <string>0484全能名</string>
    <string>0485靠着耶稣圣名</string>
    <string>0486耶稣门徒当留心</string>
    <string>0487耶稣全得胜</string>
    <string>0488我们要同心同步</string>
    <string>0489得胜的元帅</string>
    <string>0490向前进</string>
    <string>0491耶稣是我元帅</string>
    <string>0492奉主名得胜</string>
    <string>0493青年献身</string>
    <string>0494青年归主</string>
    <string>0495教会的希望</string>
    <string>0496青年兴起</string>
    <string>0497青春献与神</string>
    <string>0498青年崇拜</string>
    <string>0499为主而活</string>
    <string>0500献上最好的</string>
    <string>0501生命属于你</string>
    <string>0502快来就主</string>
    <string>0503耶稣爱我</string>
    <string>0504天父世界</string>
    <string>0505从前大卫王</string>
    <string>0506主我爱你</string>
    <string>0507兴起主日学</string>
    <string>0508神是爱</string>
    <string>0509读经祷告</string>
    <string>0510告别童年的梦</string>
    <string>0511恩光歌</string>
    <string>0512野地的花</string>
    <string>0513主肯赦免</string>
    <string>0514耶和华是我力量</string>
    <string>0515眼光</string>
    <string>0516我要仰望耶和华</string>
    <string>0517我</string>
    <string>0518异乡旅客</string>
    <string>0519信心生活</string>
    <string>0520信心之歌</string>
    <string>0521他不误事</string>
    <string>0522父神是信实的</string>
    <string>0523是主旨意</string>
    <string>0524靠主有福</string>
    <string>0525下锚于耶稣</string>
    <string>0526主啊我信</string>
    <string>0527应许不变</string>
    <string>0528神是我盾牌</string>
    <string>0529主是避难所</string>
    <string>0530主是我力量</string>
    <string>0531主要我得胜</string>
    <string>0532主永不离我</string>
    <string>0533主必预备</string>
    <string>0534主掌管明天</string>
    <string>0535神的旨意</string>
    <string>0536旷野开道路</string>
    <string>0537神要开道路</string>
    <string>0538因他活着</string>
    <string>0539耶稣领我</string>
    <string>0540耶和华是我牧者</string>
    <string>0541随主同行</string>
    <string>0542导我前行</string>
    <string>0543靠主引导</string>
    <string>0544全路程主领我</string>
    <string>0545灵程路上</string>
    <string>0546主操我舵</string>
    <string>0547主领我到青草地</string>
    <string>0548良伴引导</string>
    <string>0549主活着</string>
    <string>0550主牵我手</string>
    <string>0551亲爱主握我手</string>
    <string>0552信靠顺服</string>
    <string>0553谦卑随主</string>
    <string>0554我要跟从救主</string>
    <string>0555跟主脚踪</string>
    <string>0556我愿意降服</string>
    <string>0557生命路</string>
    <string>0558求主为我拣选</string>
    <string>0559合一之路</string>
    <string>0560受苦与顺服</string>
    <string>0561凭你意行</string>
    <string>0562惟主是至宝</string>
    <string>0563十架荫下</string>
    <string>0564时刻需主</string>
    <string>0565主你最知道</string>
    <string>0566神的道路</string>
    <string>0567当依靠主</string>
    <string>0568主爱长阔高深</string>
    <string>0569乐意奉献</string>
    <string>0570主为第一</string>
    <string>0571都归耶稣</string>
    <string>0572奉献身心归主</string>
    <string>0573心愿</string>
    <string>0574将心归主</string>
    <string>0575完全献上</string>
    <string>0576奉献</string>
    <string>0577事奉回顾</string>
    <string>0578十字架的爱</string>
    <string>0579工作回忆</string>
    <string>0580跟主走牺牲路</string>
    <string>0581尽忠</string>
    <string>0582当刚强壮胆</string>
    <string>0583向主忠贞</string>
    <string>0584起来</string>
    <string>0585永生的路</string>
    <string>0586先贤之信</string>
    <string>0587忍耐歌</string>
    <string>0588靠主得胜</string>
    <string>0589努力向前走</string>
    <string>0590为主舍己</string>
    <string>0591有一条路</string>
    <string>0592是谁为主</string>
    <string>0593惟主至宝</string>
    <string>0594我心爱慕</string>
    <string>0595求主帮助</string>
    <string>0596同工守则</string>
    <string>0597羔羊血洗净</string>
    <string>0598跟随耶稣走</string>
    <string>0599不是依靠势力</string>
    <string>0600放下重担</string>
    <string>0601为主求悦</string>
    <string>0602这是正路</string>
    <string>0603努力进神国</string>
    <string>0604忠心到底</string>
    <string>0605永不回头</string>
    <string>0606跟主不后悔</string>
    <string>0607别轻易放弃</string>
    <string>0608此路要走</string>
    <string>0609兴起底波拉</string>
    <string>0610前进向前进</string>
    <string>0611握手</string>
    <string>0612主背十字架</string>
    <string>0613爱的雕琢</string>
    <string>0614主意尽美</string>
    <string>0615十架与恩典</string>
    <string>0616我心爱主</string>
    <string>0617炼我愈精</string>
    <string>0618非常的岁月里</string>
    <string>0619甜酸苦辣</string>
    <string>0620一条小路</string>
    <string>0621笼中小鸟</string>
    <string>0622受苦与我有益</string>
    <string>0623凄风苦雨</string>
    <string>0624有舍有得</string>
    <string>0625奇美十架</string>
    <string>0626主恩够用</string>
    <string>0627背十架</string>
    <string>0628生命的江河</string>
    <string>0629倚靠永远的圣手</string>
    <string>0630安稳在主手</string>
    <string>0631主眼看顾</string>
    <string>0632主是避难所</string>
    <string>0633耶稣明白</string>
    <string>0634想起了主</string>
    <string>0635主正怀念我</string>
    <string>0636永活的主</string>
    <string>0637数算主恩</string>
    <string>0638天父必看顾</string>
    <string>0639不要忧愁</string>
    <string>0640主是磐石</string>
    <string>0641奇妙应许</string>
    <string>0642他都知道</string>
    <string>0643你当告诉耶稣</string>
    <string>0644除你以外</string>
    <string>0645主永活在我心</string>
    <string>0646耶稣是我牧人</string>
    <string>0647时刻仰望主</string>
    <string>0648微声盼望</string>
    <string>0649他必应允</string>
    <string>0650耶和华以勒</string>
    <string>0651耶和华是爱</string>
    <string>0652昂首无惧</string>
    <string>0653神曾应许</string>
    <string>0654神爱真情不变</string>
    <string>0655神是我帮助</string>
    <string>0656主是最知心朋友</string>
    <string>0657神迹</string>
    <string>0658我愿爱主</string>
    <string>0659如何见主</string>
    <string>0660时候不多</string>
    <string>0661教会危机</string>
    <string>0662主寻亡羊</string>
    <string>0663乐作主仆</string>
    <string>0664田地里的庄稼</string>
    <string>0665谁与主同心</string>
    <string>0666主我的好牧人</string>
    <string>0667关心神家</string>
    <string>0668请听主呼声</string>
    <string>0669牧人哪回来吧</string>
    <string>0670谁肯辞世界</string>
    <string>0671神殿荒凉</string>
    <string>0672庄稼到处成熟</string>
    <string>0673牧养主羊</string>
    <string>0674你在哪里</string>
    <string>0675地狱呼声</string>
    <string>0676在古老的东方</string>
    <string>0677末后景况</string>
    <string>0678牧羊人</string>
    <string>0679主我爱你</string>
    <string>0680主的钟声</string>
    <string>0681万物的结局近了</string>
    <string>0682抛开属地的追求</string>
    <string>0683新天地好伴侣</string>
    <string>0684自伯大尼后</string>
    <string>0685最好的朋友</string>
    <string>0686他是阿拉法</string>
    <string>0687从新得力</string>
    <string>0688感恩之歌</string>
    <string>0689耶稣为友</string>
    <string>0690心中有光</string>
    <string>0691我的心愿</string>
    <string>0692教会将要被提</string>
    <string>0693走过的路</string>
    <string>0694耶和华拉法</string>
    <string>0695我们不丧胆</string>
    <string>0696华冠代替灰尘</string>
    <string>0697因主欢欣</string>
    <string>0698仰望耶稣</string>
    <string>0699金钱不是万能</string>
    <string>0700甘美人生</string>
    <string>0701如鹰展翅上腾</string>
    <string>0702彩虹下的约定</string>
    <string>0703主名最甜</string>
    <string>0704新天新地</string>
    <string>0705啊家乡</string>
    <string>0706天城美景</string>
    <string>0707问客何往</string>
    <string>0708甘美天家</string>
    <string>0709有一地方</string>
    <string>0710你去不去</string>
    <string>0711荣美家乡</string>
    <string>0712啊多美的家</string>
    <string>0713我家在天</string>
    <string>0714赞慕美地</string>
    <string>0715天堂真快乐</string>
    <string>0716思念天家</string>
    <string>0717甘甜的家</string>
    <string>0718快乐天家</string>
    <string>0719生命河岸</string>
    <string>0720走向家园</string>
    <string>0721世界非我家</string>
    <string>0722仰望我家乡</string>
    <string>0723华美的天堂</string>
    <string>0724永恒的国度</string>
    <string>0725美好的家乡</string>
    <string>0726踏上天国的征途</string>
    <string>0727有你没你</string>
    <string>0728归应许美地</string>
    <string>0729可爱的国度</string>
    <string>0730圣洁的天堂</string>
    <string>0731主备安宅</string>
    <string>0732切望神的日子</string>
    <string>0733赏赐</string>
    <string>0734新耶路撒冷</string>
    <string>0735更美的家乡</string>
    <string>0736天门为我敞开</string>
    <string>0737登耶和华的山</string>
    <string>0738我家在彼</string>
    <string>0739圣洁仁爱</string>
    <string>0740基督在我心</string>
    <string>0741我要更像主</string>
    <string>0742主我愿单属你</string>
    <string>0743主前问心</string>
    <string>0744愿像基督</string>
    <string>0745白超乎雪</string>
    <string>0746求主长在我心</string>
    <string>0747安息于主</string>
    <string>0748专一爱主</string>
    <string>0749我的意念不洁</string>
    <string>0750洁净我</string>
    <string>0751更进一步</string>
    <string>0752学像耶稣</string>
    <string>0753谨防小狐狸</string>
    <string>0754恳求怜恤我</string>
    <string>0755求主教导我明白</string>
    <string>0756更新我心意</string>
    <string>0757你们要谨慎</string>
    <string>0758使我仍得救恩之乐</string>
    <string>0759属灵之乐</string>
    <string>0760歌唱主爱</string>
    <string>0761思念主爱</string>
    <string>0762与主更近</string>
    <string>0763信徒被灵化</string>
    <string>0764爱主更深</string>
    <string>0765生命种子</string>
    <string>0766近乎我主</string>
    <string>0767进至圣所</string>
    <string>0768他是我主</string>
    <string>0769进深进深</string>
    <string>0770开我灵窍</string>
    <string>0771完全的满足</string>
    <string>0772我属耶稣</string>
    <string>0773主若是</string>
    <string>0774主是我所爱</string>
    <string>0775如鹿渴慕溪水</string>
    <string>0776耶稣我爱你</string>
    <string>0777良人和我</string>
    <string>0778心曲</string>
    <string>0779心灵的诗</string>
    <string>0780阿爸父</string>
    <string>0781我深愿亲近主</string>
    <string>0782来到神面前</string>
    <string>0783灵爱追求歌</string>
    <string>0784愿你吸引我</string>
    <string>0785你显能力的日子</string>
    <string>0786进入内室</string>
    <string>0787我要来爱主</string>
    <string>0788天父我来就近你</string>
    <string>0789主里甘甜</string>
    <string>0790你名似膏香</string>
    <string>0791耶稣你是宝贵</string>
    <string>0792求主与我同在</string>
    <string>0793我渴想亲近主</string>
    <string>0794进入主的同在</string>
    <string>0795你是我唯一诗歌</string>
    <string>0796复兴的火焰</string>
    <string>0797走出软弱</string>
    <string>0798我真怕有一天</string>
    <string>0799灵恩如雨</string>
    <string>0800重来求主喜欢</string>
    <string>0801拥戴他为王</string>
    <string>0802怎能</string>
    <string>0803是我否</string>
    <string>0804器皿倒空</string>
    <string>0805愿灵火复兴我</string>
    <string>0806完全更新</string>
    <string>0807爱化冷心</string>
    <string>0808求主真光照亮我</string>
    <string>0809当洒心灵泪</string>
    <string>0810求充满我们</string>
    <string>0811在神前省察</string>
    <string>0812抓住主不放</string>
    <string>0813灵风吹我心</string>
    <string>0814回首再回首</string>
    <string>0815我曾说跟随主</string>
    <string>0816加倍的灵感</string>
    <string>0817主内同工同道</string>
    <string>0818聚会大意</string>
    <string>0819我的灵渴慕你</string>
    <string>0820我的灵真渴慕</string>
    <string>0821献上自己为祭</string>
    <string>0822要等候主</string>
    <string>0823我灵渴慕你</string>
    <string>0824求主怜悯我们</string>
    <string>0825我的灯需要油</string>
    <string>0826如今更真实</string>
    <string>0827主耶和华的灵</string>
    <string>0828奇妙圣灵能力</string>
    <string>0829圣灵的能力</string>
    <string>0830圣灵运行在这里</string>
    <string>0831举手领受恩膏</string>
    <string>0832求复兴我们</string>
    <string>0833点燃复兴的火</string>
    <string>0834我真渴慕你恩膏</string>
    <string>0835涌出活水</string>
    <string>0836黑门甘露</string>
    <string>0837这里有神的同在</string>
    <string>0838我心快乐</string>
    <string>0839从天降下来</string>
    <string>0840当圣灵在我心</string>
    <string>0841圣灵在我心</string>
    <string>0842主喜乐充满我心</string>
    <string>0843来穿赞美衣裳</string>
    <string>0844赞美耶稣活水江河</string>
    <string>0845主我敬拜你</string>
    <string>0846旷野不再荒凉</string>
    <string>0847切切的呼求</string>
    <string>0848哈利路亚</string>
    <string>0849荣耀都归主</string>
    <string>0850以马内利</string>
    <string>0851在神的圣所赞美</string>
    <string>0852在主座前敬拜</string>
    <string>0853随时赞美</string>
    <string>0854耶和华我的神</string>
    <string>0855赞美全能主</string>
    <string>0856有一位救主</string>
    <string>0857奇妙的双手</string>
    <string>0858赞美的祭</string>
    <string>0859全然向你</string>
    <string>0860用我一生</string>
    <string>0861圣诗歌赞美主</string>
    <string>0862将荣耀归给神</string>
    <string>0863我在这里赞美</string>
    <string>0864赞美歌颂主</string>
    <string>0865神的众子啊</string>
    <string>0866尽情赞美主</string>
    <string>0867我要赞美你</string>
    <string>0868歌颂赞美归主</string>
    <string>0869神是应当称颂的</string>
    <string>0870来敬拜主</string>
    <string>0871赞美歌声不息</string>
    <string>0872主这样眷顾我</string>
    <string>0873感谢神</string>
    <string>0874主爱在我心</string>
    <string>0875认识了主</string>
    <string>0876默想主恩</string>
    <string>0877感恩的泪</string>
    <string>0878何等大的慈爱</string>
    <string>0879想起主恩</string>
    <string>0880举起救恩的杯</string>
    <string>0881天父在等我</string>
    <string>0882荒漠甘泉</string>
    <string>0883哦主我爱你</string>
    <string>0884主爱有多少</string>
    <string>0885主我想问一问你</string>
    <string>0886无声的赞美</string>
    <string>0887托住我的是你</string>
    <string>0888主大慈爱</string>
    <string>0889耶稣的深恩</string>
    <string>0890呼唤</string>
    <string>0891是主改变我</string>
    <string>0892主的慈爱讲不完</string>
    <string>0893你是创造主</string>
    <string>0894赞美创造主</string>
    <string>0895万王之王万主之主</string>
    <string>0896向主高唱</string>
    <string>0897称颂主名</string>
    <string>0898颂赞全能上帝</string>
    <string>0899赞美至高主</string>
    <string>0900主使我喜乐</string>
    <string>0901感谢耶稣在我心</string>
    <string>0902我要来欢呼</string>
    <string>0903来一起赞美他</string>
    <string>0904我要举起我手</string>
    <string>0905主我爱你</string>
    <string>0906主名馨香</string>
    <string>0907全心赞美</string>
    <string>0908和散那</string>
    <string>0909神登宝座</string>
    <string>0910来庆贺</string>
    <string>0911让我们屈身敬拜</string>
    <string>0912神的仆人来赞美主</string>
    <string>0913要颂赞主圣名</string>
    <string>0914耶和华本为大</string>
    <string>0915以颂赞为祭</string>
    <string>0916荣耀归主名</string>
    <string>0917主爱无法表达</string>
    <string>0918神的慈爱永远长存</string>
    <string>0919称颂耶和华</string>
    <string>0920主的全能</string>
    <string>0921愿你崇高</string>
    <string>0922耶和华</string>
    <string>0923主名何其美</string>
    <string>0924求主保佑</string>
    <string>0925求你仰起脸来</string>
    <string>0926神哪我要赞美你</string>
    <string>0927向主唱新歌</string>
    <string>0928当唱诗歌颂</string>
    <string>0929尊主喜乐</string>
    <string>0930耶和华是我力量</string>
    <string>0931万民都当拍掌</string>
    <string>0932都当赞美神</string>
    <string>0933我必称颂神</string>
    <string>0934你当默默无声</string>
    <string>0935义人当靠耶和华</string>
    <string>0936天离地何等</string>
    <string>0937神是避难所</string>
    <string>0938往耶和华的殿去</string>
    <string>0939耶和华作王</string>
    <string>0940向耶和华欢呼</string>
    <string>0941求你不要耽延</string>
    <string>0942称谢耶和华</string>
    <string>0943赞美神的名</string>
    <string>0944凡投靠你的</string>
    <string>0945不可忘恩</string>
    <string>0946展开清晨的翅膀</string>
    <string>0947不可忘记主恩</string>
    <string>0948神用笑脸帮助我们</string>
    <string>0949走到神的祭坛</string>
    <string>0950义人必蒙福</string>
    <string>0951向主呼吁</string>
    <string>0952求主怜悯我们</string>
    <string>0953被掳之歌</string>
    <string>0954我的力量与山寨</string>
    <string>0955基督化家庭</string>
    <string>0956敬虔家庭</string>
    <string>0957恭逢婚礼</string>
    <string>0958教会婚礼</string>
    <string>0959公行婚礼</string>
    <string>0960欢乐之日</string>
    <string>0961离世归天</string>
    <string>0962世福无常</string>
    <string>0963人生在世</string>
    <string>0964天城福乐</string>
    <string>0965主里安息</string>
    <string>0966人生如客</string>
    <string>0967追思歌</string>
    <string>0968门徒去世</string>
    <string>0969我们唱诗歌</string>
    <string>0970主的鞭伤有医治</string>
    <string>0971新堂落成</string>
    <string>0972迁居礼拜</string>
    <string>0973主祝福我国家</string>
    <string>0974新年进步</string>
    <string>0975新年赞美</string>
    <string>0976新年赞歌</string>
    <string>0977从岁首到年终</string>
    <string>0978新年歌</string>
    <string>0979用灵歌唱</string>
    <string>0980明天歌</string>
    <string>0981新年祝福</string>
    <string>0982走向新时代</string>
    <string>0983一年如一日</string>
    <string>0984又过一日</string>
    <string>0985早晨求恩</string>
    <string>0986清早起来赞美</string>
    <string>0987新年快乐</string>
    <string>0988我有明天</string>
    <string>0989晨更赞美</string>
    <string>0990敬拜的时候</string>
    <string>0991新的一天</string>
    <string>0992再相会</string>
    <string>0993我多想见到你</string>
    <string>0994短暂的相聚</string>
    <string>0995走过秋天</string>
    <string>0996三叠离歌</string>
    <string>0997远行</string>
    <string>0998何时相见</string>
    <string>0999我祝愿神的仆人</string>
    <string>01000主爱永偕</string>
    <string>1001荣耀神羔羊</string>
    <string>1002三一颂</string>
    <string>1003乐河的水</string>
    <string>1004主配受赞美</string>
    <string>1005来赞美主</string>
    <string>1006主必引导</string>
    <string>1007开启双眼</string>
    <string>1008唱哈利路亚</string>
    <string>1009得胜荣耀</string>
    <string>1010主爱永不变</string>
    <string>1011在神殿宇里</string>
    <string>1012主的怜爱</string>
    <string>1013主内有平安</string>
    <string>1014以爱为旗</string>
    <string>1015如何奔灵程</string>
    <string>1016圣灵里合一</string>
    <string>1017凯歌</string>
    <string>1018主爱不变</string>
    <string>1019谁能登神的山</string>
    <string>1020等候耶和华</string>
    <string>1021你是我的主</string>
    <string>1022耶和华靠近伤心人</string>
    <string>1023耶和华啊</string>
    <string>1024为真理扬旗</string>
    <string>1025得救与得力</string>
    <string>1026打胜仗歌</string>
    <string>1027主爱怜我</string>
    <string>1028十架福音</string>
    <string>1029主是葡萄树</string>
    <string>1030亲近主</string>
    <string>1031先求神的国</string>
    <string>1032他的怒气</string>
    <string>1033指望在神</string>
    <string>1034不要怕只要信</string>
    <string>1035惟靠主的灵</string>
    <string>1036定事有耶和华</string>
    <string>1037求主鉴察</string>
    <string>1038灵火继焚烧</string>
    <string>1039总要儆醒祷告</string>
    <string>1040得人如鱼</string>
    <string>1041我赤身出于母胎</string>
    <string>1042压伤的芦苇</string>
    <string>1043来真心懊悔</string>
    <string>1044不可退后</string>
    <string>1045主里合一</string>
    <string>1046求五旬节灵恩</string>
    <string>1047作无愧的工人</string>
    <string>1048作新造人</string>
    <string>1049保守自己</string>
    <string>1050靠主能再会</string>
</array>
</plist>
